<!-- <div class="row">
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img class='materialboxed' data-caption='Mount Bierstadt - 14,065′' id='bio_pic' src="images/Vince.jpg">
        <span class="card-title" id='card-title'>Vince Vahala</span>
      </div>
      <div class="card-content">
        <p>Hello! I'm Vince Vahala. Frontend Application Developer, UI/UX guru, CSS Ninja with a profound appreciation and childlike infatuation with mountains. Climbing, hiking, camping, and exploring in my free time. Bet I'll beat you to the summit.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l8">
    <div class="card-panel light-blue">
      <span class="white-text">
        From a small industrial town in Indiana, I grew up playing any sport imaginable in traveling leagues, in the backyard, or on a friend's outdoor baskeball hoop. I attended Indiana University in Beautiful Bloomington, IN, studying Environmental Management at IU's School of Public and Environmental Affairs as well as Marketing through the Kelley School of Business. While at school I found the opportunity to study abroad a semester in Barcelona, Catalonia, Espana where I fell in love with the Catalonian lifestyle. After graduation, I packed my Jeep up with all that would fit and moved to Colorado. Best decision of my life.
        <hr id='bioHr'>
        <p id='bioSubParagraph'>Currently I am an independent Frontend Developer and Podcast co-host for Spoilers! Podcast.</p>
      </span>
    </div>
  </div>

  <div class="col s12 m7 l4">
    <div class="card medium">
      <div class="card-image">
        <img class='materialboxed' data-caption='Christian Watford with the December 10th, 2010 upset 3-pointer over then #1 Kentucky' src="images/Wat-Shot.jpg">
        <span class="card-title" id='card-title'>The Wat Shot</span>
      </div>
      <div class="card-content">
        <p>One of the millions of memories I cherish from my time attending Indiana University.</p>
      </div>
      <div class="card-action">
        <a href="https://www.youtube.com/watch?v=6xbbrLBX0rk" target='_blank'>Watch the Shot</a>
        <p><a href="https://www.indiana.edu/" target='_blank'>Visit IU Bloomington</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m5 l4">
    <div class="card medium">
      <div class="card-image">
        <img class='materialboxed' data-caption='Park Güell' src="images/Barcelona-Spain.jpg">
        <span class="card-title" id='card-title'>Barcelona</span>
      </div>
      <div class="card-content">
        <p>A view from Park Güell. Antoni Gaudí's architectual influence on Barcelona with Catalan Moderism is one of a kind.</p>
      </div>
      <div class="card-action">
        <a href="http://www.barcelona.com/" target='_blank'>Visit Barcelona</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card horizontal small">
      <div class="card-image">
        <img src="images/Spoilers-Logo.jpeg">
        <span class="card-title" id='card-title'>Podcast</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Welcome to Spoilers! Podcast where we ruin cinema one film at a time.</p>
          <br>
          <p id='spoilers-sub-paragraph'>Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!</p>
        </div>
        <div class="card-action">
          <a href="https://itunes.apple.com/us/podcast/spoilers!/id1099500074?mt=2" targe='_blank'>Free iTunes Subscription</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="card large">
      <div class="card-image">
        <img class='materialboxed' data-caption='La Plata Peak - 14,360`' src="images/La-Plata-Peak.jpeg">
        <span class="card-title" id='card-title'>La Plata Peak - 14,360′</span>
      </div>
      <div class="card-content">
        <p>"I'd rather be at 14,000 feet". My Favorite thing to do in my new home state of Colorado is to  Bag Peaks -- the higher the peak the better.</p>
      </div>
      <div class="card-action">
        <a href="http://www.14ers.com/" target='_blank'>Visit 14ers.com</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6">
    <div class="card large">
      <div class="card-image">
        <img class='materialboxed' data-caption='Boulder Field in Moab' src="images/Boulder-Field.jpg">
        <span class="card-title" id='card-title'>Boulder Field in Moab, Utah</span>
      </div>
      <div class="card-content">
        <p>There's an innate itch to climb rocks burning inside of me that I can't seem to scratch. </p>
      </div>
      <div class="card-action">
        <a href="https://www.mountainproject.com/" target='_blank'>Find your Beta</a>
      </div>
    </div>
  </div>
</div> -->


<!-- TEST -->
<div class="bio-container">
  <div class="row">
    <h1 class="header center page-header hide-on-small-only">Meet Vince Vahala</h1>
    <h3 class="header center page-header hide-on-med-and-up">Meet Vince Vahala</h3>
    <h5 class="header center section-header hide-on-small-only" id='bio-card-header'>Frontend Developer & Spoilers! Podcast Co-Host<br></h5>
    <h6 class="header center section-header hide-on-med-and-up" id='bio-card-header'>Frontend Developer & Spoilers! Podcast Host</h6>
    <br>
    <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-image">
          <img class='materialboxed' data-caption='Mount Bierstadt - 14,065′' id='bio_pic' src="images/Vince.jpg">
          <span class="card-title" id='card-title'>Vince Vahala</span>
        </div>
      </div>
    </div>
      <div class="col s12 m8 l9">
        <div class="card-stacked bio-intro-card">
          <div class="card-content center">
            <br>
            <p class='flow-text'>Hello! I'm Vince Vahala. Frontend Application Developer, UI/UX guru, CSS Ninja with a profound appreciation and childlike infatuation with mountains. Climbing, hiking, camping, and exploring in my free time. Bet I'll beat you to the summit.</p>
            <br>
            <hr class='bio-intro-paragraph-card-hr'>
            <br>
            <p class='bio-card-content'>From a small industrial town in Indiana, I grew up playing any sport imaginable in traveling leagues, in the backyard, or on a friend's outdoor baskeball hoop. I attended Indiana University in Beautiful Bloomington, IN, studying Environmental Management at IU's School of Public and Environmental Affairs as well as Marketing through the Kelley School of Business. While at school I found the opportunity to study abroad a semester in Barcelona, Catalonia, Espana where I fell in love with the Catalonian lifestyle. After graduation, I packed my Jeep up with all that would fit and moved to Colorado. <em>Best decision of my life.</em></p>
          </div>
        </div>
      </div>
    </div>

  <div class="bio-mountains-para-container valign-wrapper">
    <p class='bio-mountain-parallax-text'><em>"Accessing the Inaccessible"</em></p>
  </div>
  <div class="bio-mountains-para-content">
    <!-- <p class='center'>HELLO, WORLD!</p> -->
  </div>
</div>
<!-- END TEST -->
