<!-- <h2>About Vince</h2> -->

<div class="row">
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img id='bio_pic' src="images/Vince.jpg">
        <span class="card-title"><strong>Vince Vahala</strong></span>
      </div>
      <div class="card-content">
        <p>Hello! I'm Vince Vahala. Frontend Application Developer, UI/UX guru, CSS Ninja with a profound appreciation and childlike infatuation with mountains. Climbing, hiking, camping, and exploring in my free time. </p>
      </div>
      <!-- <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div> -->
    </div>
  </div>

  

</div>
