<div class="bio-container container">
  <h1 class="header center page-header hide-on-small-only">Meet Vince Vahala</h1>
  <h3 class="header center page-header hide-on-med-and-up">Meet Vince Vahala</h3>

  <h5 class="header center section-header hide-on-small-only" id='bio-card-header'>UX/UI Developer | Mountaineer | Climber | Environmentalist</h5>
  <h6 class="header center section-header hide-on-med-and-up" id='bio-card-header'>UX/UI Developer<br><br> Mountaineer | Climber | Environmentalist</h6>
  <br />
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-image">
          <img class='materialboxed' data-caption='Mount Bierstadt - 14,065′' id='bio_pic' src="https://lh3.googleusercontent.com/oD21yzApDWhYkPEq9m0D84E4YZ-0Ky9Ud0VbDQZ1H8VrwqkMUIlpl1txY2PD1aB_Rfhz48XJo9Sue_hfrq8cqKW2TkIHOBYZrVBtvzkFo-_HQTQdP42kSNI94lXhIU1Gq8XjteQUwKcbSI1FPE9tRKLLmdVlI0DdRLfW0FzYAsQ2eoanTjkruzmTZhD08VhUSCg9qTQWq5DxNNC59DdZ7qW0rVHkVNjH7PCgjcEpT2J3CzjkHVvTQraTBz-KqpKzlfiUTrUTEvokpbunFkc85hhTccogDeD9-eFsFN_eQrFaXh5cQKSlL9itr3m57v1eGRG0PdGJsXAxqIrObnf8aszSvKxeFDagVuQHzC3Vxjn7kD4gwwsMQvfxuJD-MDhqQ7SL5YhOmjXvQKh1SYpPmVjI84SGT4mqgqOIPBMt4i_FD8RwPIHswXl3w6scHXkUctv7YZWojhGnNtiTB0T6xWYN3A2ga_lHp9LNf5rmaDLuDaoYIPVH7d0ZDh1JgaEctpTcSO7Fzc0sVcgvfT2vkdXpFl5zeHm0DIxFSFwIKapIboJp9uQSrW-1kmVUya3cJ0S1k6fKs_AB7fSVCFGtgZ-WoOam6C8Tl_6FU2Po7w=s725-no">
          <span class="card-title" id='card-title'>Vince Vahala</span>
        </div>
      </div>
    </div>
    <div class="col s12 m8 l9">
      <div class="card-stacked bio-intro-card">
        <div class="card-content center">
          <br>
          <p class='flow-text'>UX Designer, UI Developer, and Outdoorsman with a profound appreciation for mountains and the environment. Climbing, hiking, trail running, camping, and exploring in my free time..</p><br>
          <p class='flow-text'>..bet I'll beat you to the summit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
    <br />
    <div class="col s12">
      <div class="bio-card-content">
        <p>From a small industrial town in Indiana, I grew up playing any sport imaginable in traveling leagues, in the backyard, or on a friend's outdoor basketball hoop. I attended Indiana University in beautiful Bloomington, IN, studying <strong>Environmental Management</strong> at the School of Public and Environmental Affairs, while also snagging a <strong>Marketing</strong> minor through the Kelley School of Business.</p><br />
        <p>During my undergrad studies I found the opportunity to go abroad for a semester to study City Planning, Environmentalism, Public Policy, and the "Barcelona Model" in Barcelona, Spain. While abroad, I fell in love with the Catalonian lifestyle and expanded my world view towards that of environmentalism, sustainability, recycling, cultural differences, and so much more. After graduation, I packed my Jeep up with all that would fit and moved to Colorado.</p><br />
      </div>
    </div>
  </div>
</div>

<div class="bio-mountain-para-container valign-wrapper hide-on-small-only" id='bio-ScrollFire-Inititator'>
  <ul class='bio-mountain-parallax-text'>
    <li class="bio-mountain-ScrollFire" style="transform: translateX(0px); opacity: 0;">
      <p><em>Accessing the Inaccessible</em></p>
    </li>
  </ul>
</div>
