<div class="row container contact-container">
  <h1 class="header center page-header hide-on-med-and-down">Contact Vince</h1>
  <h3 class="header center green-text text-accent-4 hide-on-large-only">Contact Vince</h3>
  <ul class="collection col s12 m5 l4" id='contact-list'>
    <li class="collection-item avatar valign-wrapper" id="contact-list-items">
      <i id='contact-icon' class="material-icons circle green valign">home</i>
      <p>Denver, CO</p>
    </li>
    <li class="collection-item avatar valign-wrapper" id="contact-list-items">
      <i id='contact-icon' class="material-icons circle green valign">email</i>
      <a class="text-link" href="mailto:VinceVahala@gmail.com">VinceVahala@gmail.com</a>
    </li>
    <li class="collection-item avatar valign-wrapper" id="contact-list-items">
      <i id='contact-icon' class="material-icons circle valing">phone</i>
      <p>574-xxx-xxxx</p>
    </li>
    <li class="collection-item avatar valign-wrapper" id="contact-list-items">
      <i id='contact-icon' class="material-icons circle green valign">portrait</i>
      <p><a class="text-link" href='https://www.linkedin.com/in/vincevahala' target='_blank'>/in/vincevahala</a></p>
    </li>
    <li class="collection-item avatar valign-wrapper" id="contact-list-items">
      <i id='contact-icon' class="material-icons circle green valign">code</i>
      <p><a class="text-link" href='https://github.com/Vinsanety' target='_blank'>/Vinsanety</a></p>
    </li>
  </ul>
  <br />
  <form class="col s12 m7 l8" method="POST" action="https://formspree.io/vincevahala@gmail.com">
    <div class="row">
      <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix" id="contact-form-icons">account_circle</i>
        <input id="name" type="text" class="validate" name="Name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix" id="contact-form-icons">email</i>
        <input id="email" type="email" class="validate" name="Email">
        <label for="email" data-error="Please Enter Valid Email" data-success="Valid Email">Email</label>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix" id='contact-form-icons'>info</i>
        <input id="subject" type="text" class="validate" name="Subject">
        <label for="subject">Subject</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix" id="contact-form-icons">create</i>
        <textarea id="textarea1" class="materialize-textarea" name="Message"></textarea>
        <label for="textarea1">What may I create for you?</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light right" id='contact-send-btn' type="submit" onclick="Materialize.toast('Signed, Sealed, Delivered', 9000)">
      <input type='submit' value=''>Send
      <i class="material-icons right">send</i>
    </button>
    <input type="hidden" name="_next" value="/#/contact"/>
  </form>
</div>
