<h1 class="header center page-header">Contact Vince</h1>

<div class="row">
  <ul class="collection col s12 m5 l5">
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">home</i>
      <span class="title">Location</span>
      <p>Denver, CO</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">email</i>
      <span class="title">Email</span>
      <p>vincevahala@gmail.com</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle">phone</i>
      <span class="title">Phone</span>
      <p>574-xxx-xxxx</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">portrait</i>
      <span class="title">LinkedIn</span>
      <p><a href='https://www.linkedin.com/in/vincevahala' target='_blank'>/in/vincevahala</a></p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">code</i>
      <span class="title">GitHub</span>
      <p><a href='https://github.com/Vinsanety' target='_blank'>/Vinsanety</a></p>
    </li>
  </ul>

  <form class="col s12 m7 l7" method="POST" action="https://formspree.io/vincevahala@gmail.com">
    <br><br>
    <div class="row">
      <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix" id="contact-form-icons">account_circle</i>
        <input id="name" type="text" class="validate" name="Name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12 m12 l6">
        <i class="material-icons prefix" id="contact-form-icons">email</i>
        <input id="email" type="email" class="validate" name="Email">
        <label for="email" data-error="Please Enter Valid Email" data-success="Valid Email">Email</label>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix" id='contact-form-icons'>info</i>
        <input id="subject" type="text" class="validate" name="Subject">
        <label for="subject">Subject</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix" id="contact-form-icons">create</i>
        <textarea id="textarea1" class="materialize-textarea" name="Message"></textarea>
        <label for="textarea1">What may I create for you?</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light right" id='contact-send-btn' type="submit">
      <input type='submit' value='Send' onclick="Materialize.toast('Signed, Sealed, Delivered', 4000)">
      <i class="material-icons right">send</i>
    </button>
    <input type="hidden" name="_next" value="/#/contact"/>
  </form>
</div>
<br><br>
