<!-- <div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel light-blue">
      <span class="white-text">
        <h3 class='page-header'>Contact Vince</h3>
      </span>
    </div>
  </div>
</div> -->

<h1 class="header center teal-text text-lighten-2 page-header">Contact Vince</h1>


<div class="row">
  <ul class="collection col s12 m5 l5">
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">home</i>
      <span class="title">Location</span>
      <p>Denver, CO</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">email</i>
      <span class="title">Email</span>
      <p>vincevahala@gmail.com</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle">phone</i>
      <span class="title">Phone</span>
      <p>574-xxx-xxxx</p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">portrait</i>
      <span class="title">LinkedIn</span>
      <p><a href='https://www.linkedin.com/in/vincevahala' target='_blank'>/in/vincevahala</a></p>
    </li>
    <li class="collection-item avatar" id="contact-list-items">
      <i class="material-icons circle green">code</i>
      <span class="title">GitHub</span>
      <p><a href='https://github.com/Vinsanety' target='_blank'>/Vinsanety</a></p>
    </li>
  </ul>

  <form class="col s12 m7 l7">
    <br><br>
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
         <textarea id="textarea1" class="materialize-textarea"></textarea>
         <label for="textarea1">What may I create for you?</label>
       </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <a onclick="Materialize.toast('Message Sent', 4000)">
      <button class="btn waves-effect waves-light right" id='contact-send-btn' type="submit" name="action">Send
        <i class="material-icons right">send</i>
      </button>
    </a>
  </form>
</div>
