<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center green-text text-accent-4 hide-on-med-and-down" id='home-welcome-text'>Welcome to <br>Vahala Web Design</h1>
    <h3 class="header center green-text text-accent-4 hide-on-large-only" id='home-welcome-text'>Welcome to <br>Vahala Web Design</h3>

    <div class="row center">
      <h5 class="header col s12 light">Frontend UI/UX Developer</h5>
      <br><br><br>
      <div class='home-icons-container-large hide-on-med-and-down'>
        <div class="tooltip">
          <a ui-sref='bio'>
            <i class="fa fa-id-card-o fa-5x homeHeaderIcons" aria-hidden="true"></i>
            <span class="tooltip-text">Meet Vince</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='contact'>
            <i class="fa fa-comments-o fa-5x homeHeaderIcons" aria-hidden="true"></i>
          </a>
          <span class="tooltip-text">Contact Vince</span>
        </div>
        <div class="tooltip">
          <a ui-sref='resume'>
            <i class="fa fa-file-code-o fa-5x homeHeaderIcons" aria-hidden="true"></i>
            <span class="tooltip-text">Resume</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='projects'>
            <i class="fa fa-code fa-5x homeHeaderIcons" aria-hidden="true"></i>
            <span class="tooltip-text">Projects</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='mountaineering'>
            <i class="fa fa-picture-o fa-5x homeHeaderIcons" aria-hidden="true"></i>
            <span class="tooltip-text">VMR Collections</span>
          </a>
        </div>
      </div>
      <div class='home-icons-container hide-on-large-only'>
        <a ui-sref='bio'><i class="fa fa-id-card-o fa-2x homeHeaderIcons" aria-hidden="true"></i></a>
        <a ui-sref='contact'><i class="fa fa-comments-o fa-2x homeHeaderIcons" aria-hidden="true"></i></a>
        <a ui-sref='resume'><i class="fa fa-file-code-o fa-2x homeHeaderIcons" aria-hidden="true"></i></a>
        <a ui-sref='projects'><i class="fa fa-code fa-2x homeHeaderIcons" aria-hidden="true"></i></a>
        <a ui-sref='mountaineering'><i class="fa fa-picture-o fa-2x homeHeaderIcons" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <!-- Welcome Images -->
  <div class='row' id='home_row2'>
    <div class='col s12 m12 l6'>
      <div class="card z-depth-0">
        <div class="card-image">
          <div class="img-hover-container">
            <!-- <img src="images/Denver.png" class="img-hover"> -->
            <img src="https://lh3.googleusercontent.com/0erE6rnUgbHOsjeU_ADcGcL2aAi2W50_0TlF1cytfh5FmvpmJ7CwG-p9mGMsRNsAUsFs6sEkClvT40FCGl8YzyU1CU5b1i4PL8pcfac4QT6EE05bzhcg9H4zTkaVQ_5eMeyG8AcTbpzWhOqU5ioW9mISQt-ONY9KOaqVvJ02rNPTVsfKtVXGscp90P46qC1llwHsmG0D2MhU5Fjx0sXNIhKFzlHic74eFK_r9R_GT9NTqbBcblPTbMX_ej8rLUQL3vzfiipcsu_ncFH4FOSQXKAgi98Fym4S4PdOxrgNf3Ev1xzaJQZuZ5UcE4Z63ooyuNCAw7c7ZHw_TamWiGn2Pnby1EznX-5GRGajD96qu6N5jaWVtdpPGKRxUcuIYFN6dwzG7CW4t7wwRdn4GJEIhCBAo5v0jPJiJ0B3588K0PmRwpzzh0q994t3aFHbAsWRVC1xTs9qRGNx22JTObJfCyuC1NF7C3MIySoGPUoZWUkaOTTWWz_EMIxJYpsyPp-BVoAwu9aA8jobLJW-bwZOtQiqibjWw9Wu5ivQzkVC03ryrpnlt4_YdJx0-bdszC2vxFj96RsXBkYZMzTXRQ86OzvCXWOrPC2enaeeA_exVg=w625-h300-no" class="img-hover">
            <a ui-sref="bio">
              <div class="img-overlay-right">
                <div class="img-hover-text">Meet Vince</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">A Denver Developer and Designer</span>
        </div>
      </div>
    </div>
    <div class='col s12 m12 l6'>
      <div class="card z-depth-0">
        <div class="card-image">
          <div class="img-hover-container">
            <!-- <img src="images/La-Plata4.jpg" class="img-hover"> -->
            <img src="https://lh3.googleusercontent.com/Fl5dkMeJYTbTP0sHNlrVp3N_y0O2NAMn48WKFMWQYWb3dKimLN1DSO1mbngHhSbi2d4qX-TLYu7bhfedeYJrMFHOqPImfXNNOKKZG1K1ZTYkhNH4QcsIXhJRvDXmkOlrUkLTs8LA_pDB9SnFTKKZE64eukqMDWs2M_RtTo1ZB61baf0AXhxVFMg3X4KPpVvSdUB23pot9FhsjFUAV3tUwtTMnUzEFf26syKLNvIYAsZLfV-BOwBI0E9RGxTzRauCQ_BTqflwq9Qtd1_Y-vd-1WX2NHVHxJ0VbiqW7bphyikvPv-ZBeTpB7n5rt0-7Dc3mpvL_jrxY_h8K8wLqoZqonkftbJtZzLga-pU87hNZ40Mo41OJCEEfAiAImd5ldNaxxiv5Liy3iaPTqTk7Oqi4DBupQYq5F93wA-WiskXFhT7b72aPTVTGvn9iFcb0hM1X8DZMKwpSzKJQVHs6sUbHcT_MseI6BQCGM9N8ccwT0abZk6HTDPP8Wi4s_I4nZWnxp7z2F71MIGo60z3pvxmomKpep_1qgEqxcB1fa0TEL4oTyflsu8Y3Hx1isWR6A1nCV5PW8-f2K1XkkclMparGMOwoc9hFyCEpy_GXrJTZg=w1440-h693-no" class="img-hover">
            <a ui-sref="mountaineering">
              <div class="img-overlay-left">
                <div class="img-hover-text">Travel</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">Who loves mountains</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PARALLAX -->
<div class="row hide-on-med-and-down home-screen-parallax-container" id="home-ScrollFire-Inititator1">
  <div class="home-screen-parallax">
    <ul class=''>
      <li class="" style="transform: translateX(0px);font-size:32px;font-weight:300;text-shadow: 3px 3px 6px #000000;">
        <p><em>Sky Pond<br>Rocky Mountain National Park</em></p>
      </li>
    </ul>
  </div>
</div>

<!-- Technology -->
<div class="container center">
  <div class="home-technology-section">
    <h3 style="color:#00C853;letter-spacing:6px;font-weight:200;">Vince's Tool Box</h3>
    <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="HTML5" src="images/Technology/HTML.png" alt="">
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="CSS3" src="images/Technology/CSS.png" alt="">
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="JavaScript" src="images/Technology/JS.png" alt="">
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="SaSS" src="images/Technology/SaSS.png" alt="">
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="Material Design" src="images/Technology/MaterialDesign.png" alt="">
    <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="Bootstrap" src="images/Technology/Bootstrap.png" alt="">
    <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="Photoshop" src="images/Technology/Photoshop.png" alt="">
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Illustrator" src="images/Technology/Illustrator.png" alt="">
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="jQuery" src="images/Technology/jQuery.png" alt="">
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="d3-js" src="images/Technology/d3-js.png" alt="">
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Angular" src="images/Technology/Angular.png" alt="">
    <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="nodeJs" src="images/Technology/nodeJS.png" alt="">
  </div>
</div>

<!-- PARALLAX -->
<div class="row hide-on-med-and-down home-screen-parallax-container" id="home-ScrollFire-Inititator2" style="margin-bottom:0">
  <div class="home-screen-parallax2">
    <ul class=''>
      <li class="" style="transform: translateX(0px);font-size:32px;font-weight:300;text-shadow: 3px 3px 6px #000000;">
        <p><em>Jackson Hole<br>Grand Teton National Park</em></p>
      </li>
    </ul>
  </div>
</div>
