<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center green-text text-accent-4 hide-on-med-and-down" id='home-welcome-text'>Vahala Web Design</h1>
    <h3 class="header center green-text text-accent-4 hide-on-large-only" id='home-welcome-text'>Vahala Web Design</h3>
    <h5 class="header col s12 light center">UX Designer | UI Developer</h5>
    <div class="row center">
      <div class='home-icons-container-large hide-on-med-and-down'>
        <div class="tooltip">
          <a ui-sref='bio' class="tabindex-hidden-link">
            <i class="far fa-address-card fa-4x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Meet Vince</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='contact' class="tabindex-hidden-link">
            <i class="far fa-comments fa-4x homeHeaderIcons verticalWobble"></i>
          </a>
          <span class="tooltip-text">Contact Vince</span>
        </div>
        <div class="tooltip">
          <a ui-sref='resume' class="tabindex-hidden-link">
            <i class="far fa-file-code fa-4x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Resume</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='projects' class="tabindex-hidden-link">
            <i class="fas fa-code fa-4x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Projects</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='mountaineering' class="tabindex-hidden-link">
            <i class="far fa-image fa-4x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">VMR Collections</span>
          </a>
        </div>
      </div>
      <div class='home-icons-container hide-on-large-only'>
        <a ui-sref='bio' class="tabindex-hidden-link"><i class="far fa-address-card fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='contact' class="tabindex-hidden-link"><i class="far fa-comments fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='resume' class="tabindex-hidden-link"><i class="far fa-file-code fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='projects' class="tabindex-hidden-link"><i class="fas fa-code fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='mountaineering' class="tabindex-hidden-link"><i class="far fa-image fa-2x homeHeaderIcons"></i></a>
      </div>
    </div>
  </div>
  <!-- Welcome Images -->
  <div class="container row home-welcome-images">
    <div class="col s12 m12 l6">
      <div class="card z-depth-1">
        <div class="card-image">
          <div class="img-hover-container">
            <img src="https://lh3.googleusercontent.com/0erE6rnUgbHOsjeU_ADcGcL2aAi2W50_0TlF1cytfh5FmvpmJ7CwG-p9mGMsRNsAUsFs6sEkClvT40FCGl8YzyU1CU5b1i4PL8pcfac4QT6EE05bzhcg9H4zTkaVQ_5eMeyG8AcTbpzWhOqU5ioW9mISQt-ONY9KOaqVvJ02rNPTVsfKtVXGscp90P46qC1llwHsmG0D2MhU5Fjx0sXNIhKFzlHic74eFK_r9R_GT9NTqbBcblPTbMX_ej8rLUQL3vzfiipcsu_ncFH4FOSQXKAgi98Fym4S4PdOxrgNf3Ev1xzaJQZuZ5UcE4Z63ooyuNCAw7c7ZHw_TamWiGn2Pnby1EznX-5GRGajD96qu6N5jaWVtdpPGKRxUcuIYFN6dwzG7CW4t7wwRdn4GJEIhCBAo5v0jPJiJ0B3588K0PmRwpzzh0q994t3aFHbAsWRVC1xTs9qRGNx22JTObJfCyuC1NF7C3MIySoGPUoZWUkaOTTWWz_EMIxJYpsyPp-BVoAwu9aA8jobLJW-bwZOtQiqibjWw9Wu5ivQzkVC03ryrpnlt4_YdJx0-bdszC2vxFj96RsXBkYZMzTXRQ86OzvCXWOrPC2enaeeA_exVg=w625-h300-no" class="img-hover">
            <a ui-sref="bio" class="tabindex-hidden-link">
              <div class="img-overlay-right">
                <div class="img-hover-text">Meet Vince</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">A developer & designer</span>
        </div>
      </div>
    </div>
    <div class='col s12 m12 l6'>
      <div class="card z-depth-1">
        <div class="card-image">
          <div class="img-hover-container">
            <img src="https://lh3.googleusercontent.com/Fl5dkMeJYTbTP0sHNlrVp3N_y0O2NAMn48WKFMWQYWb3dKimLN1DSO1mbngHhSbi2d4qX-TLYu7bhfedeYJrMFHOqPImfXNNOKKZG1K1ZTYkhNH4QcsIXhJRvDXmkOlrUkLTs8LA_pDB9SnFTKKZE64eukqMDWs2M_RtTo1ZB61baf0AXhxVFMg3X4KPpVvSdUB23pot9FhsjFUAV3tUwtTMnUzEFf26syKLNvIYAsZLfV-BOwBI0E9RGxTzRauCQ_BTqflwq9Qtd1_Y-vd-1WX2NHVHxJ0VbiqW7bphyikvPv-ZBeTpB7n5rt0-7Dc3mpvL_jrxY_h8K8wLqoZqonkftbJtZzLga-pU87hNZ40Mo41OJCEEfAiAImd5ldNaxxiv5Liy3iaPTqTk7Oqi4DBupQYq5F93wA-WiskXFhT7b72aPTVTGvn9iFcb0hM1X8DZMKwpSzKJQVHs6sUbHcT_MseI6BQCGM9N8ccwT0abZk6HTDPP8Wi4s_I4nZWnxp7z2F71MIGo60z3pvxmomKpep_1qgEqxcB1fa0TEL4oTyflsu8Y3Hx1isWR6A1nCV5PW8-f2K1XkkclMparGMOwoc9hFyCEpy_GXrJTZg=w1440-h693-no" class="img-hover">
            <a ui-sref="mountaineering" class="tabindex-hidden-link">
              <div class="img-overlay-left">
                <div class="img-hover-text">Travel</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">who loves mountains</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PARALLAX 1 -->
<div class="row hide-on-med-and-down home-screen-parallax-container">
  <div class="home-screen-parallax1">
    <p class="parallax-text-overlay">
      Sky Pond <br /> Rocky Mountain National Park
    </p>
  </div>
</div>

<!-- Technology -->
<div class="container center">
  <div class="home-technology-section">
    <h3 style="color:#00C853;letter-spacing:6px;font-weight:200;">Vince's Tool Box</h3>
    <i class="fab fa-5x fa-html5" style="color:#E44D26;"></i>
    <i class="fab fa-5x fa-css3-alt" style="color:#2965F1;""></i>
    <i class="fab fa-5x fa-js-square" style="color:#F0DB4F;"></i>
    <i class="fab fa-5x fa-sass" style="color:#CD6799;"></i>
    <i class="fab fa-5x fa-react" style="color:#61DBFB;"></i>
    <i class="fab fa-5x fa-angular" style="color:#A6120D;"></i>
    <i class="fab fa-5x fa-node" style="color:#3C873A;"></i>
    <i class="fab fa-5x fa-bootstrap" style="color:#553C7B;"></i>
    <i class="fab fa-5x fa-adobe" style="color:#FF0000;"></i>
    <i class="fab fa-5x fa-figma" style="color:#000;"></i>
    <i class="fab fa-5x fa-invision" style="color:#FF3366;"></i>
    <i class="fab fa-5x fa-sketch" style="color:#FDAD00;"></i>
    <i class="fab fa-5x fa-npm" style="color:#CC3534;"></i>
    <i class="fab fa-5x fa-drupal" style="color:#0678BE;"></i>
    <i class="fab fa-5x fa-git" style="color:#205081;"></i>
    <i class="fab fa-5x fa-github" style="color:#000000;"></i>
    <i class="fab fa-5x fa-gitlab" style="color:#FC6D27;"></i>
    <i class="fab fa-5x fa-bitbucket" style="color:#205081;"></i>
  </div>
</div>

<!-- PARALLAX 2 -->
<div class="row hide-on-med-and-down home-screen-parallax-container" style="margin-bottom:0">
  <div class="home-screen-parallax2">
    <p class="parallax-text-overlay">
      Jackson Hole <br /> Grand Teton National Park
    </p>
  </div>
</div>
