<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center green-text text-accent-4 hide-on-med-and-down" id='home-welcome-text'>Vahala Web Design</h1>
    <h3 class="header center green-text text-accent-4 hide-on-large-only" id='home-welcome-text'>Vahala Web Design</h3>

    <div class="row center">
      <h5 class="header col s12 light">Frontend UI/UX Developer</h5>
      <br><br><br>
      <div class='home-icons-container-large hide-on-med-and-down'>
        <div class="tooltip">
          <a ui-sref='bio' class="tabindex-hidden-link">
            <i class="far fa-address-card fa-5x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Meet Vince</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='contact' class="tabindex-hidden-link">
            <i class="far fa-comments fa-5x homeHeaderIcons verticalWobble"></i>
          </a>
          <span class="tooltip-text">Contact Vince</span>
        </div>
        <div class="tooltip">
          <a ui-sref='resume' class="tabindex-hidden-link">
            <i class="far fa-file-code fa-5x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Resume</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='projects' class="tabindex-hidden-link">
            <i class="fas fa-code fa-5x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">Projects</span>
          </a>
        </div>
        <div class="tooltip">
          <a ui-sref='mountaineering' class="tabindex-hidden-link">
            <i class="far fa-image fa-5x homeHeaderIcons verticalWobble"></i>
            <span class="tooltip-text">VMR Collections</span>
          </a>
        </div>
      </div>
      <div class='home-icons-container hide-on-large-only'>
        <a ui-sref='bio' class="tabindex-hidden-link"><i class="far fa-address-card fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='contact' class="tabindex-hidden-link"><i class="far fa-comments fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='resume' class="tabindex-hidden-link"><i class="far fa-file-code fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='projects' class="tabindex-hidden-link"><i class="fas fa-code fa-2x homeHeaderIcons"></i></a>
        <a ui-sref='mountaineering' class="tabindex-hidden-link"><i class="far fa-image fa-2x homeHeaderIcons"></i></a>
      </div>
    </div>
  </div>
  <!-- Welcome Images -->
  <div class='row home-welcome-images'>
    <div class='col s12 m12 l6'>
      <div class="card z-depth-0">
        <div class="card-image">
          <div class="img-hover-container">
            <!-- <img src="images/Denver.png" class="img-hover"> -->
            <img src="https://lh3.googleusercontent.com/0erE6rnUgbHOsjeU_ADcGcL2aAi2W50_0TlF1cytfh5FmvpmJ7CwG-p9mGMsRNsAUsFs6sEkClvT40FCGl8YzyU1CU5b1i4PL8pcfac4QT6EE05bzhcg9H4zTkaVQ_5eMeyG8AcTbpzWhOqU5ioW9mISQt-ONY9KOaqVvJ02rNPTVsfKtVXGscp90P46qC1llwHsmG0D2MhU5Fjx0sXNIhKFzlHic74eFK_r9R_GT9NTqbBcblPTbMX_ej8rLUQL3vzfiipcsu_ncFH4FOSQXKAgi98Fym4S4PdOxrgNf3Ev1xzaJQZuZ5UcE4Z63ooyuNCAw7c7ZHw_TamWiGn2Pnby1EznX-5GRGajD96qu6N5jaWVtdpPGKRxUcuIYFN6dwzG7CW4t7wwRdn4GJEIhCBAo5v0jPJiJ0B3588K0PmRwpzzh0q994t3aFHbAsWRVC1xTs9qRGNx22JTObJfCyuC1NF7C3MIySoGPUoZWUkaOTTWWz_EMIxJYpsyPp-BVoAwu9aA8jobLJW-bwZOtQiqibjWw9Wu5ivQzkVC03ryrpnlt4_YdJx0-bdszC2vxFj96RsXBkYZMzTXRQ86OzvCXWOrPC2enaeeA_exVg=w625-h300-no" class="img-hover">
            <a ui-sref="bio" class="tabindex-hidden-link">
              <div class="img-overlay-right">
                <div class="img-hover-text">Meet Vince</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">A Denver Developer and Designer</span>
        </div>
      </div>
    </div>
    <div class='col s12 m12 l6'>
      <div class="card z-depth-0">
        <div class="card-image">
          <div class="img-hover-container">
            <!-- <img src="images/La-Plata4.jpg" class="img-hover"> -->
            <img src="https://lh3.googleusercontent.com/Fl5dkMeJYTbTP0sHNlrVp3N_y0O2NAMn48WKFMWQYWb3dKimLN1DSO1mbngHhSbi2d4qX-TLYu7bhfedeYJrMFHOqPImfXNNOKKZG1K1ZTYkhNH4QcsIXhJRvDXmkOlrUkLTs8LA_pDB9SnFTKKZE64eukqMDWs2M_RtTo1ZB61baf0AXhxVFMg3X4KPpVvSdUB23pot9FhsjFUAV3tUwtTMnUzEFf26syKLNvIYAsZLfV-BOwBI0E9RGxTzRauCQ_BTqflwq9Qtd1_Y-vd-1WX2NHVHxJ0VbiqW7bphyikvPv-ZBeTpB7n5rt0-7Dc3mpvL_jrxY_h8K8wLqoZqonkftbJtZzLga-pU87hNZ40Mo41OJCEEfAiAImd5ldNaxxiv5Liy3iaPTqTk7Oqi4DBupQYq5F93wA-WiskXFhT7b72aPTVTGvn9iFcb0hM1X8DZMKwpSzKJQVHs6sUbHcT_MseI6BQCGM9N8ccwT0abZk6HTDPP8Wi4s_I4nZWnxp7z2F71MIGo60z3pvxmomKpep_1qgEqxcB1fa0TEL4oTyflsu8Y3Hx1isWR6A1nCV5PW8-f2K1XkkclMparGMOwoc9hFyCEpy_GXrJTZg=w1440-h693-no" class="img-hover">
            <a ui-sref="mountaineering" class="tabindex-hidden-link">
              <div class="img-overlay-left">
                <div class="img-hover-text">Travel</div>
              </div>
            </a>
          </div>
        </div>
        <div class="card-content center">
          <span class="card-title grey-text text-darken-4 section-header">Who loves mountains</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PARALLAX -->
<div class="row hide-on-med-and-down home-screen-parallax-container" id="home-ScrollFire-Inititator1">
  <div class="home-screen-parallax">
    <ul class=''>
      <li class="" style="transform: translateX(0px);font-size:32px;font-weight:300;text-shadow: 3px 3px 6px #000000;">
        <p><em>Sky Pond<br>Rocky Mountain National Park</em></p>
      </li>
    </ul>
  </div>
</div>

<!-- Technology -->
<div class="container center">
  <div class="home-technology-section">
    <h3 style="color:#00C853;letter-spacing:6px;font-weight:200;">Vince's Tool Box</h3>
    <!-- <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="HTML5" src="images/Technology/HTML.png" alt=""> -->
    <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="HTML5" src="https://lh3.googleusercontent.com/Exac4cjaPw6gHjKA6SCuCrXpmjBt3yY2kCwxOljbmhYj7vDtG5lmfkvdH_XNFk8ZPRkzp-E2Wq-xHPivGq9Ie0ABSmdYR1hhHDli_7JNWYG38NKoxv0umyz7qkeiB1hFTm7HfmEkNiSeOgfCk3QWjsySBoe2x-nQghU9BD4-gTCe-m-LGobxXo5n_7GxVw9nRTlLHY77qq0lF3djZuJoWhjKAD_3-ObIHtCvE-S8uxjlRXO_0ALlHqPvYRvpyMEhhynE43X52ugltt2E6E6OjFvuDavCyw6LgrXprieXWletn5dZl9X2CcUhqSQxeWVFcD1_AEl14X1FJDNPYfGCZ7fxg1OfaqsNQjgykBzTNZ0LhnIP9EPlA4vqrQNcGuFey7kcf82B4vWhiTaS64xqpyhpFMAiSknbauz5FiWf7UjQaas2Jfv-r9_voYdMMd1M-YN21yC161YKUKVxbaE_tFj0EVH6OVfc_a7oALsq8LYwEGEbSXG7mxYO9fN0gNHKF-eg-xzTDr4iD3inYnLkQwB4zIB6dllJfUuyHbYP6ESygPgsjWJYJPL3qMFHU3TQdtqH38PeMO_1kz_yEKuEd4v9GVzpzKQ2IF_SKsFiEQ=s600-no" alt="">
    <!-- <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="CSS3" src="images/Technology/CSS.png" alt=""> -->
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="CSS3" src="https://lh3.googleusercontent.com/uqP2UWskWrtLmswRJ3dOE93d8YRvq1Chs8dllek1kJrrNc_3_-anrv_K8o-LfGl6EbBlONLjAkhVoKZrQPKr9mD-nskquZL1MeAX_Kexbjs6r9aXTO5Fi1B4WtyfWbdXxTl0B_GkBQh9CoQC0TSzemswP5dg0K9HdapypytqXJOBVUveNR5D6a9OutkwpWmMsMQNJaXNpxeRMDovBwfjq3TzTVzcXAXImLYqyb477AtZEleWR38WvfKfVDPcCTpcSmn946HaN9PStnzYnZtHWz3p2qFRFuj4Pt2o4uWs83yGVFNUyL8Xc6XqrAe6XATDfVkd82VsGHahZuKuMq4cbWZU7655DWqVzGqZwrhjm9fhvNEnnVAT9Gk-AhVTkMcaVG91VKmIJLq3ADJDAnDLmZ4BHfZql_L0slZRecycAOjs-VErj3ZxzTPEFuFlU3HBj3ZJTttQvZ9jlmvmbxf2lI1tePigJC2ZGwGIvCqQb_B4VjvRNb2S1eIvp8e3O1XsRoo-IKrrY_JapFbRMF90qXfRV31QOjWvKz8gtExEwFevKc7NWe3WtN0r-G3_KGS0wXmP7ULk9J9B1d5se338xMzkg_gWzXl_Gn6vTsvhNA=s512-no" alt="">
    <!-- <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="JavaScript" src="images/Technology/JS.png" alt=""> -->
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="JavaScript" src="https://lh3.googleusercontent.com/wHicnm98fVg2V8jB5U1SRmBtfm8i3yuZjD9WkLqrAzGfbgPJtsCKS8OVXzkL5gQTOwQEb4ph2pMtdX6lEgRrqVLED4onN3qOj5Nhl8_2Aa6pwqFh2vUbHVZJN9OdXeNg1Oy-a8vhJ3dkdwlqvhOiTLHJempcs-L7xBGwtqe1_HzlLFRWDTy1ZwJMgj8XTuDvyWe3q0EGKBeKVdJaMdTM0SHx5DVtg7XxIHlf08ReZaVUaY_6sMs-TC_4xHrc4_DAYSYx2zDjR5FSM2A4X21WnCz4bsVUljugltz21abOgF9rrCZgYiJIrfewyDJ6PP0xWPsjZJPD0ni_nFnFWtEz5pQEg-L6IbX7kjs5bgZiDJVhvB3_SnTzOdVg8kpL7IDBReQxWIrT2y37-koKFzBHGD2pi8NN-40KZleMYm179aidw_gaLZ5ciSZuuzQc8H3kXXCplhh1s8EGV2e4dpdDgPfaK6xbk1YqHQjUcmIBEQ58OjS4DY9wqlz-LFMuS-YSy8D4uC_-79ig8-Ru2lr4pVg6vNaHXn7iM-CHS2SOUrYKFGH_hRYqyZ5teTLNsOiBpx0pJpHWwxZ4AiWiW6udLpDjzCgeaD2H6e3HzLJDyA=s725-no" alt="">
    <!-- <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="SaSS" src="images/Technology/SaSS.png" alt=""> -->
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="SaSS" src="https://lh3.googleusercontent.com/Z1_cOZQVGhdjejRDZ31Dm-Xhi6MSXppwJMeKs6ZkDzg8AMyoF_n76ikuNd88kzRwN61IEOEbOflaicbeYvtQt80haekvMljMknJFiWwy3foEpYe_n_N-KcFmFr0j5ISnP6p6QKVaE1X2qN2N1lIVXzYQp2O-fhqe3CEUWEkPbAXxyG6j8qy0Vr8KumFzkLmR-eU1FZzRGn0xg2b0jsvpbmY8dfl5ud2idgUvAWbtHfH2xmdrjeyROR2DBSFyVwlHsXPo_BZlcCC6wv2kmLVk-7J3fPCvXGku7btNFMe8lhKlBR2pOyh9rkKyDiKwpd3U-nHspY3uowcHjiCHHWuC03EJMTjG0URIj7JQibIIG5-vOoMcaEpNYFl_0kMiEMRhG4SirDaRtvJCXB3Wn5Cs6EHISHlYa_X080jK0RUkvtATBytbpTFFufZLp1nelyryzhmf1oEZ8g08e9Z1f9xuXJT63tgBNignmnl_aOdAWFuWC2kbMgCYPO3_gJRh5MJH4F46S8CgRb2m5OnXBovbXZiu1Z5cmb8BsEg3l8X3gxoN1e6Cv-UslWqIoRTvPfj87AuE5bO4aJEooyKUACpCqMF3nHyIuAlHYRidFvYusg=s320-no" alt="">
    <!-- <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="Material Design" src="images/Technology/MaterialDesign.png" alt=""> -->
    <img class="tooltipped" data-position="top" data-delay="50" data-tooltip="Material Design" src="https://lh3.googleusercontent.com/uQhbwvSb_v7Lklmdkk2YCqQX9bFQJH9YvY131I2-udncQGcKpfLKh28Hsdrbk5wKJVIh_TGvT0Ou97jeFtGJ3M5MsCl0_dJ2qjKaFMNO00hgYQM2U6LOhLLeYwc6J1AtGo-QjSRg7EMlpAipUKszmzGdXpSbNoOyE8PWvv7qUUx6DRHfrtBC4aPHSXNrYw_vHbiSPffk2CXSc8hvBIYm_gOH8ugUAZlmHr6J4gHKTQfQ-Dd-5usOfeqvrYwEquZDsOVK7sSfcVsGSeiYfRONc7Ae6J88OiyHIx7-kMjzjgczn8TChKZZF97a4ISVWHdezysU_fDAj3ccYGf0bx3TM1EzMCL6G0eTxoYk8LrWLSDXwrzkjLzzepJhiEfpUpN-gnwu54_T-XR-VA5b-xtYGJKHjEmbi6gzR7wS71tbipr5hbv_XEXGR9KOnmoLNFtJq3ViG8zoJG5HW5UArelaDw7MTjI0pzHFMtKcRiL3cs3PsRgk4YEIKRI6jbeaWc4y2d5au6dqpl0W16ysa6HlVc2akUCZI7TEXJsDn7jPcFEEkKLhZoJZRS1kHwKOA5d5pdzt4ERP7pIO87BjfZrfBZs8AwJzWwaOAZaPtEfTTw=s725-no" alt="">
    <!-- <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="Bootstrap" src="images/Technology/Bootstrap.png" alt=""> -->
    <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="Bootstrap" src="https://lh3.googleusercontent.com/rM0c4jHUFODHdwLj9njAnQLvC4fF9HJp6YQRMcDJE9s5aPmqelvNGEhlLWdsq6r5gF0NqECtmzh-Ax4JuDE1ogV4UmFaP3xoHVx_mJZbmL_5xuMXiWRupxtBG2SwIDkYEshOuTCnmwcGr_uJNXy4xqn6vIOsdAvIlv3HtGGveI85XgWv8bNRDIXDE31yEq2boi_tKGWqxxfA92p44tP1xsaq4qei1dcnPJHAFf3RZMbAy-vtDrpywnghKAGUgKqVaxEmJvi26UBLL3IstJwMZdP2A7ttPGek7tES7wdbe9KY6vIjnQEBMJllGhHzo3xVjeBi-q7-8V6UFOx0aoxVgv39P11fPxpj838NzMBSn_0qDhoX0DfIzkRKnGANI4i_SZJaB2IuUm0LWceNukZb3zJ2vW_pXGSjfHe2z-hXSh5u-OFGtuQgzT-H2ai-HoDtTeW4mgGqJOdusPjsRsbFhrysA1FvZhyCQN2-I47exbLXhzq5W9C3FWwD6GbGctBwlOSMr09KArfh-xBRPKl-OIYru2fL8morUQCq7bgQEPNqgu3u7mm8Ky3jBReYph51aG1OZTF4Vxu1vnVBO3QG-l2dtSwdQPZoOl5JAV1sMg=w723-h725-no" alt="">
    <!-- <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="Photoshop" src="images/Technology/Photoshop.png" alt=""> -->
    <img class="tooltipped" data-position="left" data-delay="50" data-tooltip="Photoshop" src="https://lh3.googleusercontent.com/Ubq7qjor6n3vsQ5J3usr3AtHxf87EjIIOfiKbBRPpNJjoETWe-VT3h2BwlGclsrbvZlm2jQn8WdPGRMDkbc-zqpND3p-xb38q4Xh2AlJ5nHbwIwamn0K5J9d1RH6fxnOc3oHMYLRxzl_CRueBjVSYnbYaZOp-F0DhR6V3mlkCqqon5NxstoJARSLImcgOqQ2gpWJixYDKmVnbZYeTz_mPJBvv_5KXoWbGe9RMHsrS76I3EhIPd8h_It5lunYxDcUhuDuPUHPZ6aeMSHlZhTItti54_PxejIUTjnTTaQKplK9BNJIjaCy07WxZBFABiUvtfznas7JRASkdVmrcz6JBPx370O-EHYSrbriKOxvX74oAbip83VIawIaWi6Iyc3v6F-5VKonlkcxBObPK2oKgFxX0fiDSwpCI64KbJnDN9r-JE534ASHFcelzQMWOMl181LHifc73MyePLrdGaB1HE6EhmWByEca6PZtjiSIhdyRtKxz_0RoKepC5hb8YkuWlSM0F0nvw5BtzMke-H8_JplssSJEahOR9f8EYz6TuddXt6LMYCFFVysAfKHpQjhsgkb15LZJjx2GJFToG2ZzHJhSbrjBtMBp4r2G-MlLSw=w770-h725-no" alt="">
    <!-- <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Illustrator" src="images/Technology/Illustrator.png" alt=""> -->
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Illustrator" src="https://lh3.googleusercontent.com/xpmwnAhRlG8F5zDi3MzcfiGN55iM43h1FAUZG9vvcTKQT0C4ULbyl4tu5elS2Yl4j5aH48TUK9tN13y53PZJUJHOnss8DzZ2dZdBXzn9uDq14ETudfB-d6-7QrrvO--S7TJkapdYYu97XKvyhFGLOQ5hvJrdgiUrwiCSp3PKIpcTqG0wrNnBxKEKCbjIVb46-FDAzOraKS6TJ6wsGl0AJqptsRWM1MRenrnBZ-iWKs4Ir1eao9f_HvjcUUxkzBs09b6lVx-GNdmbNEtz_HyXGwF4p79JbNaST7HJbPBc1WwhvLhbS0EtMq8GhKVUy0DjOwwdKVYcULB51HjdwdZFvsIFSCc5HaK581JzRblTlmb7A7GdGCVa-gE0vT3IMxL5CpnawRIQ5T8dclRBFyxh51zWDiRCXY_mDpjP0ihbROBvZpEp-DxNFzmdN3IEx23oMbCdzoUwPPcJl-hkK4vfsih67MMMr9cfNNY2XA5TOkOgA65ZxU621oqJF62Ca1XkCmCEYjsXO4RKL2OyngkTGMbKafCSOHVcDHcV--iDChFsCPBnS19FRwheUn8KW3hnSsmRVxqL3qHoxOu6qoR3PHES0fnF9f5frfy5nZfvcQ=w733-h725-no" alt="">
    <!-- <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="jQuery" src="images/Technology/jQuery.png" alt=""> -->
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="jQuery" src="https://lh3.googleusercontent.com/ghfc31Ws7UQJ4Fb2iAwJE_Cckj40P6yu5RIwVhrtnOZVywUZC6QDV81sDzRpys09dV_Ixjv7D0kFYrrXmJqCEg213rCWzzy_RCN6nc65ThdVIsg-JAsmFIE5no8KPOikw9ry090bzY1ZPUuhWT1NbmOxSvdF5bJqigGENIBG_7gqAXs8fxKYnrALlC7Gdj-vCf6T6MJ9jRyoxc4V1ZW34O-d2PQtHF7fejqj2P5RamM1ftHmI45NHhaQuDij6tXB0XWkOXGpdyqnTf3v5u710d-MIWiF2XwexwKYBK6R1066yLpDiGSg7RcCnPafPWXdOgEb5Stq4ddNglXZrPXZrqeV7Guz25b1vSA-E6M3iDRY1ElORDS-OzdIy-VK9WUSyP9Vw_MMxNNfS8vArZWSm67bhgL-A6CoXgW-iMj2Bd7-29-B0Cj6_5bK6qtItIsFmij68W5-MBEGOWR3Lii8yYzBDgdgLLOpSvG-mbcnL0QVkwgtLhje6uaeJdAfRUGR82CuHf6vIl6w9JfnsYO7W0EF0YTeTpDJ0Q9Y3H9XnTnMKlo0iu2WbTV1_iCbAJc0HxXr6rAuKk1gUzBvrGDGhgwg56UJ67MugBJptE-Nuw=w753-h725-no" alt="">
    <!-- <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="d3-js" src="images/Technology/d3-js.png" alt=""> -->
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="d3-js" src="https://lh3.googleusercontent.com/VMySExMqXq7SGw0WvLewK7FauLDqRdew1KeaOqimYYDXHdNZv1uqim8zyWpXN2a6-hM13S20heYXHYHpUJmVQnXtq7aObIwQxVmCMtpyOObEq0PpNyeR0tuc4Z9xzWcPwbYebtZCyi4e2Eks_Jqa6RPZUL49DwhCpNm7Y53TjQD5734ZBMxKUlvyR4PzP44Thp7aY6UUNta9GyTi_STC76Td1mx2Jg_3mkQQQycdyklvYSehdk4mIp0OD-uzxKd-6fpahcJU04SgqNx9DBg5YzEHmIIWgKRPuWOivgEaIOkcCz9JiTgdCwAPIknzA8H5MKhGiUqjDcX9AKYxpaY5w-fVgSgy2Ce77ckcDjfPlM4YuS4JCSveBUIl1u4dapk2Jm-0rNr9lfESsDtn9hiIcRl0O-Nmf6u3g1nCjN4_YiNo76n4nhtUgwd4lkkyBlFVWNtUoznU0qWoG5fzZpPZY49WEKhH4rwF_zXL8u80gQnW48jpDD_0FuvlAlJ-BfrEguFjm6xWKqyGVUzgpYQa_QzWARh4lOTTm0E6Sf1rR9rmyXTdE-jyOBPOiEVJTUIyDQ1RMOX9ajgrJIzJ0L-zXGbouVxg7KbreOO8LTTqiQ=w764-h725-no" alt="">
    <!-- <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Angular" src="images/Technology/Angular.png" alt=""> -->
    <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Angular" src="https://lh3.googleusercontent.com/JYElxpxHEephBkqkV3bAdRyRp3AutqNVoZWZ-YsfHfKtj8BbmXJhWtc4RyNjF_oGdy_K-EOUENjBq4FONVxDpiiH63NWOJO-r1D56i6DZ2VkE3ibQFW0ZgaD4aIO8kdJTx0_orgWYZfauwzCsXBfiEbFasMboXIWOfZZZxWJW3PYwKcx_sZQ9scHekJQukoo646Nm9Xc2Cc8R1XJZx5-qWC-eyqr8zEG0qu6a3XFlPR43cpUqWj2RZ98CwqhgZ5chaJIFwFehyugyRj0R4FqSDIy88uxF2dQ5UvkfEtImOTeaNcwnffBCBgbsqo_61k4UCNC93rjiUIWKUjtixIQnNAt52bPfVZrvKiSZLxh6UhcZ71_BWLPbdwV0WcjvhSPykxcirYrQ0v1DlhuUGzoaPbUHyGPnESPNizVjX1LoKMeb0ue3xybRqXah8P-cDmHhlnacWbfwRQV3ClQMcdzfB6nb2W4C4LK0azq5Th1ZFWO5hTBWsjxBxuMKX_K1QMBpWvF6q0gbika975zH-IJaBAOZ2OjXlqHErs6DT4ZxuxI7AbsxbqtTbsAu0cRNGQ79CHUQPfihx6871N8nc_T0GS3039ZzNfMAwvmR0g1yw=s725-no" alt="">
    <!-- <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="nodeJs" src="images/Technology/nodeJS.png" alt=""> -->
    <img class="tooltipped" data-position="right" data-delay="50" data-tooltip="nodeJs" src="https://lh3.googleusercontent.com/k03dPrcg88aFOG7euXm0PVYnY5WoGCXW_S70T1sKERIzWai45FmJ6FOdzlfRE-ZvHk9r24HjcMV8M49xJjxGdB4n20nfMZvD5gJVmE5t6ZwMeQ6wyU83U_9ET8WkQfqRImNcVGF2Bqy6Fu0JDdWmsKCY4SDSPV-Me38qa8c9SmBdQgVk2y2qAsq3LdvBGtWFhuRg2-veK6U7CbNeHjCmzpOKdVjXGdV8NZE2tOiwIiWy8D_jLBliG5P4seXkuv_yecB-A39cSDgHL0RuLt6jDAIeS0U8lqpEvD2NyePSiT_iVseUfkTZkyiC_I2fhdhqrt-3aPHUZmbUgH-KviEd2nBbnaXPrawfZVk7AlRwUTDqaof6oPtEWio3ebaVvwpYI-XU-bfICvpnIUF7Ob1UJoozjLAX7kkD5u9Ah3w4-H7TT9bH-cdHk5Wqy4smY48yDTNW4Bca_JfzAr60YtV1yRKIRj0aJuFxX8vD6jrUuA5xHWws2acVC-UGLL_YDnfEn-pL-XT9z0cb0D2A81SYG7Y-ADl7aOj3Rk2JrGkEurU2lxrlW0tXDkdqumJzl2uwXvOPOdoRU0WsQBOZR1e5ZHnbU6DQzeyYUYM1U0fXVA=w1053-h725-no" alt="">
  </div>
</div>

<!-- PARALLAX -->
<div class="row hide-on-med-and-down home-screen-parallax-container" id="home-ScrollFire-Inititator2" style="margin-bottom:0">
  <div class="home-screen-parallax2">
    <ul class=''>
      <li class="" style="transform: translateX(0px);font-size:32px;font-weight:300;text-shadow: 3px 3px 6px #000000;">
        <p><em>Jackson Hole<br>Grand Teton National Park</em></p>
      </li>
    </ul>
  </div>
</div>
