<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel light-blue">
      <span class="white-text">
        <h3>Mountaineering</h3>
      </span>
    </div>
  </div>
</div>

<div class="mountaineering-container hide-on-med-and-down">

  <div class="parallax-container" id='mountaineering-top-parallax'>
    <div class="parallax"><img id='mountaineering-la-plata' src="images/La-Plata-Peak.jpeg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Vahala Mountaineering</h2>
      <p class="grey-text text-darken-3 lighten-3">Traveling and Exploration are my greatest fortunes.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img id='mountaineering-grand-teton' src="images/Grand-Teton.jpg"></div>
  </div>

</div>
