<div class="mountaineering-parallax1">
  <div class="mountaineering-para-text-overlay">TRAVEL</div>
  <div class="hide-on-med-and-up center" style="padding:1rem;">
    <iframe height='125' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/19835017/activity-summary/e7692096308fc2ed6d91e1608b19638ae8f0602e'></iframe>
  </div>
  <div class="hide-on-med-and-down" style="padding:1rem;">
    <iframe height='420' width='auto' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/19835017/latest-rides/e7692096308fc2ed6d91e1608b19638ae8f0602e'></iframe>
  </div>
  <a id="travel-icon-overlay">
    <img class="mountaineering-para-icon-overlay hide-on-med-and-up" src="https://lh3.googleusercontent.com/ienoNN2bLQoU1m7pJ1OKLrV7EKQy36GH__D6uHpueH16ZUstvKtd95fZSX1b109mxV7rsaHF41w7WKSYRHI_BZSGFgCvCdfCpavIwjqg6CXnMoDCqJgdvRJc88JdlATZ05JC0mDeyLVkcgdCFvcNJ-Ow0kkCPx7ROl2AoiqtcD36NL8FqTlNVa1tlhOBTjpC6fa-XsKjH0EvgrhBsXJnypbJkrnnaq_EbcRMV1MXqzjt7XyrvbfWV_8IAIwx5Vqejn_o91PJvdITMk5-puJOr_-ZBrBbjfBOcWN4m6fow9bSr_1PmTbWCof5_SliTrgPDPvyALeMzSZBh0tesxDUBNyJregGpVuSpgP7oq2Pzak1t7whMYlk0_GxIqvYo3wlNmBLrIaYYJw6O81aL06KygnPXBLdjF5KpuiHNRY55zF-u61ecgQ2mKMM7Uv2KA-Xx2Gr6IZP0422RvUmVb9TjrQYhGpBFAUMLTAQUWx2ZmqQFmNlg1dFd8Pd4wGpyiWr1izC5qmQ0Hld8z5JTrHrzWWo_UajIVn1pR6_cAd93h6gh5fra8Ay8tnkJ-IIOk3nnHzotDOtjmMCuodPMV4BWoH0hXDfCF2TX_oW-HWTMw=s512-no" alt="">
    <img class="mountaineering-para-icon-overlay hide-on-small-only" src="https://lh3.googleusercontent.com/OYvJK5cO-eYyzum3h7rQGIlrygqCNmLTLkAHxJ_xLVY5gL2O-CTXIBWRpFDi40xzhWXuj6ikrX-zhzZTPNkBxbJGBVYN02VOkN8wMnRaWQIfx6NHbSZfHxdq32-VcWZXImrSJlQlOJItcoq7gR3GlSaF0AGfUcWqgbJQoX7uKVZ7DVV7kbJYmkCw1T3UxJfBCenRjdoHEjRmLiHcI0DZrE1ZgFSs16xUe8U7I3XGgrs2wGREi_PlWuwZ8xFQSjB8NZZGBa1Ki4gvFUcq73wKlQIzaPpNh5Jx4l-xcsHnLaR0p76qEYvF5n0Tw_Ykl7RYMk4OJb_r4YKYZS5oxzsEc1WgtuiB7Y2GHUbJ-QqfDnXT_sKFDPYHdBzM9odKMMfLbWlKQqV7jpS-nK-3cZ8K2rrnZtmhT_-bwDfiSIknrK9GtvIk-noGi6vY_7y1N3OyciBCK-kl3j1Ac0SGeltJ61HC5hPQOaE6zVumtTUTVbirZefYGb-Jl1RJ8I4807Oa4SHJDOfyc0CfCC5s9OalNFBfPcyo5r6rnDdOzjhGVxG_9EQlIHMx1n2kHp0M1bsBddD0dPKfzbyKuGLrih34kv2RBVmfmMfH3HbwOSWR3A=s512-no" alt="">
  </a>
</div>

<div class="container row travel-card-container" id="travel-card-container">
  <h2 class="page-header center hide-on-small-only">Vahala Mountaineering</h2>
  <h5 class="page-header center hide-on-med-and-up">Vahala Mountaineering</h5>
  <h6 class="grey-text text-darken-3 lighten-3 center">You only get one, live accordingly.</h6><br>

  <div class="center">
    <a class="btn btn-large" id="vahala-films-scroll-to" style="background-color:#0882B7;">
      <i class="fas fa-video left"></i>
      <span class="hide-on-small-only">Vahala Films</span>
      <span class="hide-on-med-and-up">Movies</span>
    </a>
    <a class="btn btn-large" id="photo-collections-scroll-to" style="background-color:#0882B7;">
      <i class="fas fa-images right"></i>
      <span class="hide-on-small-only">Collections</span>
      <span class="hide-on-med-and-up">Photos</span>
    </a>
  </div>
  <hr />
  <div class="row" id="vahala-films-collection">
    <h3 class="center page-header">Vahala Films</h3>
    <div class="center col s12 m12 l12">
      <div class="video-wrapper card">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CnQGvCWdLWQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Scenic Videos -->
    <div class="col s12 m12 l6">
      <h5>Scenic</h5>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>El Diente to Mount Wilson Traverse</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Dv7nMV6GTfw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>Maroon Bells - South Maroon Peak</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/96qus7toQfo?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>Missouri Mountain - 14,075'</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kr4LwaiOTsg?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>S. Arapaho Peak - 13,501'</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/is4WWDBTNAo?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>Castle to Conundrum Peak Traverse</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gWzcoN_PQH8?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-camera-retro"></i>South Maroon Peak - VMR Promo1</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/veIB3OugZJ8?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <!-- Active Videos -->
    <div class="col s12 m12 l6">
      <h5>Active</h5>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Circus Trick - V2</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/w93kIvw-aAg" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Cocaine Corner - V2</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4AsI17y7qlA?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Right of Gypsy Devil - V4</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/R8Ua2If2KcI?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Black Box Boulder - V2</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wkUElFy70UI?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Pregnancy Arete - V2+</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vrqQ5w4kMTU?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-running"></i>Mr. Trujillo's Big Day - V2+</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7N17GbBOolQ?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- Most Recent Top? -->
  <h3 class="center page-header" id="photo-collections">Photo Collections</h3>
  <!-- Most Recent (Collapsed) -->
  <div class="col s12 m12 l12">
    <div class="travel-card-current-container">

    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" id="travel-card-current-img" src="https://lh3.googleusercontent.com/D6hYRepOD-WFC47IBcP39nm2Ew9jTo6dOnDEDnYABiVVw-AmQKZ_s3oBXUn0LUfZJrvAlBSfx4cr4ch4MCMN6cUzmEwASJfvxdFt4pygnFFWml67Ly-DYrh89UO6ivEmC_DT0QsyXOST7m0iGdXUNr4jFb7f4egLlhASi7FgcfxpBnu-slIxcgE5fQX3KH4jF5SnpBgVQEVKRbyhexy5I8G2LGR5KtoS78HkKV1oiYREShu_tDs0PENlpoE8UKmgBJpGtRJkGej7PM9NY7s_OOPneGqBH7ZdC7u9GG76hQTRM_izj7hHQNETTpC3A-sr9TbNXSs-oBESeyl2G99vUEezDKFLZ_c6O7zUz1tNhjf2BBck0et3mNMEwZdDU6W1qEFJC6ajdHVTA5zi54uWBycsLmjul3S8sksHw0Iz7hWQG1cVMdPUw4DaQn-xC5nFfLdhR6A_yGEdw2bD5To8QlBMGirOkfhz-Yb7052Ce4Xkc1EV4Pkav9OTo876MxnL5KM3bj4bPhmB2r76j1CC4Z6hcjU-g3TNu6EQ3kPuhxwB9GOwxFdf8fhtJuTIpxp6CZHOMYG4DnIx2hzEcTRqVkwWr2tqoFwE47G0vBQ=w968-h725-no">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Summer 17 Road Trip</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="fa fa-image"></i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Grand+Canyon+National+Park/@36.1069652,-112.1129972,9z/data=!4m5!3m4!1s0x0:0x1f38a9bec9912029!8m2!3d36.1069652!4d-112.1129972?sa=X&ved=0ahUKEwiBpdfg-ovWAhWO-lQKHcL3AAAQ_BIIowEwEw" target="_blank">Grand Canyon National Park</a>
          <span>August 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title">3 National Parks, 3 14er Summits, 7 nights camping, 1,700miles driven</span>
        <span class="card-title travel-card-close"><i class="fas fa-times tooltipped" data-position="right" data-delay="50" data-tooltip="Close"></i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Grand Canyon | Great Sand Dunes | Rocky Mountain <br> Princeton | Shavano | Long's Peak</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Grand Canyon | Great Sand Dunes | Rocky Mountain <br> Princeton | Shavano | Long's Peak</p>
          <span class="travel-card-img-section-header">Caught Strep throat the first night, audibled to Mount Princeton 14er summit to start the trip</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/oZgzTOv9wVIdjhgV-qGwcOfw447ATyajuZYNJU7A7MHPrQ2mxI-dKRi23QH4aBkJPeMPnKUWeXRQE91T_QV_7xShye7mJCCMn3BztdAK6vR0JNwf7WngCxKo8A0Dvas4_hNn1dKaWZks6uEzZT-7KF9kgQUEB_eOAFl1hgdS88OtWgYOP3KZEvWwIrdebK4tJ8lRL7Tt5f4_cAO-OUQ2n1Prk7jkaWGJrIbrZX1P9-w15bUxAA4_SrxlOGDBbGVd65eiL-K6spKJ2ObdG4jiWdSP6a2lkGkd_J4mP0CB8Hru0R1TUGpL7387-boRNxP4FXw7YRVkCKmoYqSz9Tb927axbmRDcZGWuR62reSWf92hl0EiXfCjYY8DQD_GHz_rFIYqlGZwgJdQlTYXlLFKQIL0SN_mfigCnYV8FjEKf1ICLpRArh5BCh0TVKPS7PcDzeYWvo8IeJBBbjwdb2V6fqwlwmu_6L1BImfTW9zuIIh_7_o1Ys5tcQbdEqX6tScgeJJP6LZ7akBC2xcnpRKOijGWFm9tKgwD8VRml-uKoahEnMet-vh6tEp5DrgvHHAuNZSIAqvZZk40-BNQ1dsf8BvMXb2t16i0eksBMko=w967-h725-no">
            <span class="travel-card-image-description">Looking SW at 12,700+ on Mount Princeton</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/kJuO8BOYmYvjzWNxSWKWAit-NbyUkM60dtLlfk0NXO5robvNrIOLWzO0xtbOsK5XcCMmESaAFTEezzvAdA2G73M2h5bE5DR2_nOyWujQWIkqqiqC-_eUJQDs5rqvoFI4IIXg8yVH2gVMfrlmuQOJ0NU-GlZ_0AXnkLOraPkjW1hN0xAUxZ6I8X8rjM2OM5wyV-Hlx1c5vW7JeXbHkxtRByagge0M1wQQ_7QtQZPWTZHaiH_jiOh0ALS_zYgZ6drRFzeOXFv-36MezKUKLjKQqHs9Y1CpJBCdkkz0P2BoP09xhQJjvUVqFU4x7WaOJLVcfvsdKqqCLIAzDv84tYvrKTcNiJ1cYv11H_N-B3tqaisA4m3iDBmtHc48sjCENCM_O6J3h2-0KD6O6WtzSsUpUCBWczSaeUGL0e4VWWxDv7IxnZYOeYRx9gVQ1EUCP7sr4qJpx-Xgr0NXEP9XGZRUDagR4bDNIOIccSJEdsVc2QiFUoalAms_KNs6ICDBRXsy1h05kFPFnQGzxX3QTDFfr6lPSm3-Xu8WJTSzl4vOkZeiJCVCLFRdcKP-cF2RytIJfmEX5SD7dqRldqPM_MHg3Gyq_KrtTgL4Qgxdp9E=s725-no">
            <span class="travel-card-image-description">Cheesin' on the summit of Mount Princeton</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/ddPY5zYlEkhVISI5wTQjDgzuiadGHK86L2Pbj0Oz5g7DkyQv7i8NZpSjVWJKNiZr-YiX_yMBdUGAhhhdLMDWGi2wdvU7pUAsxc_x305GAvI0Us-BvwKD23mZcUcDtwYnzAh7WZtoA31CpsqY8ylQLv7JrM_fOwIxlMFXo6gtQhVBVRw4RaBL68c4KX864gNGcG2CxWthx5pTze-kQygxOuCljQdYPTQleoR_bJUQ-MjmCHFpEIt091q4sYAWqA4WMDePHAxNAhnqdPAvE4YPJcCshUXa7PVrqmgUXa4UNxqH0hpNHczYQGuUKrsrJPsZz5nb773JPgnqBXRX_ceMJ-e6fMfjXEDljbrmWVdF75IxpVwT6j5LcDYZWqXfNm0NvO4NB-fyzm2S1-egz1CVhOiYvPtoAd-rYRe7W48eL4jobF0QR0W8vOyC4bv6S4KcEKUni_LrELT_fJWI6rnWTrkKzG2zqBdZ90XaJNGf2f48F4QR4n3K9VM2BgibQ5v_jQg5RRJeXVQxZTDwqLrSU7K0yWQ_csLza-QqCmySHUwrCl4ribQZXW0nLZgIzdcS4FayanDEzz_pfQ3VpatsqlgU0aO5SN_Fc2eS2LQ=w1239-h725-no">
            <span class="travel-card-image-description">Mount Princeton Summit</span>
          <br>
          <br>
          <span class="travel-card-img-section-header" style="letter-spacing:6px;">The Grand Canyon</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/kZRgY4Y-L51VRbPpX42dO1XKLU26ruhTITa8-C5IEFgZnHVsclcgPZKX9MuPGAsBKzNJO5QrAJxEg8lliBC44U_bGTysKlYERfl6i3MnRfyLvNM0Dkb4IQa1akyR3UUg_hZHR-E_Qg-M16IZBa0iVlAYTjQkNaeEADlPHI69fCbqyN839T37cB6jTVD8g9Jj1A6SKah9rSv8XLnhjDkCTBnBawcx8QUrxJbeG_XCSYgGgJw0dCFhKWCGED4ueEFyPVF80GOSxoyXBdDNNf9Xc6PRr-J-P63s8YdRqDyznAv2KouQkVJkviB0xkUAi26I_NO0V1Zdwn8iCF98sWBA7DojIOAtkG1xB_ez9-e4dHvH4PMBZaKi_fqL3dvGQDeTXtEFYpKe5E-HDJNGKgUlIwMrQM21ocHv17WUD14kb0gat41hhjO7c9KSUAodH2JJGce3Ht8e3iLt2V3CO-5EEhU7-OR4A5Vlcgo3dqveGGzvHSfGj15vn7gMUsIdcu3B2rPOGglQ1UH7aWkGbzqnwJGPh0oUFQVh62J0R1hriIj-6oc7v2PgWW5RhVvpu5-XANegTe44DFif5XR9GAAG5jn8cqpD9Vpn2KsXVWE=w967-h725-no">
            <span class="travel-card-image-description">My first look at her</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/ScrEtnif2ViEjqq91PHyRZUtdZaaRETbs8A0VWu1jRHsoBRoKjPncm1rTRPCNE_7EGrCQ_-Osxs5gu-5Qh9NGRUD-vWlp_Q1mx6ytunZ3Qa0I5TqIRMQFq8K4A10sQP3YBDo2fKfXjAtq17qIW4UOLfzD3qctvx1ACKv-YRN6cUEYF0MZQQqWmduKzNfajAOH4j_fRw3Ue2P2IUsF2TMVEhhINIOxvoX6Tb37KDnbVzevjED0Zo62juzSVVYmMONL4zd3KeNP2DmyaH3uojfX_UMJVyvOrnUAAl_SR7wGX6u6Ec7cEJpwEISt0-7xeg6w7RsXnSECCZLMKGRmHktLeSJMaCEIfPqxYSNhER_4u9WyoE5H-rxbQuG7DyD80_eZS4uXS0DDp060i-0IuSn6a6f9-FxjUd8ZSJHkxnAaK4JG5E8nejXgf9PARqrZx5SxT6KqoOH-VRSWoaSgCLfRZaI9Da_Q45GC6feiG2DMGELNryAELlLriCR7kdJJGgbjn3M00agX7XfRTYMoyz_htBDblXTOCfo-o29YnpXvNE6xEr9lt6u4ACQOI2XYsMjcEYuY5SkOo7Jzvq6Q6_0yeVh5yBbswDcyFt0oBw=w967-h725-no">
            <span class="travel-card-image-description">Grand</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/gofQBijg3-nWx7PhBmPzEgkKSjkyUEVH7-2sUbkp70KGUhhY-WJ6ddClvN_HVm_5aS9tw1Ii00LfUJr4uIoT3tcVso1oFWJlbiNDbRe5dxuP7GsWuGvOlVWL9pOQHcwc0PkIDYNNTCIOjrh5kRS9FqCHswiFduJ6QKMJyjvwa69O9E_o97EDtEFU0Pu4ozwQczlRpFOSZwsoP-Z9iHKs54l8NGvLbNf4vom3VrT3-x2D_5Ul3BgE22tLkEMgt-zAI9pBLuw_NaX4eCV1uWwJ7Ln1ZAB2vk3Ei3s1mDLTl-KvCi7-QtaGSG6qaOJnniC-LaFrHtM34UUyO6ed7i5zyrQxyLQ6tmPqAI067_jEf1KDJL2oIhQyOUoVzlm96CDK5zFyKTXowxvdjZuF_BFnhOphZq7meIIxd3jMa1J65DCEm0ZVAXJ4m1-Ni_aiI2RkWyMEdOg1pBrbe2jaal1oDdo2FjnHTHz7RFKyezjdkX_UD3TqVron_XLxmobumbfw3flkcLDIPDOqMLiKhw8s8G6eRlfNG1O01D1PW73rVHDgkngGrzaBElZX4Qu0Ap8WIBh0sJ8ehF1IZeERnyqebGTi3h-JKHNjYDGH438=w967-h725-no">
            <span class="travel-card-image-description">View of Colorado River carving through the canyon</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/a_U8JxqTfMcNn0fT1NsL7Ae_paGiLRo_E6F8pSCWU6Dj4yhd81DwOxpKo2oParOAmSQsVHbzPQl55ZxhvZQYoxr7NTu2aAhRunw4K0VRP9DxatzST8qt8Zb82m0mS1n3yWZal1a83IgLZ6Grz4kR__WTqmbN895OMtuv4jUAgeCPrYJesDq6b8ZFo2CvWshSLGmePI2-91v18AXN9mto6nSWNF-2NkjEZrfQZl8zIkvbAZLwMJhlsbTEX5tV0hkW4xsp2RJbmIU7UcNg3QdKs4rWD7HFoGBjNFb_5ZlwVr-j7hVaSJUeZ8C-qq1Iymu9nATjKSa3OePqZY5QYwTFGoC1JNjqT-YSyWO5iyW4GyFBQa8_yI4AVWkgNoo4XUQLxeF1iBuAyHzuBEi4KyNhyAG0kkL1e4haqExeNtWOra5GnjHrhySnD28baH6G3SQd6wNi8KFh5yQllQax6-5eIhilf8d6KUEIxCp6uHP-Ei-yqOo6cvMBYR3Dao2XS6qTRPp04Noezyin3oaaOyP6uAXV4yFPvcd0VKopOMJ4NkD4m2w9Xi_R92omVdAupH38L-nxbblInH9n0gkNljwO5WHYmFc-AsfAGXdohtU=w967-h726-no">
            <span class="travel-card-image-description">Looking towards the North Rim</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/l53bYe_DMKQ8TSX-Sm3r37Bu6aJeDfyvYXJWxULfArnx5ykbyhS9D5plM6Rf9QnqmUzDJjfbQSBj1aPJWKgwoAv4we8A78EaHvonU0z805INo68PwpumtPVgJL2VN6Kcp4B2iyUaHD04CYV0GF0XPFOV5QQkK8AMDBVexi5oHb9qCHLp8iYHuigwGlfzBBWpPoQ2IvXxWLCucTQ9anUO-DfMQOaJKfG0tnVanqw7NplPcqPCsnaQ8HLtrNmteqXTEkPgSiQIxiTnpqSSX9Ya3ghlpYnOaIwMRio92awD8O5DUQrkJdUOUYacMxrdLiNf0SVqrKhN_5MTZPijhyaPu8kBqu92sXfoGOrjspQXDSHk0lnmTLnPie0BoeI8uUk_oUXgpyBEYDI7co3r293Jjz-26AmmnaVMIQPUUNHSTvu0yMukyMLc8aeBit6N9XIvG5veoZdN9Kyp3yWCNQ1q_SL0h2UdqoxigS6li6qMkrhTbLdATZyOzBN0-B5Q8eXPTp5-6jUatxzUb-v2agqzEOc9RPlxH7yI2TIOdTm5lH3w6L8UfsOwM5ninOcbQygonxbsfOFhdemed0m7dxxF7E3Ggmy5T7STMhNUvbI=w967-h725-no">
            <span class="travel-card-image-description">chillin</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/0d_ejkD7ULk8NEFij0gm9OlJBMXOf6JSyaoyionpwYiNGYUe_bIul3LoeVpeCLyEwCFPGg5_0GW6-REaaniW9K2wtk9_T1CaUNJioIO-2pWmCpmZW71ty1Gp-We4MmzNy8s1uLjTmT6B8zg4d-oP7PNnr0JHAxu1z7HU4UgS9S9NKshp6ZvjDZuDUFSTbL2_fllm2cRpkipx5o-eMmT0fprHe47c9kU1J0agYCRCHCYG75aJPqVyZQFsAFNH2FMwXVP7rol_Cpy3ogsipQOrLywvkHP1QE_7DKWPHbj8-MwfsxIwxl5eZkQLyphGP6alkDfoSN3q_5_InA8RLLmLLtSbzKoXv63-yDa2C945R7sLBcAbJLNJJCTtg41Ko2CbnuuKJmD9CPNqZNFnPq8HktsLnDVZtFyxcVpq835rdQNQ1gM6t_LFF-Uk-JmmjjLb1tQwNfzTLOjY-kLPWQr4vmypgQ4kAKfXC4uboPArU45MBgNghW5X70voIpp3d_qvec03VdpORygApo8E2lgkbHVQZfj4Xsygcdi8eLz4WEC09AvwgyoesN-jh540BwYkk_MvGS0f-b2GRkz4YaMV_V844ndo_rddYFc4gAU=w967-h725-no">
            <span class="travel-card-image-description">Sun starting to set</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/VwU3mb3EIvP5582XWYKsmvFuFJBIpNQbt2GRP6PfNtZ0nLh2Ob4EosKPCgQ5YG_m8xK-6k7WUVCzrb7ATddJiZlEMrYN_4v5updOndzpMUNAmQRvscT4dWi4c3E1eMxhkDo1zrYmlGDbQAid2lIW_geVpe0txb6qnlzE8d_TofQ4F7aBz6I4TUeZiaOkO-pFLJswAS4lnnEJRVy8UwmpLcQNURBalQ44h-QDwH4ZQWwVCtVyT1V7PA7cRlszSQdQXLfuHqRF8857pXHfATimg6JGl3OC87fX0WCpBXyWPPPgMQB5GBh_KPHIC3h7abinU0D_Dyzx8dwesaD9SaPH4r_WA2XGA2rorwOavxI1zsfkhCPI1CpAN7ZzIhk5cbK--xCVJMmvpoqVe9DWz5QIu3xFi64PsZ2iTDPOgSq6VVurAu5e_S-wxAvx512C5Pre28S9FmrfGCcXH984lRT15_GjCfwcVfuHUiTDjiWT_jfoAy4np17F536VWc3BNEfRl8M9CW50yYxziKTU2LW5r6Blk6c4V1JSB3ws1wIqxnk6_tpq4AU8Tr8jDrGmmwdKIyrXqNiH28HK9u_y--cvST57FTVzLPOE2QIk6GQ=w967-h725-no">
            <span class="travel-card-image-description">Start of an awesome hike my second day at the canyon</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/D6hYRepOD-WFC47IBcP39nm2Ew9jTo6dOnDEDnYABiVVw-AmQKZ_s3oBXUn0LUfZJrvAlBSfx4cr4ch4MCMN6cUzmEwASJfvxdFt4pygnFFWml67Ly-DYrh89UO6ivEmC_DT0QsyXOST7m0iGdXUNr4jFb7f4egLlhASi7FgcfxpBnu-slIxcgE5fQX3KH4jF5SnpBgVQEVKRbyhexy5I8G2LGR5KtoS78HkKV1oiYREShu_tDs0PENlpoE8UKmgBJpGtRJkGej7PM9NY7s_OOPneGqBH7ZdC7u9GG76hQTRM_izj7hHQNETTpC3A-sr9TbNXSs-oBESeyl2G99vUEezDKFLZ_c6O7zUz1tNhjf2BBck0et3mNMEwZdDU6W1qEFJC6ajdHVTA5zi54uWBycsLmjul3S8sksHw0Iz7hWQG1cVMdPUw4DaQn-xC5nFfLdhR6A_yGEdw2bD5To8QlBMGirOkfhz-Yb7052Ce4Xkc1EV4Pkav9OTo876MxnL5KM3bj4bPhmB2r76j1CC4Z6hcjU-g3TNu6EQ3kPuhxwB9GOwxFdf8fhtJuTIpxp6CZHOMYG4DnIx2hzEcTRqVkwWr2tqoFwE47G0vBQ=w968-h725-no">
            <span class="travel-card-image-description">Working may way down in to the canyon</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/HSEzBw5E1j_wTWQUahaCxhZV6EWGyx9j3FeflEsjcckDhYBG7souyXMA3KMPi-7oWfw99nmSMSFK0KkP8wXB6SeNueZfn2c4P9lU8q_tUw2zl7bIRZ6ufgbbmJxI0tvwHGxP7qaQMvJyO1TtgqsvLx31rEZnjZzl25cuzgYXc-GHVF3ovlTxR7nEpU_bt3w_1SITfKcp-qoeDjooaudSeajUh65NiiKgY09R99usbR9Nv9TNBnLgPI3TxoRMPXrLdp9_xRMfJHXo6h_7I-j6re8B-eBE6QQTN__lrjXYrch4P6SEfkWOTwnJqVJfKw4PvSyupPFQywiZyHx6YgVFtsB20Etdvj4hxFlG4jjkVetFuu8pXn5MDBhAEMnIiwTGqx7HvpaoRsqye5y_Grk8Q3mdl3Um1RMh1P0CuU-UcrHMhwsNxMMN7MqM8WcMXfoeySj91DvrPa3tPP6BSbp44Q7tkQXcaL20IMYhPSdgg1m26JvR4dbL0aziTWsEdwg_w9EHEXXo4GfQPKlGkWSz5CWvdfoHhc6QaeVpo1zL8XXMcsdUiIymTaZp-SV-OCMGhir9FQI9hKWbdtnWrT2Zclc5v_0q7I8ylgWBPv0=w967-h725-no">
            <span class="travel-card-image-description">South Kaibab Trail</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/ghyBInUBYDAHMBwiE25nZ4U6GwGe3pwVKYC8v9vn1TF-37ELc-wQlVm-giNWY0AEo06eZWZ-c0kS9SLvxC1MWRKVTEqzsRhfvQg_eHFBC6rKqcc7ao3sCkqNEzFMRSnTDHx5dv9FsY952P_dAQOzlZWsZRcPRoOc6fwGec4ouWRGVjaxDl0uCgU4TegHIWUQ3FSIrE-MqsExwyX6GqSf5vgNpBH3ecOA_Ig0k15aD_wT4Zwb1pFb-IQn6tKBHgXzuQofEOYrfr8NvlqkhMVk0hqKvs5-mDtF4NXeoTFznzH_2CN-IJF5XtjOFtkE4C6EkJn7rkL2R1Xlms1KSkOJnaDtztn4Kw_QnC2AHhN95GBTzq_VDz7JXUnMJE2Z4D8gB20Sx6BH9ub4wja-nx8tHOkad5lZqiY5j82lLACsflJLj3M93QrOp8Czhj1coJ7ziabF8-sfStArcgIyfikz6dDkzc5PINsGqZ0GSiXqtZjXp4lw1KktjQ-itRSf7HNb0NMislWTfBHUUoSqApNeOXKLSmxQMjC7qHGpgCnMQlGiQ6yCqNta56ZdIdk4rL2jHt_bcqpngGu9LA__IbAv2ZjJanEk8_mAnmepUEA=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/66O6naSj1wO2iQB6tnx9lkY-ReDUpcwTrPBcpBA0YRAae58AyvZrbo38-6teknGI8Pfox61Zl2ZMPfBUpie2ChyH2-LtABu141EyCglyl0-NQ2xk6JKrfsfp23-o3ADZVji04ZauF-9Txp2bID2nhT9NibnuJ_bms8tGGmahl7IX1xlO0uhlGF-oxXaz5KsOgZcg5Ho3OgcTAx0VxyNEYAY8u_dPYCXKv36_aHHQfy95pMogx76_EoUo4o9qBqo5AOgnztaYiEgmkVHtFwOYIEsAYNslkCz8f2DWQxDzuizHOSOPMRMOI3LA88IwSHuNTJcNXXwNd_6pNjQSqC7oWAe-w-ZcF-UG6qJCjMFAYgfuK4yFb1pMWO4FkML8HxZzVW8EVe3MUnUW8VvgiSwTVBQl9SBlDeQVA5yceJd3AGhGKqDpGcyfb4oczkpy25bUOeuchKpII3GjZ4IKic9Q43Bxg1tu4kmL9Xv_iPUTteWeMwWzDFg5QWHJdrxTgQCUVLI7-7f_D_HHb-B67Q8uD3TFvD7-aD30k-MZcBPzD2JMpfwaYUoWARSUKqL84bFkPXTBq9SO10bibVm_dMbkuNSSZPc3VqpD0_0Xikk=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/OamERDEBIFLdohVaoIdRtaV67hsoei_eRUYS_8QBMQBMdOasmB1KDa4XciSvvSJLLd-okiC6ESmqbpaF07BrLGgpoUgQM4ARpRL7mEpTVjhl_LNRgR5zHOGbJKOuT8HodUdVSrqNw2oj_OO-XHTsXV37ViS0HNotFPbgJByqDnejAC3tObGLqOTQuF2C3Sn2zvyOIz_9DxHRixhnWOBSL2Tv5bsi_yq2mUQxxbx3fGreOFhihEj3ykPZsJvposCwD8FbYm5_NyAUCikjsAbzGmyM-K76_RpXQqt0t0MzXT8wrMdnuvjDGMSCDiBod4bcZnqkGvKx5c9rYZIMMIXbqpmoNmY8A0w2XghUZEQMgGaWmxqn-yyg3hCgpyeBTaRxkNzFkfFhH3VWuHb7PH75EP5vC5iB1s90xQ-HBwvzw3AHf9KC4-DSnVmb_bDjBtTed7GzhDLKJ3iLCn_zvnmhSdDbNa2eKbT2xXkLbhjaCG01ZEtKzlEnoBvywUyyDsz_WJJ83K_yzIrhHA-YM7vr_j67RgkTasNN73vBoZ2IfMm54X4NQxk1H4BxfaZMUhTM-g7YutZXSLtUFnmrNJEcJyAhiInpC83LRbzbVyE=w967-h725-no">
            <span class="travel-card-image-description">Dry and hot</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/aYGFMjK6ubNUSHzuO9Vq3cZ_yGYBNtdlS4QJkKdNQwv4pBOTnJ3LGc9Mcv0gGDwS-YmAhJ4YEUFzew-GwSqGxVk0qTw-fXvrJda0aGrvcbh8RBoEIvFOT6mT_op6Pyi9UY-vQnYTlJ7gZ7_-kDujS0TCWpzsKRsj2Q4ZVpsgxSoHr6tqZTq7F8shdZgk2wyyU-TjUD6NpFicntXoW1Cl51-9z56ErG8aTsTvAfZPc1-WEfxZ4Ed6DEphBF3-YlJPha4G8j6jeTuqS5bVQEFUuk3u147Wl4P-x7SK-KUFTZFzH0ozDyi9RbOjE0-4JiZRgupPiBFa8DhqcBIsqbnpl002OtD_HFBVu9Wj73whYejDXA9X6o1hpHmSfYzW2IneJwTX-NlYhIINW3zhfOLE6SKGPfhgCJk75okhm3TFU6G-tDgWtkf0_wkPr4i99ym9Q6iZcZ_mMpzJ96jpvX--ImOBR6_zypasIvOzJ_w2WG5OFwj8SyVMsrtsiYrGayui1vR1kXG1StX1YdIZP1UN4CJkNkQdJTS1Klg5jLrI0uKFxocEtOBpB2UA3wk4cZirwFMwbe-kWL-dbfbxEPEBMCCROqYZIqO88EH6hg8=w967-h725-no">
            <span class="travel-card-image-description">Road Runner - meep meep</span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Great Sand Dunes National Park and Preserve</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/sIaH4KKMogOp4qKCMhu5RU6P1JmnbqWt7pmCsMm4I5FAEW1K64mn38dDBBKBQJu2CuHjpyYILLrSw7w3cJxevpHRfM5no-HYI9B2Tt3KdUZpnG-cQVjwXYipMkRPXktOagRa1rodBM4nwmmGexhAaHhb_qoZn-lROjxMuD1T2EG7x8LwJ0Prx1qx4tMa6KotrJIvxQp469gMq4GD8flMsPuacHAtKRP5mW-PWduilSTkeimuBnWRdrOAxiiGJ444sIfz5d5RxxPDTsX7OuYnukSwYp_SCEmBFmxtIh7jmEWwJtR5M48xphmgNLu_IM13EPIZjUwzhFCVKj0s-WKz7fCcbFHr5TxtpAqXmArn_NaEoNSmdxP3qRwjl0gUBIDCoPVo8zty8imKvt7mEp0XU4lo-S8rNLLNK1P4hA9Pu9gcpduZeXLa2TcylRjffeCYY1E9dS9qLq4MBVAufVAivgFQgFVsDBYwb4AJTqteWFjNlCdF7-1dhgWoUuLiCWqCvhHrer-q4LvIE-3Fn3CBGT9_QZBeOCovnToyLUb5JzOaa9vdEUPk8XugEIcbw6Q_F7awfKvawKXi2eNa8X8DIXre-7sG1OZ1gyvfCLM=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/xSEBqi54Ni_7i4ZqIVFMQhieBcdK8zKVbM7YxI5TAavnbposJJWLr6x9_x_sKKxM4lylGmf1aWCzE_qvs3Nt774kgnXnfHNO8JOH9ki4ZSesjZlGV658DunIXics-gNbDpRdihpvkV_hFT2IImPoPuzWn6ExT-FCqezRsr4elWvyYiuDyIEoAv1ZTXknI9ImBpnGGND3FJaDp3E_cE0EvDpxRFCBeD2x7gpYw_q4kCVlMMU_AW3M5cv3cicDHfrYpThpcr6zQT0Lcd3SljbiBPogGPDp_s4nlDjad9TbZp7hMyqZa2SfyEjgYm6hv_oVWIDYg4NhQVO4u3sfxI-S8QbDv-LOHVrwADt7Vx_pe6372q-oMNkyYgv7YIFIQa3mfH-Y427Wm8w4LMIDESflgzj7BtUTSgDd2OQvcyzdGdKCS8DUPdT-uoX8NCFL6bMh2YQVu5TsOQsjMK8d6_8jmeYaw61tCJDiFuta7W8gnorzozaaRBT4BYWyAj9V5nGHxcBGURy-saRyfTPiikByY716UIeh_QFeADFL15zFZNYthBqdM7f-6sgrhZN9ZzVCUMA0C4jJS09vZJMGb414qlFnYWWcIa2-xplJTXg=w967-h725-no">
            <span class="travel-card-image-description">Like a different planet</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/OnjgKU-2GjfYfcudfMNN09vle4T7AsMcBiJuXbEihVUH4XZLc0AeMghFAzxyx0YLX7JrKm8BdcS-sCNSg7gYwxIckenc0bJwc4WwUXP1nBK6aHVZKrx0Vj_SyyQeFm_dWiVHlSjPxdBJFWzGGA0xTUPGfO89P7Mf9aERPydZXxw9xaF4mUaVwrbVZqZmG45VpQmleUApQgNqav2nD_RpAdGuA4J33135ejCvhAkHgkhvvLUT2LedzPZU6OIzu_1Nc7B7hgUhbZ7sTjebm6RN3lDsVJpTIBw0yKdYfX0slt97RMhUhxM92s3awEfLyrEWiL6R7Nt9gJG8cTcwS8SWZzEb4Rfqc0oSq0UnzUlKYwcTL_34xS-CuEWkYkKKH1Sbrh7x8zu1E4gRDI5ZZIuV1NvnIGI_NtlO1J-Tbr9tuGGf4Pd77afHu-dnVIi9NHbAT_RyhwcyE_bynN0ge3bYg-QubC0Yd661C6sNmHxtnuVfJlAlzZIf_SsKVlPXCejTHhN7LSdYV_84bW_DvuDzHUUYPXU0iLGqUK5ZOw3_SkzFQaiHy2KsncbLS1kzhiMIv1cbJoEpm4keXeHGcxIFBIjL2lxycjqx9Y4bJ_M=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/H0UFoJd97J5aqI1SWJiIqPjc9Ez_7P-xb1Jvi7V3n0A1mvfK7E1nfQSGWR8fJw1v8VprDTJ1RGLQ6WfFmU7WOf6NkqUleFsneTpB0r53QmjsjaQe49CsqYpLvQ6OCuBstoOPuChSbSWeHVY3tCitQLO9z8m22w2TdXdN4XeDsfXHIrMue69l5yFVpksplabaY_exaHPld8msPWdnzGLbf0R3d_J4xWoDGJuft4vb_61Nk_9Kwj2UMtX6N86WaiXyQBgQ8zjV8dRR3uH3bDCKz_QmY59ThWziRoI23O9fBH3CTQDeGy09TGRO0QBclrY2ncEDHlxbdOxOWkPm8styVrp-rF3xsU6seJPPO5lUJ3_GPTNhPDuHEjQ1RG7NvM7unCRm7NYOtk7Wz2KaYMQ_Vu_H9a1do_9WRPcVkMj0JMBVpc9BXIz19SPSppGqkwAyp1nG8L1wXWIZGwpOqTolCdKReOjf4zcmyGTAvFMC8xc7Sg7kZ2MkjPWggkkz8ZE8Z3qrcAlJcAWyNAZSnfzgqiXJKHFgiFFiQcglQq571DtjPNyoBiZvNf7G4V1mOp7pFHlBzmq-FA3fH8I9YyiHs_bOw8w72BGaV8yuBaw=w967-h725-no">
            <span class="travel-card-image-description">Flowers making a way</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/sXuGwSzzBvTD7yNXn641PMf-jJw_Z7GpAny0wHLa9F-__vsXCx9EbmfNPkc7AC8IeMjSXr9CekYpDHaik_XX0BjPcBKoqgNjzorX2FW3t0SrciQ_YuvfYCoXdPgn0q27Rdb7w4vNSaKqtmrUVwer-r_4TPcbCWxKHSdCyjVPYI-XcQYjm6UqOoQ-aSA4FUfQWmBVbLybRR1tFiHif755WVvgqJcpV-bN31PA0sckJqyIXqKdxZBcORNi65aACeGJVlW6IM6spUz8ez27g_u4BXMjKFqB2rf1A_RVRELd9gsfAQGxMjTfUtpxJ2vnr_cXvKCUKcxqP59w2hdH4KW6FRDCyr9k7whca5cOjdmgCw1ak4pmD9_Y0sRJiowdtzEH6W6zd-eSojYMQ0myjRQbC9BQmcnqitrEe_OYJPSc61V8HH35cNce4A9tt7jMoOX8VX-KLafeIzlddcloumS-S5f7soCHF_T_ucblG041lVSBR5Ow4SnHKWoodRYIe6MEI7Og9Mq9huO96sqCEVjDrxVxrnxQXjuNzIJsRg0xKUWyQgiWhKfIVj39WAAndo7AD9HzQx7YUDkllAEbPFvhAiR5dBhOciw2yU2kUtA=w1386-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/_YZKijfNq-pyLR1bzs0N461bS6OQSYY5NRcAvp2BjuM4mm8bXh_yVwh8WbrkRfcDrDn7-XoBSpAwpHU9tnhDGTVq2JUi-mc3uW9Zf7HKoHgf2-5dr5ujYnUzsSfBBLi63a7BP1Tu2FCbYEkpWnHZ9ciAs1y1EzgHSfwfCxsP8R_ph7lbq6abivQiqUdthzto-6O35FzuNxfYs2990KxH_vNiEi1rJ3a83jrj8GtptyPzeL4sI5qjNeCZR24H6-O9rVDbGUz4Y8Qhl5kBkq_4cGMVKikMczLF7QHhgXb8ogLlfUv4RyJoG-HhByj7Uc5MqnDrj2XPoKy7rSVUsYr3t6q9iVwHIHQu3t47FO4CIUvVRjJ-Cyh69rpJcYrnA72VW838fD1BlmVww3xtSrEgIJy1e3SaoM5DfKfrMH5SduQYIXqEemKcvpWZ2FQtzxAf5cKA2hrl5EThcpAbjEi6Isog94uoH-hnQth08KgSO1z_3qpm9XMHZELUNqgqzwjjTyx1NeyKkGvVnoyOjjrtxDcIskCgpUGGP4KMA5fAu6cJc8CNMMyY9HDEzd3DTp8RiLRlqw2UAhvbxfHnw54t2rWqsI0FHWQqcFvzLBg=w968-h725-no">
            <span class="travel-card-image-description">Dayman, Fighter of the Nightman</span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Buena Vista and Mount Shavano</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/lUq7KrFEwtzcp0wbJ8AeK9e6thhcThn50im2oyWVXfRmdnn6IXGoA9RhHqIoHnyfksfeGKI3vyRIkSDtNGGZKWpqR_nBRK2M5eXLI0sW2t8USbUtMZ9ueGDH_I8xqS-1fvEXkHQk8RssBOP35Ff7C3a64Vc3Ajq0X9XNL8aaK1JzF-c4JrbgKfDLUSMxZd6_OYmwhdoH02PRGwBDFbvC11cb3PGBjkO4eizNsmvWpd7tzKZitjYDKF-TLCwTwOv3fixw96N3k8uJFJ2edLedFpR7lQryESojQJa4tQyLCBE6LeeCtDovv-6ykYdNV_W5lqejioBcpu4QQZoVTayg5zA5kcaeS82cUR0G_qf0WBdxNc97iJpPCTL7GkNXXtPA8b_cT6iAMxu_Yayk2M0IMIoR5sJWFXs_tCTgXxGmBV9jDtJ8S_rVeI2zgpcQmaV5sn6FS6qfNW4dsWhsps2Rp614Tn_8EK9E2D7cSK6eRsh9MHFgSluPgC8kqd47CqhOeXwFFSn-lTHoYMg88q05mwtVsnIrlmD0toa-Q__ulrQwQcumsNJfwYuf1esI4dcyWELQXRRWzhT1v3MkcHrvYZlTrxG7GOp5GI1ItGU=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/w2IYb8aERTmZNmVXl7aWiAShTVWu51XoWu1FkFRuFNk8Wn0H9ttGoYCNoEG3U25BFTyJbXxE9IMWEnc6efNc66D1piy3ymn7g9R26AKcj_kDIeFnWOnqjpIet2Yw2z3TTOvOoeseysiZCMZrUT_D8xucBPc8zY129oiV8ka8NRErh38DaSZCKV-xDrqGza_wy7F25JpSfheqf2VSf3ODKFCby3lSFEsSyr46-oLduanMd7BEQMk7lE1Vha80LzZUUJdoCMnIHgOchAz8rHtjbpjjq50Z8JX0ciJuipzrilpDyqe7oxBZgMartQRp22qKt-OsK83IMIbWXXDbi7DPBuTztnBZuK-osLA5baJ7FdyGXi3kJtYkI23YLJVXU3kctds3g5dF4WAmUm5cu-tzfySJfNAjvrjrl1Iv4EiAHyymbnsdHFxw-LJi_kp66UPz7fEuvY0OMzWdWOiA_MxDCOF50nWTuYQRL0w00_G8EKb13gat849zBkPp1kZtoR5yCX-cm4se-Bz8KimS63MXefwZpA9XrYv9dc1QD8TblyaR2lzRH6mBnI1uNH79I6bIdcdo9HXnYUmqatMvZlOrnybq7guRpq7G9uZWahg=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/tAy5WbstsKLCltXVtDOkKcGAUw2Su-kfc5O43bCpnjzmkydeGdXukfeM8g0p2diu-x-nESDsMRXCq-v1kG5SzfY1-gU730c6W-vwIYvlSP1_X-ZOBB-iLsG36HTLfj1FOQLScRzEuNGwfYKaPYb7Zi7uQIek5eqV-7mL8AOafZPAPFbk1Wj2VXwBoPEo4Lu8tp3ivbq-cyRRK28OMYAjrSmKjqSYQKrWHmuo47N4asEmp5q6bS7PNMBw6HeL8Mk1FsWbWYFxd1nlAEwWPyeCC3_P-uRNm35MEMFXbQK8eA8bjf6LGilOrtBFsu4RGGhn-AHx5dFOLKYkFyt9TL0QOqG3Aun25FVdl9PpsQyKr4Bk5P7v0my_kuRmKKF6ImtIgYzd6mbUJxeGdORyy9mzsnORxN2xmQulLsARNMiGQgBsciAR_lZaYz661Z8ZphSh4WajzHJM3Zl7jw6AaMEkshg8Q-97UhjfVwPLC63fxwLKTqrUYi2vItLch-NBnAICW7IYsx4dxYjkqgtkPwHQMyZXahU5rfmYwVUerSAu42qJTnaJ2T6BJI728C71drXk1L0v_X2RK4M9zeLPqR8oPkUF-8vr0rXHKF4ae2M=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/qPtD3JdhrJfkPtI4bNBGvylHcFrCP_JRG3eQq1s6SfCNrHi1R4_b6OaIGi9nJTu5fPXRiEtUvLocfnjJ1X2oxBFJz_wUelZbT7882YG0iywWMELvEUCl9JITyjKY8C2x_jiC8pZgAHTDO-GVBhKWqdFdFYprSmQeUGW3d6_-wPBMUfD3bAtmCO_ILfCkKrNjfjpqNBQN3f9HBNsR05jAPoKVxvk1M46JcR_TP6DNTKgeDACSyfvYResun2cv6tNT6K6RSCn-mPRXLBr5w3Vv-qcQ_qOtV2z0O8REmFKPgNcOumwq-J81KvvqUhqTVDcnziHsz7FXxvz9aANv5oFk6lHemhDejzwU0axeFy0v2m6OnL_JSP1QZEppBGWUnUHvzZWqsQOoHsdcl5mB-NUDpmBRHffee3sXhg5lFSBfsWeX43yHczC6eEgrUmliu_1HbEw_B0c6zrjaG3VmaaqSuWOBzpeQA6x7ALQ28n5Xx83eSyZz8wLLUf8Armyx4mAxGJKfCJ3sOEG9EDMnqgTwU806lVrhXsF26yqzBCuly7Raoiwv1Kayrr9Db7bGqTPo_GGSQ3Uop5Rrb-z-t39iGKAPhtU1NMSR41UOLVI=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/KBXENOJ-Pyy0wAPuTcM8vUlvC06kNs73Pn38amna822xUlg1KKBe_8t3p62DpazZQAyf_SFR5BLC81Gq4fxj9kNAAntPJ4QAo_h_9OKPIrO2-TMTvNqT47wnwMD_GEJAt50nYF6V_MNoIv_6qZU-hseoqFl7ItWu-qiciHWCz_aATFN0Wv47hTuhui6-INWyrPjf6plAW__dkTha-pRa1ynJK3owAEk5c7i8zZfsvswyd8veEGzXoSJe87Tx8fN2XHeXkJvtp2ltfWSJz4JDd7JR-HhZqu6h1xx7x_QjyU1uBOZsbEc66FUNbD_AE6ecesjQq-lVGDgNB_wx5uV1eDz-3qxBvyIGxEDjnnW0nmrT21pzKSk4f4ndizK5am2nHuZB-yW7Dfk-DobFkO6_2d_aZKlHbNKKfgiLyK5AMPcUlooGGVt_KMpOyrjbLJHW05ETiFE5xbUyTqaVBmUIRsZ9o1S-Ax78ARjCJ_BTnL_oPLhKOY5-H8DZvvD3csyiw_PgR4Hr_qSm9pD5S1qKYwxs7B6y8pJfRYIH-NW6ifxl9scZq-tMAFKDV7mrqwTBOIJMBrjrlM5nP7lohELnobPMefdReEY5JxF3nMY=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/zu_4lGLOsYdnjo_mRqpc6E8GV-pU02XQKBkCHVQtiQGGmnFdKtqgqcFMuaFp9m-Rgph27Ah8b6oiRk85lVfA8iwyai8y3XiK4UryHOxTtCzsveQ01SPAeHQQUZKmD8-nl3p29nNocZl1LzjSHXVkG-eOPdCiMZai4OtsTDEj65YQ8rtPeECjlgmMzSvHTeIDlYzslr1h5uwQwHcMRLuMcTeq1hBocu5AobmRrONaDMgQi7idh-gdyTkFpWtkkIP6S6c0xGQJ0KnTd0BjTbp8-Jr1d27kx0As-yHC7n8-LAF0H1CdlSj23kfIqczBVjWUJ6jA1r4Z8qEbhmpaKdnl84dDK5a1ygxFh-WTPNQCCcsbnwbul5QOog83_GZO4owc2LEy73ErlstltaFchiqWxGtFUrvMnWWh5qKcjoIhDw6wRM201ZlVlTtehNDjXlVe2RUz8H6i7SH-hIPhDcetLFn3gRwiDyjHpPcfCavWV_7c6M6ED7V32MEMaXxh0wCwRUfD0Vy8Zb7uXymG6ARYqlYjle-41354GzHz9DuCTz9hUXjhTT0ni5tAPF5UshpRq4RZ2CXjJSxl-PT1rHiWhsUuoTfIUctHEt9hsyM=w968-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/_0S6-VX1Zm8srEFZE_ras8etojCdIogtPBHsRzbi5QLAbKWKX0iFfTpPJhT0dbNaHVxl2K87g6FGaLWeYSeu9GVwKmFls9oKmpjsBhga04xJLLCkvSV1KNZUilcUBA08jgkfstfYKohxzC6tYBoWXbSjmBZgHSMpApg9s5LmP2hYWT6PB-GR30lwRnfzAlwsMKlDm6qVwsZCWkekqAA5CNVKbyUXH17AB_4lP7q0fC-kreIZDeFWMdTNgrpnIC9q7XfjVXaoe8KjJpK2dIiesh5nI1aGRxI8UzABLo8ciVJlG0TJK0ZYj5HLwseUvZa5JGF85yexScCVInU6D6uw2jaK-Gh7IO5otziPCgMkw3ajHsl9F0yK6dt0SU815ui6rq6KHZ-1WfCwBPZRw01TcBDw2zkXpwy4CKONxvq0Fpdo1i8y91grxiAbv8e7btZ6eqZ49YyV18Q6-xLanJtXYYwADN_QnQv0Fn_KKJageDgwtvm5bIh4-OFokF0rIYsCb_7ZZ7cVgjJYskuHI51QXmpGjmeQKxojiRVcKZFzWtqwu9Z-__3Y73mqf_QlmOPQ9WiYYqvnRRz3pitDg4Rm5Y7AHIF3BmAc2wyhoNo=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Second Flatiron Scrunble</span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/TA1boTnCoB9Zn3B9Yrtsz-CN5bJIdoVcfLDxf-2iewuwJb-QkD-KBIkPfnNAsRzQUQEjaf5p9CvF7s6H7mNp6U-jvUnz2LjQ4LEKHIERrcZr6q0w3mIzJnS52HUqT7A_mtZmCHTx3XGVLLgfRRgVh6oJpoXlNyhRyhr14SX6U_y6HS0sQxUyM4AdgjJamlZA2wbO7aOcOSFvNRBCl2oKiqFQ0zVUTyfEzfLJwUf5caL4Y287Q61L3ZBJCwhXqHuXtwskDH7dTVDKsqmHyqizuxeUJfo_wYKl3YzNzCNCTgrE8MQF1bUK4MjQyVrUOO6XROtJBYqPYA0umf0nKeqalE2BS3JSE4-T1eSIVdveyE0nnkq9cSyu3cDoWIc1Ln1k_9fih6Jt8OnI9RwlKJb7DwU6WRjPZw34hGtE78HmFFDFx5KweBro5zYAnDx4UoMwiRLLG76U21igsP-Lbl3VBXav0uhhqXCUwVA_kNjpvIjpOfzaBfRP9ZNdTZe7DrT91703KR6WJykNRF0U3iv4uYirW7LA1bcAqDagIbee69Ux18xjn5dnzjXE9o7Lj1BURyMweJMuWK__7Uj0Rrb9Hv-vYf_YMTsm_1eoy4s=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <br>
          <br>
          <span class="travel-card-img-section-header">
            Day 1: Chasm Lake
            <br>
            Day 2: Long's Peak Summit from The Keyhole
          </span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/S_HQ3d5uLA4Gg2VGMO0Bgeu_kPilug2P2gXJnMf20G7nU0xeP6v_QnruTf3y_qfyWSPcNthBsmo4kTRDni4ff_QCfwxmgaYoNMYPlrmotBDXMw6MpxJLqibtagutqYFkbwZYjCtMStayyONu-sOPGXio8NOZXr9zMD0piyIvLi8VYPKyP1MIwI5YF3hQIWJiD0-hhaXqQFCdHdc_cUZ1Pt_I5hK0awXEC7iAyy9qz7l5f4NLtfMeiU_3BpezReZjiwncpJ6zh2gCzlPW58n_Ry54X7k4XUSyhDSo6kIFoWskwrQQm-y6E_-b5iSIMLt0lkgLD2as1jKWELsWPz-vfpLbiNrs6CkLe7h5j03o1jSYJeRklM2GT_tV23CYPI5rqyj77-ndg3_h4TVVX_SzRrjmE2FMU67bRNyWs500d-JRNNYYQwnwquOrMK2hoQ8F93oRhzhwetHXjoNddQxp_wLVFWP6BPHR8FjDo8hwL8S8Ti24zsCSg0UntTp795eITAvNip8U_uSvKQwgBI3nX3GGHYPIRxAPQ7mEXpMleNl8hRsUWD5J0MlwwpIv3_yPG4uVoFJawirHqSIMdr8rYeOWBqncJWPZHtc3Qdo=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/h62TW7zNBn1nxvQvhbglAb5btoMxmkjkpuY_Ii0CGPL_HC2od0A8Q-vuluISmxdO_3T9rxpELN706xRyP1m0JGX05zopjPh76aCRLhdM4o7KXCsVu4dZsZ6fEq4nhS_o2B8PPROIedFSq-WpCwDay1iDF70syHu17DbQkHo9JwHP_szi0CgGsT4GNXQUm08eCYKvdvDVHRW3XGKY7qUg9Kwxn218N9lBsK_fZDFVElZQysLB4Wl3V_lYWQpi4vitEPIW3SzsUXk7HzPw-MPtfPh0f9trDWeHVZUw1gO1_I3cDa9-sJu6xXETTgoHH8EKrWgYRd5mzX3EDULms7dfo-eV-HGLI9iVym0dvEYphtJ0r29ahc86O8ZrkQNyJOfRJ9bezSShzskhubvyaQy3psrx9MK6FX_z8VWimQxsfRiPp-PYDt9RPrRC8ZiwGpwdRNQtZRjJH6xKSiOoYX8LtjlU_QfzijF0VRHBY6R22jhLYFwol11h1qzd-jskpXMDVo9Xeyl7JIAbUP2R9IoexK-PAlhF23Xd1Aa1wKHBOJP1oRiOqeTjRQ62tJfMlXobxNjZFbIMFItlJFL9eegyTc4TxRVoqLDwkoWnQlg=w1341-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/7M_quc2adeC-2ObtAx-psXjweya1vuuda1KVZ2bfPdKuXAVFhZ_imU1QWdP-8mqsQ2wLDLqdJlX3Nth3FJfzl0YG-BgyOA-rL3IWPqyL9X1TShxLF-GR705G8cPi2eY4ohgiBB7c8WVWcfVYXbdgsC-2NxEQ9XxmkMZ36Uyp3_ixseW4fwWd5pQzug-dcoR_sUevQ_mQ3I4v1e8MkuD55c7jt6TJ0PFKcaIp1WnJbcJnpGIug9VOuuNgNjAAjk4kRyDQoVJ0OMPg0pl5g_0s4X0qmdqPZyZJ6MXLgLek_2a0YzvK9Tg4tvc5DCIurxXxpyKeRabLakbi5n6ep6SwkQPcCQ_S6tS9owl10yhKEf_rceShQHYzGaPNadoik-vSilxz2dExCax6T3fFO5UrJChv5XpA-oaoDe70XmM0ImFU5eh49s6F7UXZlXJbdf82Z40LRNyNyq9pmzPXKkJdcSk7FkvRtyFfWm5edTTqRe_KnrzlddpuwdfLnu7m5DmAbT8fkEOr9qvlwKLafRLDNNsr9ElHIhC90OALLlz-WjKPWOohpt2Ehqjbl5JkGq2ud_H7m-LGqM7eObJ2lc6EoalFjpb6DraS3z8-P2c=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/BvFsdc15HSjoqYu9bxJyHH1JIJDtGoaXVKF4g24esZD0fBOyCuEX69C_tvz_2RB-x3dobrLeMcYSIcSw58gSL_3YTyaqDHw171qA4oCAmN3OjewsvVZUhGeJsciTAArwyLOV3AyBwzVwU6iz8lE5gn3k-hNDmoS_2HnUdStriaTv-21vleWzkrYTeYUwtEtvn0itkRwX5xtjhO9qA3rNrxzBMysuLhL5LU7AO_4avUybb2bSXMeqjmP1mPQFpP4defjhhNFTW3JvHQahZWQx6C7kS6yVclQx-lR3H5Ihl_vCXTHnsEppGOl8YhuKj9jgIvfWX7spbFxgo48riwKNCvQoD2tmjN1qy_GbYhkfSCjw-quONfGNYIaZxQWe6MiUOhs5ZBQrfXs51EVsiyVPq7wCtBnGtrmOBI60KAwbjWbC8x99qfqdoUfsD4OULyr5C1yldQUdiA9JS-O3Ctnd1a0GeXEpJryb-xUjLnoNEYHIoPbj9IiILzDw6NSUzYPzDfYiRWlTL05mzqAo5OIsB9eso_muVBMoUvD4Vsg0Cat6S_ZBZecRIAY3bsu4h2ZF3xKrEIwQw2LafrsGlZOSkywg4N4X440LGBiFEsc=w783-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/KDUdSaCkItnXgzM0vdoHQ433vYR1bThAgq70NbX_6pLFwTaJRWPKdfWQUgqhy3FKpnHKzhK1ZFk1NEx7LtrPgfO8eeYb4ahQg-u-UWdPAQJToDcnxhDhiEKrb3jwQj9NFkHY7nGdbpWbrhTVKQuVWj1sTTFhah09jUQ2S9d_0nuAiHAuc47nDsqJgay7QKsz9llnFolN9x2vFzaA-L_myhGYo7pCo7QQ0buO8uzgF4QaA64BVIFCO6m_qBLaERV5HazjkvjSwSG54tDPaKjV8ryi1H3bHbmaxI3M-iSZ7aPYEt8xSibYNI4Z8-8stAeOfzN1j061jkjjEs3Jys1Iti-xIcR9FAqGzFGlBuMa29EgfbdaUlAOodi3q8IBCBpX48zd9Krur4cZV31xsGkgUSLQwZXrItuvCKGZSlfDsmYp6kBgOWPshgL58fRCP9ySbgUYeyIEeXnyg6SOz-nXLqJSgHuldBjwHsLiG6GU8mmasLah8UHPfzysrZ9MHjFOPy3hXb3NFEB2t5Vm82T8-RA-kCYq0TRn4Y0nOQVmf4I7g4YNZJK1c5Nwd5oRC-ZE2liIfTiM5sWZZkvkLZZtczxbNxh4zU-0dMaDDRo=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/-9Ea3FPg6u0zL__3UOFjVQ9cXzuXLkh--xKyJ7ZmuYokrdeUf-wbys7hSzxAd2965yul98_Q9Msd7vN7KH95n5v1n8qWKpbIAXEVVl3m1LocTK5ZNlKjKFIP6fFgcBDVN_0wgGNu97zfhKc77UpZBrNa0IVpZ-0_jdUWWe3-E5odaGFt9taS-rDGI495uuS82yQsWxc85C2bCCvk8u_KiVRCwFXMhc-k0pprdA3Y9iKuK8LpxLXYyODtoj3eajWs1pDfaOOeeYajg99BJYKZ-EEK84n62wCK_MV8u2A0tiTq5YcBbtH4CxurLLk7p5bhfCoV1ZLsKCY3RBwl3z5zSg1C0UU6hC4m0et0UjjByF4a8wMLoHrZqlgYTd0Q_SDSpTJMmCq976UdfLwmr36MIGn6WeBx-IMXezuqVacDnLNRukhslaAAqQpE1SbTXGMPJqnqGaqaIyxeB-guAh_kPo2oBjnFKPKHqBMQPIgWxhpI6D1EN7kzyifk0HyCNsto3sSKBpbVd1wc48Th4bhlxJjnRbibVcNcvPVm-wlKt3TTEzK2UvJZLAp90WJ6G0JBj7foadDPxp6ieLgY3dLGEb9esa8KGzfCVo8QssQ=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/St81yzNIE_qO10utonUkxAh7rUw2mwbCY0H7n2QE2uT2nkGA5awQ965WVBDQTvniRuJsirzW-PtxzSoYQnYMom75lMAk1hgYshQRQ4bKQHjR6qKyKLTIDOmvKWzPxpk03YbWYYHSFQM5Fj3COoZK7SMPBY12m4yu4V-dN-TLtRFT9Mxm1M65632a9bYM89M2pR3uHC99b1aZuNB26AkOP0HfyT3kG5ZJNuWL5sDcqJggLGGW6t8H314HV1TsqOCJ4uBkY1tJp84bBF_Lo5BL9yKpDyUwlR7BQK9PMfYlgFW4JFYYhCPHN0DFjXNwos6AqYofLT-ExXMOtvcFfLIRebklKBx38qo8SVRWxGwWho6j5SYNrPcyltDeIqW5c_6KpI6oIzIJZM82t4uVIi4Jnvcxxc-f6rfeObw2o0z-XY7VHn8B-bvBWHAlG3CmMtCQDQm71MEgEwQO7XZKXhSeKHeELVNTfjG4K6KptAROMV_tmF05B6gGVdoM2mGvpei0ItI6ibz9PxBMGfkwhk9PhcfUJlvW5p99MqsR_creBNcgt6y2eUenaP4vyRqZi8WzSs1oKz_iGjL4Jg7-RIiSL87f0fw4HJBQoqRC6ls=w1280-h720-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/6UeicjUSK39HtbaTMrV25gvSTV5jnDEsAQzNeSpeZFMrgl2lyFTdKVAFoIplFRd6yegQbojxj8p1FhExLU7XSusH6jGYenKys4Gixf9oRnAoZ3cdj6AVb_WqU4N1v_V6n48UUPC1AiY5BrX7ACATD_isBRpaqh5l5hPzKwc9S-V7WxbcA2Vr1oVx8CmXx9hyUpo0RUbQY4tMZr4HxU3J5GgoWDU5avBYmQDy2WZnVGuxWW3kakDzb3Jod1Tc-Z6CZtcrDvyVr67lK5ZOjRPNdfOFmPQDPkVV0mhS7qD9BNYga4qJIwAz_RP_iVxS-QG6wqr0Y20GIZ9Nx23AcRWQgtRPQRVPmSTNipfeoY_qn-e3OELmEWx1hqrnNMEN-GjxgDG0FR6xtH_2k9q-q9VwrEhVanYXuHSbHz1HqAggoXnCBxI0gXLryi4BV_N4b9JX8hVn6iIzcrTskv0mQ57Sr98zIpgi_5zYDR6P61pJv6qnxFp3KtM-8v4bdkJS8gbS0xf4WeCxnqF6Lc9aguZHmDrQnzA8hMbPbTrPioUJ5lJh5iYpgQuU2NPuSHy_bBMxSvnBrnZIHWorEGzcwJihQ7Ns68wkCFeCBu8nvfw=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/OfM3PiEiB6EIl5JU8zaGOXtIS9rmsBV3yjJkLhuryZGSmpUlr_Rm95VsykyuFfkPYnsshKo5sXKlzB4uRpT2eqDf7TCYLW6797rmOkJIPc91nmetBXYhmR53bgPTlgQ3M0EC2fW2cPkhkdPLcdOQrXqE0pdU5dkvVCH0LJGxm5YQxgt582n4HGP1tX6MlwnIExRMSekLR3GUkCRImcb7RK9Us9wezhScIPTPlH2nX-fscdWI-HtaFK6tsmlmwFQ_VnK4QVY2EGQTuAgE8KXCU5nIY0yH49yYfANlnyjrN7Ag9Qusb2ejJcgO7RmpQiv7oFw6GbZCp_HLFcWOoCOA9XmrqW8sBBmDZ36gagNNq0gf-Aj4F5Y9WSfrH7w6ri-kMhm1BeUXtCaR2Cp3x4PtCWOx9yjcpQJ6QkhkpydMY1whRYfsDyR2eQbX4mWSd172HfuiCXsrPu5oYk7awDOkOSSIXZVSExMHCLhdzJ3sPxWgtiz55sJOojk-6hfo_iieJDXs717DJAlc2efkXrsg1PQQcbvHBnzcy412QnuQWdEIicH5i40E1ii8vcu-nrnrxag44joYsgKv5tEXhQ6T_2DUxztqmFkhlmc2xCM=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/QpWaHFFnrNeANtt5HhjPE65B6p7QFNrZCit_iS8U8AmIOpdggx0X2bsrX4sSSPQcqtE2OhQ16A1b4AVtMbwOLYOxqfxb4Kls_afUtuNF1b3kcz9INFvgbYl-QdLbgZboCMoKkOswPq07OFYyAEAerCvXc_9145n68TXzlq7mdpffGMpWu68U1gbJM0CW16z_FqWGEhLFUev20oRtpRVUN9H4c0g-SOIG1dFH9BRrZZey6oDO1jAw6RQU6FG01DCAUAavw-LxATQIHPQdeaGW45sHh2bMUsp1z4aMH3lwnlt50DsOhDQnNdJ8i45dIchnsR9H-TujFp0z0Ishl5bAnJz3xWe8D-XOqgcguGUQpcn8B1Oqp1he7_vre4Vj_TvQJ3HbeyiouXOUQiSwdPDcU3ZFqlgVZr4QuW-e-rOGskZrwFaTiCT5LAL1fJuNqLwx4qqO7l4EqgzN23RApgZf3O30GxafBLwMNdLhjep_1VTLE2A9UzFuG6dfHBXB3sSnsI-GsBJBp5XuFbC62tH0EcvvzTgktTbRHdt_ivTTwzcCDXGXMVAJc2sU7lVoEy0tdDg2HQx7Vd1JltfB7nnBi4mLPpN-kXe6R-eXEjQ=w967-h725-no">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="https://lh3.googleusercontent.com/ErE0B0RGUjkZqgBecbG2zsnhrbdfs3IlWB-Tf59OHju37BUH30vmnlGK16H_ZKzCLmq7Y21L3s1LkIp9F7ELo7O_JH9n9dq5gf1FooOF6uPfbGZWr138u2dhvlvRBe_U_QoPCVMzk6KSWVSHgidbKl-LOxiDqUNPczTD83oGmOLSQnit9sqxVlthnSz1UrEaYv23jTYFj7LjNyBZNGQxi6uV-qlcWjnHXt063_45RKr2wJAOcPKvfFdZs4yxcLGC5G2l6fBza4pZJ1Sux666eyRyTPWKLXb-um6reZUQhRERF7CXTejUftIbsUIzIlIf0fvIAeVu-T8A5r9PoeOXOV0kd0-c9Fa1S4iRR2zoxiiu6mSuboUWORorC_U13n-syX0PuNdqjcbmLwpZUIV_IlDFB8pTQnefIK0OWWz2Qvwd9WklXVBrfNnEAwH5hw_k4efV809jrSUjC3EW9tuFf4BgRSlkQ0Muuyw3XgvH6InX6RfL4Kyf2DeUgyIywUtGmonJ2_TTZhhcqj9S9WKy7a_XDXDk69I4zurvmegQBqOQ4W3KasqgPomKKw16xCDkm_zzO5Z1vU8qBg5kUAy8ggqOD5rbTEhdyWS9z4I=w1290-h725-no">
            <span class="travel-card-image-description"></span>
        </div>
      </div>
    </div>

    </div>
  </div>


  <div class="col s12 m6 l6" ng-repeat="x in travelData">
    <div class="card travel-card">
      <div class="card-image travel-card-main-img-container">
        <img class="activator" src="{{x.trip.meta.mainImgSrc}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{x.trip.cardTitle}}</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="far fa-2x fa-image"></i></a>
        <p>
          <a class="travel-card-link" href="{{x.trip.meta.cardLocationSrc}}" target="_blank">{{x.trip.meta.cardLocation}}</a>
          <span>{{x.trip.meta.cardDate}}</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">{{x.trip.meta.cardSubTitle}}</span>
        <span class="card-title travel-card-close"><i class="fas fa-times tooltipped" data-position="right" data-delay="50" data-tooltip="Close"></i></span>
        <p class="travel-card-text">{{x.trip.meta.cardTagline}}</p>
        <div ng-repeat="y in x.trip.img" class="travel-card-content-container">
          <img class="travel-card-image" src="{{y.src}}">
            <span class="travel-card-image-description">{{y.description}}</span>
        </div>
      </div>
    </div>
  </div>



  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image travel-card-main-img-container">
        <img class="activator" src="{{northMaroonMainImg}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">South Maroon Peak</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="far fa-2x fa-image"></i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Maroon+Bells-Snowmass+Wilderness+-+White+River/@39.1109991,-107.01823,15z/data=!4m12!1m6!3m5!1s0x0:0x5d436e036dfee9c6!2sMaroon+Bells-Snowmass+Wilderness+-+White+River!8m2!3d39.1109991!4d-107.01823!3m4!1s0x0:0x5d436e036dfee9c6!8m2!3d39.1109991!4d-107.01823" target="_blank">Pitkin County, CO</a>
          <span>August 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Maroon Bells South Peak Summit Trip</span>
        <span class="card-title travel-card-close"><i class="fas fa-times tooltipped" data-position="right" data-delay="50" data-tooltip="Close"></i></span>
        <p class="travel-card-text">Where beautiful women instinctively flock like the salmon of Capistrano.</p>
        <div ng-repeat="x in northMaroonData" class="travel-card-content-container">
          <img class="travel-card-image" src="{{x.img}}">
            <span class="travel-card-image-description">{{x.description}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image travel-card-main-img-container">
        <img class="activator" src="{{sanJuan17MainImg}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">San Juan National Forest</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="far fa-2x fa-image"></i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/San+Juan+National+Forest/@37.5439282,-107.764023,15z/data=!4m5!3m4!1s0x0:0x8449191b182ce7fc!8m2!3d37.5439282!4d-107.764023" target="_blank">Lake City, Co</a>
          <span>July 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Redcloud, Sunshine, and Handies 14er summit camp trip</span>
        <span class="card-title travel-card-close"><i class="fas fa-times tooltipped" data-position="right" data-delay="50" data-tooltip="Close"></i></span>
        <p class="travel-card-text">The San Juans are my favorite Colorado range. Secluded, magestic, diverse, vast, and always full of adventure</p>
        <div ng-repeat="x in sanJuan17Data" class="travel-card-content-container">
          <img class="travel-card-image" src="{{x.img}}">
            <span class="travel-card-image-description">{{x.description}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image travel-card-main-img-container">
        <img class="activator" src="{{oxfordMainImg}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Belford/Oxford Traverse</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="far fa-2x fa-image"></i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=oxfo2&peak=Mt.+Belford+and+Mt.+Oxford" target="_blank">Mount Oxford from Belford</a>
          <span>June 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,153</span>
        <span class="card-title travel-card-close"><i class="fas fa-times tooltipped" data-position="right" data-delay="50" data-tooltip="Close"></i></span>
        <p class="travel-card-text">Me and my best bud, Garrett, crushed 2 in a day.</p>
        <div ng-repeat="x in oxfordData" class="travel-card-content-container">
          <img class="travel-card-image" src="{{x.img}}">
            <span class="travel-card-image-description">{{x.description}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Huron/Huron1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Huron Peak</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=huro1&peak=Huron+Peak" target="_blank">Northwest Slopes Approach</a>
          <span>June 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,003'<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">A beautful class 2 14er; a great peak to bag for those looking to move past class 1</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">A beautful class 2 14er; a great peak to bag for those looking to move past class 1</p>
          <span class="travel-card-img-section-header">Huron Peak | Northwest Slopes</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron2.jpg">
            <span class="travel-card-image-description">Camp spot the night before</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron3.jpg">
            <span class="travel-card-image-description">Waking up with the forest</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron4.jpg">
            <span class="travel-card-image-description">A first glance at the Three Apostles</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron5.jpg">
            <span class="travel-card-image-description">Working my way up the Northwest Slopes looking back at the trail</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron6.jpg">
            <span class="travel-card-image-description">Looking down the couloir</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron7.jpg">
            <span class="travel-card-image-description">A sexy summit view of the Three Apostles</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron8.jpg">
            <span class="travel-card-image-description">Summit view looking Northeast</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron9.jpg">
            <span class="travel-card-image-description">Shaka in front of the Three Apostles from the summit</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron10.jpg">
            <span class="travel-card-image-description">Notice the tent in the foreground</span>

        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Grand-Teton/Jackson4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Jackson, Wyoming</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.nps.gov/grte/index.htm" target="_blank">Grand Teton National Park</a>
          <span>August 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Grand Teton National Park<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">The Grand Teton - Bridger Range are what God intended mountains to look like</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">The Grand Teton - Bridger Range are what God intended mountains to look like</p>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson1.jpg">
            <span class="travel-card-image-description">My first glance at the range</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson2.jpg">
            <span class="travel-card-image-description">Hanging out around Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson3.jpg">
            <span class="travel-card-image-description">More Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson5.jpg">
            <span class="travel-card-image-description">Looking down the trail on a 15 mile day</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson6.jpg">
            <span class="travel-card-image-description">Cooling off at an alpine lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson7.jpg">
            <span class="travel-card-image-description">Looking at her pointiness from lunch at a lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson8.jpg">
            <span class="travel-card-image-description">Sunset beach camping on Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson9.jpg">
            <span class="travel-card-image-description">More sunset</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson10.jpg">
            <span class="travel-card-image-description">Notice the wild deer in the lower left corner</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson11.jpg">
            <span class="travel-card-image-description">A better view of the deer</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson12.jpg">
            <span class="travel-card-image-description">Final look at the Tetons</span>

        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/La-Plata3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">La Plata Peak</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=lapl1&peak=La+Plata+Peak" target="_blank">Northwest Ridge Trail</a>
          <span>July 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,336'<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">My favorite solo 14er day-trip from Denver.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">My favorite solo 14er day-trip from Denver.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/Boulder-Field.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Big Bend</span>
        <a class="btn-floating activator halfway-fab blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Moab,+UT+84532/@38.5743927,-109.586438,13z/data=!3m1!4b1!4m5!3m4!1s 0x8747e1e59ab82d8d:0xb32b17af1d5c42d!8m2!3d38.5733155!4d-109.5498395" target="_blank">Moab, Utah</a>
          <span>April 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Big Bend Bouldering<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Outside of Moab, UT, this area offers an outdoor gym varying in difficulty and style. Must-try area for any passerby climber.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Outside of Moab, UT, this area offers an outdoor gym varying in difficulty and style. Must-try area for any passerby climber.</p>
        </div>
      </div>
    </div>
  </div>
</div>
