<div class="mountaineering-parallax1">
  <div class="mountaineering-para-text-overlay">TRAVEL</div>
  <a href="#scroll-to-top_Mountaineering">
    <span class="mountaineering-para-icon-circle-overlay hide-on-med-and-up">
      <img class="mountaineering-para-icon-overlay" src="images/Mountain-Black-Down.png" alt="">
    </span>
    <span class="mountaineering-para-icon-circle-overlay hide-on-small-only">
      <img class="mountaineering-para-icon-overlay" src="images/Mountain-White.png" alt="">
    </span>
  </a>
</div>

<span id="scroll-to-top_Mountaineering"></span>
<div class="container row travel-card-container">
  <h2 class="page-header center hide-on-small-only">Vahala Mountaineering</h2>
  <h5 class="page-header center hide-on-med-and-up">Vahala Mountaineering</h5>
  <h6 class="grey-text text-darken-3 lighten-3 center">Whatever your mountain, keep going.</h6><br>

  <div class="center">
    <a class="waves-effect waves-light btn-large" href="#vahala-films-collection" style="background-color:#0882B7;"><i class="material-icons left">movie</i>
      <span class=hide-on-small-only>Vahala Films</span>
      <span class="hide-on-med-and-up">Movies</span>
      </a>
    <a class="waves-effect waves-light btn-large disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Check back soon" href="#photo-collection" style="background-color:#0882B7;"><i class="material-icons right">photo</i>
      <span class="hide-on-small-only">Collections</span>
      <span class="hide-on-med-and-up">Photos</span>
    </a>
  </div>

  <br><hr><br>

  <span id="vahala-films-collection"></span>
  <div class="row">
    <h3 class="center page-header">Vahala Films</h3>
    <div class="center col s12 m12 l7" id="vahala-films-collection">
      <div class="video-wrapper card">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CnQGvCWdLWQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 m12 l5">
      <h5>More Videos</h5>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">directions_run</i>Pregnancy Arete v2+</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vrqQ5w4kMTU?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">explore</i>Castle to Conundrum Peak Traverse</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gWzcoN_PQH8?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">directions_run</i>Mr. Trujillo's Big Day - V2+</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7N17GbBOolQ?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">explore</i>South Maroon Peak - VMR Promo1</div>
          <div class="collapsible-body">
            <span>
              <div class="video-wrapper center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/veIB3OugZJ8?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <br><hr><br>

  <!-- Most Recent Top? -->

  <span id="photo-collection"></span>
  <h3 class="center page-header">Photo Collections</h3>
  <p class="center">In the process of migrating to a new image host. <br><br> The best things in life are worth the wait.  <br><br> Check back soon.<br><br></p>

  <!-- <div class="col s12 m12 l12">
    <div class="travel-card-current-container">

    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" id="travel-card-current-img" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip12.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Summer 17 Road Trip</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Grand+Canyon+National+Park/@36.1069652,-112.1129972,9z/data=!4m5!3m4!1s0x0:0x1f38a9bec9912029!8m2!3d36.1069652!4d-112.1129972?sa=X&ved=0ahUKEwiBpdfg-ovWAhWO-lQKHcL3AAAQ_BIIowEwEw" target="_blank">Grand Canyon National Park</a>
          <span>August 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">3 National Parks, 3 14er Summits, 7 nights camping, 1,700miles driven<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Grand Canyon | Great Sand Dunes | Rocky Mountain <br> Princeton | Shavano | Long's Peak</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Grand Canyon | Great Sand Dunes | Rocky Mountain <br> Princeton | Shavano | Long's Peak</p>
          <span class="travel-card-img-section-header">Caught Strep throat the first night, audibled to Mount Princeton 14er summit to start the trip</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip1.jpg">
            <span class="travel-card-image-description">Looking SW at 12,700+ on Mount Princeton</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip2.jpg">
            <span class="travel-card-image-description">Cheesin' on the summit of Mount Princeton</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip3.jpg">
            <span class="travel-card-image-description">Mount Princeton Summit</span>
          <br>
          <br>
          <span class="travel-card-img-section-header" style="letter-spacing:6px;">The Grand Canyon</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip4.jpg">
            <span class="travel-card-image-description">My first look at her</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip5.jpg">
            <span class="travel-card-image-description">Grand</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip6.jpg">
            <span class="travel-card-image-description">View of Colorado River carving through the canyon</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip7.jpg">
            <span class="travel-card-image-description">Looking towards the North Rim</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip8.jpg">
            <span class="travel-card-image-description">chillin</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip9.jpg">
            <span class="travel-card-image-description">Sun starting to set</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip10.jpg">
            <span class="travel-card-image-description">Start of an awesome hike my second day at the canyon</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip11.jpg">
            <span class="travel-card-image-description">Working may way down in to the canyon</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip12.jpg">
            <span class="travel-card-image-description">South Kaibab Trail</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip13.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip14.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip15.jpg">
            <span class="travel-card-image-description">Dry and hot</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip16.jpg">
            <span class="travel-card-image-description">Road Runner - meep meep</span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Great Sand Dunes National Park and Preserve</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip17.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip18.jpg">
            <span class="travel-card-image-description">Like a different planet</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip19.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip20.jpg">
            <span class="travel-card-image-description">Flowers making a way</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip21.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip22.jpg">
            <span class="travel-card-image-description">Night and Day</span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Buena Vista and Mount Shavano</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip23.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip24.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip25.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip26.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip27.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip28.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip29.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip30.jpg">
            <span class="travel-card-image-description"></span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Second Flatiron Scrunble</span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip31.jpg">
            <span class="travel-card-image-description"></span>
          <br>
          <br>
          <span class="travel-card-img-section-header">
            Day 1: Chasm Lake
            <br>
            Day 2: Long's Peak Summit from The Keyhole
          </span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip32.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip33.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip34.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip35.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip36.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip37.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip38.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip39.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip40.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip41.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip42.jpg">
            <span class="travel-card-image-description"></span>
          <img class="travel-card-image" src="images/travel/Grand-Canyon-Summer17-Trip/Summer17-Trip43.jpg">
            <span class="travel-card-image-description"></span>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>

    </div>
  </div>

  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells8.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">South Maroon Peak</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Maroon+Bells-Snowmass+Wilderness+-+White+River/@39.1109991,-107.01823,15z/data=!4m12!1m6!3m5!1s0x0:0x5d436e036dfee9c6!2sMaroon+Bells-Snowmass+Wilderness+-+White+River!8m2!3d39.1109991!4d-107.01823!3m4!1s0x0:0x5d436e036dfee9c6!8m2!3d39.1109991!4d-107.01823" target="_blank">Pitkin County, CO</a>
          <span>August 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Maroon Bells South Peak Summit Trip<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Where beautiful women instinctively flock like the salmon of Capistrano.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Where beautiful women instinctively flock like the salmon of Capistrano.</p>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells2.jpg">
            <span class="travel-card-image-description">Backpacking in the night before to Crater Lake (approx 2 miles), I ran into some of these mule deer</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells3.jpg">
            <span class="travel-card-image-description">Morning sun</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells4.jpg">
            <span class="travel-card-image-description">Looking NorthEast back towards the trail</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells5.jpg">
            <span class="travel-card-image-description">Selfies</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells6.jpg">
            <span class="travel-card-image-description">Look closely to see some Mountain Doggos (goats)</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells7.jpg">
            <span class="travel-card-image-description">Morning Panos looking SE</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells8.jpg">
            <span class="travel-card-image-description">Snowmass in the distance, her majesty, South Maroon Peak to the right</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells9.jpg">
            <span class="travel-card-image-description">E x p o s u r e</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells10.jpg">
            <span class="travel-card-image-description">Looking towards the North Maroon Peak</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells11.jpg">
            <span class="travel-card-image-description">Summit views</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells12.jpg">
            <span class="travel-card-image-description">Which wich gives you a free sammy for this type of photo; why not?</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells13.jpg">
            <span class="travel-card-image-description">Love these moves; exposure and class 3 climbing</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells14.jpg">
            <span class="travel-card-image-description">Working my way back down</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells15.jpg">
            <span class="travel-card-image-description">Heading back to camp</span>
          <img class="travel-card-image" src="images/travel/Maroon-Bells-South-Summit/Maroon-Bells16.jpg">
            <span class="travel-card-image-description">The iconic maroon bells photograph</span>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Redcloud-Descent-06-30-2017.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">San Juan National Forest</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/San+Juan+National+Forest/@37.5439282,-107.764023,15z/data=!4m5!3m4!1s0x0:0x8449191b182ce7fc!8m2!3d37.5439282!4d-107.764023" target="_blank">Lake City, Co</a>
          <span>July 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Redcloud, Sunshine, and Handies 14er summit camp trip<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">The San Juans are my favorite Colorado range. Secluded, magestic, diverse, vast, and always full of adventure.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">The San Juans are my favorite Colorado range. Secluded, magestic, diverse, and vast.</p>
          <span class="travel-card-img-section-header">Redcloud Peak and Sunshine Peak Traverse</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine1.jpg">
            <span class="travel-card-image-description">6:00am looking back towards the trailhead</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine2.jpg">
            <span class="travel-card-image-description">Morning sun</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine3.jpg">
            <span class="travel-card-image-description">Working up the trail</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine4.jpg">
            <span class="travel-card-image-description">On the Summit of Redcloud Peak. Wetterhorn Peak(center) and Uncompahgre Peak(right) in the distance</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine5.jpg">
            <span class="travel-card-image-description">Redcloud Peak summit looking toward Sunshine Peak</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine6.jpg">
            <span class="travel-card-image-description">Redcloud looking on toward Sunshine Peak, different view</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine7.jpg">
            <span class="travel-card-image-description">Summit Beers on Sunshine Peak</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine8.jpg">
            <span class="travel-card-image-description">Exposure on the saddle between the peaks, heading back towards Redcloud from Sunshine Peak</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine9.jpg">
            <span class="travel-card-image-description">working back down the trial towards the trailhead</span>
          <img class="travel-card-image" src="images/travel/Redcloud-and-Sunshine/Redcloud-Sunshine10.jpg">
            <span class="travel-card-image-description">Runoff Creek in high country</span>
          <br>
          <br>
          <span class="travel-card-img-section-header">Day 2: Handies Peak</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies1.jpg">
              <span class="travel-card-image-description">Waking up with the mountains</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies2.jpg">
              <span class="travel-card-image-description">The Forest Moon of Endor</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies3.jpg">
              <span class="travel-card-image-description">Looking S.West heading up to Handies</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies4.jpg">
              <span class="travel-card-image-description">No better sight than snow in the summer</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies6.jpg">
              <span class="travel-card-image-description">Working my way up the couloir</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies7.jpg">
              <span class="travel-card-image-description">Selfies at 13,500'</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies8.jpg">
              <span class="travel-card-image-description">I love traversing mountain spines</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies9.jpg">
              <span class="travel-card-image-description">Summit. Had a nice chat and tea with an older woman from Montrose, Co.</span>
            <img class="travel-card-image" src="images/travel/Handies/Handies10.jpg">
              <span class="travel-card-image-description">Working my way back towards the trailhead</span>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Oxford-Belford/Oxford-Belford1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Belford/Oxford Traverse</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=oxfo2&peak=Mt.+Belford+and+Mt.+Oxford" target="_blank">Mount Oxford from Belford</a>
          <span>June 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,153'<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Me and my best bud, Garrett, crushed 2 in a day.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Me and my best bud, Garrett, crushed 2 in a day.</p>
          <img class="travel-card-image" src="images/travel/Oxford-Belford/Oxford-Belford2.jpg">
            <span class="travel-card-image-description">Starting out for Mount Belford</span>
          <img class="travel-card-image" src="images/travel/Oxford-Belford/Oxford-Belford4.jpg">
            <span class="travel-card-image-description">Garrett dragging feet but in good spirits</span>
          <img class="travel-card-image" src="images/travel/Oxford-Belford/Oxford-Belford3.jpg">
            <span class="travel-card-image-description">Summit of Mount Belford; half the work done, onto Oxford</span>
          <img class="travel-card-image" src="images/travel/Oxford-Belford/Oxford-Belford5.jpg">
            <span class="travel-card-image-description">Traversing snowpack on the way to Oxford</span>
          <img class="travel-card-image" src="images/travel/Oxford-Belford/Oxford-Belford6.jpg">
            <span class="travel-card-image-description">Mount Oxford seen from Belford, working our way back</span>
            <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Huron/Huron1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Huron Peak</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=huro1&peak=Huron+Peak" target="_blank">Northwest Slopes Approach</a>
          <span>June 2017</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,003'<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">A beautful class 2 14er; a great peak to bag for those looking to move past class 1</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">A beautful class 2 14er; a great peak to bag for those looking to move past class 1</p>
          <span class="travel-card-img-section-header">Huron Peak | Northwest Slopes</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron2.jpg">
            <span class="travel-card-image-description">Camp spot the night before</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron3.jpg">
            <span class="travel-card-image-description">Waking up with the forest</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron4.jpg">
            <span class="travel-card-image-description">A first glance at the Three Apostles</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron5.jpg">
            <span class="travel-card-image-description">Working my way up the Northwest Slopes looking back at the trail</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron6.jpg">
            <span class="travel-card-image-description">Looking down the couloir</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron7.jpg">
            <span class="travel-card-image-description">A sexy summit view of the Three Apostles</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron8.jpg">
            <span class="travel-card-image-description">Summit view looking Northeast</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron9.jpg">
            <span class="travel-card-image-description">Shaka in front of the Three Apostles from the summit</span>
          <img class="travel-card-image" src="images/travel/Huron/Huron10.jpg">
            <span class="travel-card-image-description">Notice the tent in the foreground</span>
            <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/travel/Grand-Teton/Jackson4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Jackson, Wyoming</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.nps.gov/grte/index.htm" target="_blank">Grand Teton National Park</a>
          <span>August 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Grand Teton National Park<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">The Grand Teton - Bridger Range are what God intended mountains to look like</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">The Grand Teton - Bridger Range are what God intended mountains to look like</p>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson1.jpg">
            <span class="travel-card-image-description">My first glance at the range</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson2.jpg">
            <span class="travel-card-image-description">Hanging out around Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson3.jpg">
            <span class="travel-card-image-description">More Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson5.jpg">
            <span class="travel-card-image-description">Looking down the trail on a 15 mile day</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson6.jpg">
            <span class="travel-card-image-description">Cooling off at an alpine lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson7.jpg">
            <span class="travel-card-image-description">Looking at her pointiness from lunch at a lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson8.jpg">
            <span class="travel-card-image-description">Sunset beach camping on Jackson Lake</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson9.jpg">
            <span class="travel-card-image-description">More sunset</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson10.jpg">
            <span class="travel-card-image-description">Notice the wild deer in the lower left corner</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson11.jpg">
            <span class="travel-card-image-description">A better view of the deer</span>
          <img class="travel-card-image" src="images/travel/Grand-Teton/Jackson12.jpg">
            <span class="travel-card-image-description">Final look at the Tetons</span>
            <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/La-Plata3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">La Plata Peak</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.14ers.com/route.php?route=lapl1&peak=La+Plata+Peak" target="_blank">Northwest Ridge Trail</a>
          <span>July 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Elevation: 14,336'<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">My favorite solo 14er day-trip from Denver.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">My favorite solo 14er day-trip from Denver.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card travel-card">
      <div class="card-image waves-effect waves-block waves-light travel-card-main-img-container">
        <img class="activator" src="images/Boulder-Field.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Big Bend</span>
        <a class="btn-floating activator halfway-fab waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <p>
          <a class="travel-card-link" href="https://www.google.com/maps/place/Moab,+UT+84532/@38.5743927,-109.586438,13z/data=!3m1!4b1!4m5!3m4!1s 0x8747e1e59ab82d8d:0xb32b17af1d5c42d!8m2!3d38.5733155!4d-109.5498395" target="_blank">Moab, Utah</a>
          <span>April 2016</span>
        </p>
      </div>
      <div class="card-reveal card-reveal-opaque">
        <span class="card-title travel-card-title">Big Bend Bouldering<i class="material-icons right">close</i></span>
        <br>
        <p class="travel-card-text hide-on-large-only">Outside of Moab, UT, this area offers an outdoor gym varying in difficulty and style. Must-try area for any passerby climber.</p>
        <div class="travel-card-content-container">
          <p class="travel-card-text hide-on-med-and-down">Outside of Moab, UT, this area offers an outdoor gym varying in difficulty and style. Must-try area for any passerby climber.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
