<div class="container">
  <h1 class="header center page-header">Project Showcase</h1>
  <ul class="collapsible popout" data-collapsible="accordion">
    <!-- PROJECT SPOILERS -->
    <li>
      <div class="collapsible-header active"><i class="material-icons">whatshot</i>Spoilers! Podcast<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
      <div class="collapsible-body">
        <p>Spoilers! is a movie podcast that reviews new and old film.
        <br><br>
        Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!
        <br><br>
        Built using JavaScript, AngularJS, Node.js, and Google Material Design practices all as an individual project.</p>
        <!-- SLIDER CAROUSEL -->
        <div class="carousel carousel-slider hide-on-med-and-down">
          <a class="carousel-item" href=""><img src="images/Spoilers/Home-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Movies-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Movie-Page2.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Bio-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Bio-Page2.png"></a>
        </div>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn-spoilers hide-on-med-and-down'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-spoilers-modal">Pictures</a>
          <a class='waves-effect waves-light btn' id='projects-view-btn' target='_blank' href="https://podcastspoilers.com">Visit Spoilers!</a>
        </div>
        <div class='center projects-modal-btn hide-on-large-only'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-spoilers-modal">Pictures</a>
          <a class='waves-effect waves-light btn' id='projects-view-btn' target='_blank' href="https://podcastspoilers.com">Visit Spoilers!</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-spoilers-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Spoilers! Podcast</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Spoilers Home Page' src="images/Spoilers/Home-Page1.png">
                  </div>
                </div>
                <p id='projects-card-title'>Spoilers Home Page</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Spoilers Movies Page 1' src="images/Spoilers/Movies-Page1.png">
                  </div>
                </div>
                <p id='projects-card-title'>Spoilers Movies Page 1</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Spoilers Movies Page 2' src="images/Spoilers/Movie-Page2.png">
                  </div>
                </div>
                <p id='projects-card-title'>Spoilers Movies Page 2</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Spoilers Bio Page 1' src="images/Spoilers/Bio-Page1.png">
                  </div>
                </div>
                <p id='projects-card-title'>Spoilers Bio Page 1</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Spoilers Bio Page 2' src="images/Spoilers/Bio-Page2.png">
                  </div>
                </div>
                <p id='projects-card-title'>Spoilers Bio Page 2</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://podcastspoilers.com" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat">Visit Spoilers!</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT SPOILERS -->

    <!-- PROJECT BETA CLIMBR -->
    <li>
      <div class="collapsible-header"><i class="material-icons">videogame_asset</i>Beta Climbr<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
      <div class="collapsible-body">
        <p>Beta... climbing jargon that designates information about a climb. In rock climbing this may include information about a climb's difficulty, crux, style, length, quality of rock, ease to protect, required equipment, and specific information about hand or foot holds.
        <br><br>
        Beta Climbr is an infinite-scroller game where the main character, "Cliff C. Hanger", dodges falling rocks, eats Cliff Bars, collects ice axes and rope powerups, all while in pursuits of that once in a lifetime climb.
        <br><br>
        Built using Unity3D Engine with C# Scripting; this game has 17 different C# scripts interacting simultaneously to get Cliff C. Hanger to the summit he's always dreamed of.</p>
        <p class='center'>"Mountains are not fair or unfair, they are just dangerous." - Reinhold Messner, Italian mountaineer, adventurer, explorer.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-BetaClimbr-modal">Pictures</a>
          <a class="modal-trigger waves-effect waves-light btn hide-on-med-and-down" id='projects-view-btn' href="https://beta-climbr.firebaseapp.com/" target="_blank">Play!</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-BetaClimbr-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Beta Climbr ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Menu' src="images/BetaClimbr/Beta_Menu.png">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Menu</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Gameplay' src="images/BetaClimbr/Beta_Game.png">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Gameplay</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr GameOver' src="images/BetaClimbr/Beta_GameOver.png">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr GameOver</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Settings' src="images/BetaClimbr/Beta_Settings.png">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Settings</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Credits' src="images/BetaClimbr/Beta_Credits.png">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Credits</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://beta-climbr.firebaseapp.com/" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat hide-on-med-and-down">Play Beta Climbr!</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT BETA CLIMBR -->

    <!-- PROJECT Vahala Foam -->
    <li>
      <div class="collapsible-header"><i class="material-icons">business</i>Vahala Foam, Inc.<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
      <div class="collapsible-body">
        <p>Informational website for Vahala Foam Inc. A manufacturing / foam fabrication company in Elkhart, IN.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-VF-modal">Pictures</a>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="https://vahala-foam-mockup.firebaseapp.com/" target="_blank">Visit Vahala Foam</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-VF-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Vahala Foam ScreenShots - Coming Soon</h4>
          </div>
          <div class="modal-footer">
            <a href="https://vahala-foam-mockup.firebaseapp.com/" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat hide-on-med-and-down">Visit Vahala Foam</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT Vahala Foam -->

    <!-- PROJECT SNIPPETTO -->
    <li>
      <div class="collapsible-header"><i class="material-icons">trending_up</i>Snippetto<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
      <div class="collapsible-body">
        <p>Snippetto is your daily dosage of news, entertainment, and planning.
        <br>
        <br>
        Built using JavaScript, AngularJS, Node.js, Express, Knex.js, PostgreSQL, and Bootstrap within a team of me and 3 other classmates for our 2nd Quarter team project at Galvanize Web Development Program.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-snippetto-modal">Pictures</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-snippetto-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Snippetto ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Login Page' src="images/Snippetto/Snippetto-Login-Screenshot.png">
                  </div>
                </div>
                <p id='projects-card-title'>Snippetto Login Page</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Home Page' src="images/Snippetto/Snippetto-Home-Screenshot.png">
                  </div>
                </div>
                <p id='projects-card-title'>Snipetto Home Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/Snippetto/Snippetto-MobileHome-Screenshot.png">
                  </div>
                </div>
                <p id='projects-card-title'>Snippetto Mobile Home Page</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://snippetto-34aee.firebaseapp.com/#/login" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat ">Visit Snippetto</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat ">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT SNIPPETTO -->

    <!-- PROJECT STL -->
    <li>
      <div class="collapsible-header"><i class="material-icons">home</i>STL Real Estate<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
      <div class="collapsible-body">
        <p>Informational site for Home Buyers. Modeled for a group member's family business.
        <br>
        <br>
        Built using JavaScript, AngularJS, Node.js, and Google Material Design practices as a group porject at Galvanize Web Development Program.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger waves-effect waves-light btn" id='projects-view-btn' href="#projects-STL-modal">Pictures</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-STL-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>STL Real Estate ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Login Page' src="images/STL/STL-Home-Page.png">
                  </div>
                </div>
                <p id='projects-card-title'>STL Home Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Home Page' src="images/STL/STL-Real-Estate-Home-Mobile.png">
                  </div>
                </div>
                <p id='projects-card-title'>STL Home Page Mobile</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/STL/STL-Real-Estate-About.png">
                  </div>
                </div>
                <p id='projects-card-title'>STL About Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/STL/STL-Real-Estate-About-Mobile.png">
                  </div>
                </div>
                <p id='projects-card-title'>STL About Page Mobile</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://stl-real-estate.firebaseapp.com/#/home" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat">Visit STL</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
  <!-- END PROJECT STL -->
  </ul>
</div>
