<div class="container projects-container">
  <h1 class="header center hide-on-med-and-down page-header">Project Showcase</h1>
  <h3 class="header center page-header hide-on-med-and-up">Project Showcase</h3>
  <br />
  <h6>The Newer Stuff</h6>
  <ul class="collapsible popout" data-collapsible="accordion">
    <!-- PROJECT RUN Forecast -->
    <li class="active">
      <div class="collapsible-header">
        <i class="fa fa-running"></i>
        Run Forecast
      </div>
      <div class="collapsible-body">
        <div class="project-description">
          <p>
            Run Forecast is a personal project and work-in-progress focusing on providing trail runners with all the necessary weather information to go on extremely fun mountain runs.
          </p>
          <p>Built using <code>ReactJS</code>, <code>Material-UI</code> Library, <code>Node.js</code>, and multiple API calls.
        </div>
        <div class="slider z-depth-3">
          <ul class="slides">
            <li>
              <img src="https://lh3.googleusercontent.com/a6j_QQdGCjLNOmj-CWYIFIIYJf1KJ4ZEyH9YitG8bJDtX8fg3YTs7VLRP8FVrL-UHJUfop8g8uzZS4CXJXdntxwmou1nxyzhydn0FyVQVOynAX7uOP-X34Qm39oUshv10zX1V0sRZII9uVZT1G-qctWjATWvw7JgcC_no9XQRZvwwCtsyYYg08AAX8H4ePqWK6Wf3AYkepCOHIpGPDPEee2KO3jkXO1Z1oWUBRRaR2tldab4RXL1J75IPczCAHC26Mm7A-XXdZEs773FlJlMNDbsTuawjSk50S24KaQNniDY5zUmUyNBERfF1zsVuVRT2JeHLwYp4yNOGtnV4u0PA-Hsm-HVpNOjgoJxRzLhYD5_4SOWQgzNjmvdU9ZeOjcRZsO0bmnHFY8tvEX8yLhdF4jN5Xqvv4Ath3MxHRae7_Omu9Z5U85YA9zbutJy-Mg5ui0lVFbwx_VBIsJ0sD97ZGQBbeVqM9q-BN594Pg3uxHVJxHYwzZ-LyQlZPy-Ykx3xfJwJVrYLc3oSsjXxZS5Os8je7CyG7FO9suxPZspWOgQImTBjP53tNCef-Z1RvqiYOm4lYHkENMxf4wUuZxGHdcBmHVJboFCFZJZ2aSDqRtxoRSkqSjSDuo3EUUn8l2qUWCXmMPWQykXV_V6jdWDknF5HDX6FyM=w1024-h562-no">
              <div class="caption runForecast-slider-caption center-align">
                <h4>Run Forecast</h4>
                <h6>Weather app with City, State search results</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/_jPKF9UyadV4PH68FMhpe7RMdTmA8TfGTDEns-Ebt7XPPOiQddv7HGcbr2ZkTt3V8bToc56zsBRsEQw5phze55fCMG_-IUhBnq5bgSYRyDZtDqjXpxR9BA7PRFUlondf2dhfglm8OCWpxjPYHJPIvqpMf9zY0ufU_crHHqlSSqWDB9_ZUuEqMtPxEIeZiufntvwtun5v-mOFNzrqtx9jGlCRxTKFH_XiVcmVmIdms5Wb8HcEqK2KsLTgksXYMKSL6cYqiOb6oa2pP4o2LvFfMabWZH0aqjBe8lcyUjJjZzGcwDeWVZK-O0cNNiTBVHGxFLbbITEiL1Q8Cy9z3pTLrL4Fj49rqLiwacNRKlqS19ULPkVNLIqv5Md4srVJWoPyuypAtzoPgMaXoaKcxK5D4RzDNWTTndnPTTsZNUq3U-NUa9ovjAvKrE7o5PMrRkTk342_RdnwkE1FfiAiz59Cu74CYd9irDHFkvETbTdFaR3PLl5aHzEunaKE9ityFQm65RzTqd_RVFPx9OzmhMje-AeNuCfX0jzZmjYNQrvyCpKielybJ7Cx9HZeL_PKA0SNdsKQIgtme_9ejHifGuvpffPbU6tsI-eo6WBcYCOQbHxMDqkHs2SC1cNEoEuCkW5eQp1yfInGw6Ma0HVGGvoHUcv9KzFaPWo=w1024-h562-no">
              <div class="caption runForecast-slider-caption center-align">
                <h4>Forecast</h4>
                <h6>City State search results forecasted over 5 days, every 3 hours</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/V-R4yI-jCN_HZFbQzuamCU2oqm9hqu6xLh1wRR7OuVUt42AaAjOmFPdAweW8e0qlpYXQZFguP7aXWQzXsGy6WGNOJwNrNh1pXTA8tL5y2RMwHx7F22f90dg_VC-WOLp6at0mM3BOUsz43UFFDShY6Gaha-z7Z0V6fvVCe1cy6Ac6d9rpg4A2UwxeVyn2m3uLl_zHe958DTPOl8WT6PZKqx7Z4xLkMAsG5gOKonzANK9jXXrrZL9L8GUDn1VH7lL0grziM77MchByqhcr9jKC_KeLFMFJ8PU6f45j1eGzn9fEhN6KcjqnWLrTB20pRsZzJj9j6uIphpqZPeUa3xYL-cmBWgBhw8Awqw1Ml8RCEL60qlttoCtKFukF0VWMkhGnwbK0Erw70fujyPW6dDg2V2CKYyfkRosPlWiKXzxJYpV4b5oyKm2iDhpg7eLBKL8K7nNx_YXwCP9i1GWdabx1ebdo5i1KIp-fz2zmmAS6FUPJP-p1Lzrjr1ypD8GuqUMWth2-6zh9z1L7zy6PR640KgiaBldhPAb5DX_cLsJBS1x5j-MdlhvPJ_sfpfLLg82Ygi6-FIIEn7ZjAVOHgCZRmBn4Gww1ZyY9NvaE0_yg7WAW__jzvjWX1NZhIiAyA2A3KT-6YWik7bp_yZ1ZbbgfbyOD6KYCA3M=w1024-h562-no">
              <div class="caption runForecast-slider-caption center-align">
                <h4>Weather Cam</h4>
                <h6>List of weather cams live feeds</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/ZfvIcHH-ywl9Z9UEu3WMxj7R_Wup45MW6VaUNYUjlTZWoVTuxYVSnnQLYUayse1hXwsTDn10YpWVtaoWhrPSwGZgYvtKcHJorbmd5tUJJXprilWEuh2gbW24cCvtLEUUqV1TVMxIx5vvwHAkYW9L9uUC7rTYPKeS7nuehsPNDamdyHhdiq3Frpdvpqz8BEDH6XWBq5dVFTrzOUu7cXVgoWiM890KK7WADZ8TYeOLsHCJiTHzaA1hAvdCUiBlgpi3km_cDvHtguRD5gzUnPR8WIIIlmu1M9-oHkDBPT3PWPc6t9l3Af-zU3ot6I7aVVVTMXdatSfCirrqZNwPWT7qgPw6s6FQzys0N_2DnE3APwgMUev5cw-Eh2b0SLFgjw5fMo21YnIf--HQl6zdHFXaNWP-Ypl8yXQski409tDuC1FYZ20xMdlpN3ana93sGtnP6HhbiWPbRk7sSiru8G6eQQVx4QBz3KxqZDEvrOoHpCQn7x5Q7vuBmzfzTgQhi8xJrDFhDQXF2eiojiBgZ0WcioO_BOmqJMw8ixnWDr4WCnoQOrDtMSFq9r2PAxZRBzf4dX52orQey0j6n8ywWQqPss5TzdPoM1FD0d0rKRDJDKPaxPOfbX92suhXIxU8gIFt7ETi37oDjdikYsiULZbHYN8V3uExNhI=w212-h438-no">
              <div class="caption runForecast-slider-caption center-align">
                <h4>Mobile View</h4>
                <h6>Weather results displayed in mobile view</h6>
              </div>
            </li>
          </ul>
        </div>
        <div class="center slider-btn-group">
          <a class="btn projects-slider-prev">
            <i class="fa fa-angle-left"></i>
            Prev
          </a>
          <a class="btn projects-slider-next">
            Next
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
    <!-- END PROJECT RUN Forecast -->

    <!-- PROJECT VAHALAFITNESS -->
    <li>
      <div class="collapsible-header">
        <i class="fa fa-dumbbell"></i>Vahala Fitness
      </div>
      <div class="collapsible-body">
        <div class="project-description">
          <p>
            Vahala Fitness is located in the Greater Orlando Area and rooted in corrective exercise and functional fitness. With Coach Matt, Vahala Fitness provides individual lessons, 1-on-1 coaching, and group classes focusing on form, technique, toning, bulking, and programs tailored to meet your fitness goals.
          </p>
          <p>
            Built using <code>AngularJS</code>, <code>MaterializeCSS</code> library, and <code>Node.js</code>.
          </p>
        </div>
        <div class="slider z-depth-3">
          <ul class="slides">
            <li>
              <img src="https://lh3.googleusercontent.com/__XvdXChwV49UjWTs2nI0Oep7BWEqHYeqlXzbHg1USMTQdQHhjYt6kOPPWb1AfEL4SKBbixppr9LN4ZCuKWN74APYymapCyCLxbLJJlPkWWHIzLc60FKZUEeJSBdewLQp30lyIFjB5j7s7k_VT278Ni7d21FVD6katR7VUkMHO6-_fRCTG-7YDAhO1fKXKwrKlgfEngm0F371vs4AvdVAxcJ3SIoovwOcaPpF4jFBfdJ1IdTL4T8pO2eNPZTAu0u6_S66BNVT4iB-OOo_IincyC4DhroHcQGNY4O14eBCXmp8hclDHjNAIGwxig23lC_9rqcm9Zlk2JEMb8pKx2N_06K0djO1-BMWRm1on0eUpOky_cKn7BQQBOLkoEuDogjT1z6y7a8WyZGkVjq9UNmadN4bFKXCE-nCzblRduxi_3kg0meYFc4-41VwHWhMIhM1zMdd3fqIwOv2BZWx_lBAbwGfySbikn49S0ZujQ3AAaTE7L4obPRl-Q980OnN5TSaHqTo5QeLuZqI2gt5JhV_qvxppaWE0gFuzMriAL3ye-QZLljGmieR34i1Es3-UwUorAU0eQAi3FNczMiKJ3L4GxK521kq1lwlCoLwrwuL-ir-XYuEc-KMHgMckWmiSzHl09_je70d1ghpgiAXU4PVodKXGLwj7U=w1024-h562-no">
              <div class="caption vahalaFitness-slider-caption center-align">
                <h4>Vahala Fitness</h4>
                <h6>Homepage for personal training website</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/wMslEMriwGVW22IGplZZgtWdzHBY5E0Qo3SyqBrreT7EZ882pQwaAdamtMIBQpq-XeLsu6zJ9fJoHar7umBY7lJvP4k_S-qStLbPtHFZ8P_VL8ALun8tnEViHkGG4dn3ZQMCOs6ty6NYKlHoXUGCKBA_pMPKYufYL5P6Hx-Uzv1xuCf4l6AKvEn0bQXEnX4uY23L6W4q0uJBh7dCHzFXY2AgQpeO-t5oGtNKWFPYjwSP1-oh5Guer4OhMaLR7Q8Scaa7Jaw7AnAZ0Umt9Y67MtJoYwZkpCQFReyKd994No3IIUsAYUi_0E1MmbgoWfotbMdrwc0w-dOlollJAG4eduqi5FpMqxTv36J3Wn_X3WG0z7wEZ8TW9DmYS70dW32bTs1HaBYHgmh0CN2i9jCJDitd3ICk1TXCT-oxY1wKdgK6Ow_pqzF9T-XjL5Hw0LRAUuH7lHSVewy11hMcMi9m-r2X0427lZpTq33y4peqTgUmTjeW9oCH79sDeDnIz6DTy_3LQVxURucgvYepIL2N6pDXqP5g_1UIPRkCgPmazhQbVfdn4bTlTMYGt_UeBs8enSCy-ywvH8w-H7QGk7hwZlC-3IF2CZMWCuX742rEE4u59fSzjoRpyciVGyP9GI1msy3cUtDRNTdDWR70IHEYmmUYBmCX7To=w1024-h562-no">
              <div class="caption vahalaFitness-slider-caption center-align">
                <h4>Athletic Apex</h4>
                <h6>Where Matt Vahala Trains clients in Orlando, FL</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/OtPL5bzTh97YIN56Y26SjrZKLAKQJXyl4t07h452RJMBfu6WFAYEXH5nx1i0D5cQOHDqGMg_U23xnBpBtoyIp5c3ZFFK0jgyCPWvX8pbRuKDre9QBX4nmvmxaJyPNots0o6iMYPGUYzVXVmxCBHs9dsSQWCWRpG005MCE77atspZjeQ2INTpa5huKQ6ewaK5h-yRoTx3hIgSAQiRhEIFTyH0HUzCj9B4zog7Bozkp5FUvB5U-I9lIzK2Jvv8jufx3NRB8RBUhhN9_AWd2BTpibVcTdbFLCwCrvq24x-9-Rym4OaO-V-dn60z3Y2uzCR807uui9z24-3RVzNcULgW4kSRmLiH5rx8LNMynnHz2zpNOb3sssRMcZ_zNy6T4FNqD5fvyLf0ax2IjgGDEblfEzrTSgG03zj2JvkKxNwPLrAGjKuiYb1jjf4ubp7_Z-zP5sgTkl4DIBb7bWLnfSnB9D5BMpHTGbcFr4Hudsuxqt-_ffVS4y5AU8u9bavjUEw1yl0B075DgXzv_CmN_dAg5suchXD2npsH5D8NiLBZ0r4WnkNMTqcn8_ss7rOWIrLf5oIKSwzeMFW-oDuPf9_VwsxwKKeRqYxAMBEl26JzVjJkXsI1ki1_5_fGw11JBXZZS0MzLwtNp5zvRYbAqAxS5DtpwPxHA2o=w212-h441-no">
              <div class="caption vahalaFitness-slider-caption center-align">
                <h4>Mobile View</h4>
                <h6>Contact Matt form on mobile</h6>
              </div>
            </li>
          </ul>
        </div>
        <div class="center slider-btn-group">
          <a class="btn projects-slider-prev">
            <i class="fa fa-angle-left"></i>
            Prev
          </a>
          <a class="btn projects-slider-next">
            Next
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
    <!-- END PROJECT VAHALAFITNESS -->

    <!-- PROJECT ALLOY -->
    <li>
      <div class="collapsible-header">
        <i class="fab fa-react"></i>Alloy ReactJS Component Library
      </div>
      <div class="collapsible-body">
        <div class="project-description">
          <p>
            Alloy is Vertafore's modular, scalable, accessible design system and the face of Vertafore to our users as we create and deliver a new generation of best-in-class insurance distribution tools.
          </p>
          <p>
            Built using <code>ReactJS</code>, <code>SCSS</code>, <code>Bootstrap 4</code> and <code>Webpack4</code>, Alloy is an internal ReactJS Component library served over <code>NPM</code> to all internal Platform Experience products at Vertafore.
          </p>
        </div>
        <div class="slider z-depth-3">
          <ul class="slides">
            <li>
              <img src="https://lh3.googleusercontent.com/JS5UGIWpOHVidRTh1MK17RHUjJneT1YRTmxoLgZdvLIK6HizSOctDMe9LTBXMRX7llhHV_0GJ1QG2skC4OKld5Euj4YxAaoh9M-TaW0848bjIZKldjeK3Ief3_ba5VLW3BjviL5oBWIEV3iPHujZ3d7SXAx0Tn2_1RSE-JRc4eQrjlzDVl2qVoa5Cew8tzdxOn75R4NEgmdW8oOdl4lHqyhaWm-zyaiJtc5I7XKWMQYeMtgSyRneGtrMJBoq6z00NRsSCBm1DGkxxBvccAeHTvUvuI17cki0BMQIFvjvTKkr07CcSWL-ruh7cx5wPwW_UdImbVhSRl4BDIJ_MSZ7CneNKqCWfhvRVXncHR1TNaAthXScPKsl5VkZZwEvmZsL7YsOShcuopavuooWxLOi7WHcTqYf52XeAP-6wbVlWrAY9XeHX7w5dpQtgkF_vPvvOrNvFgpmPgYm5zcp20hewEzvqTtaG6Atk8OP8TIA0UKRiaYT7_B9H3P1poDLQLVzleAjd9ggGbDlMbMU2DFsrFGZ1LJMrtX9D4KN_zgAB3EyXAQvBqK2Rh4j9MOtfA43wNtj8a0JuamKuYg24CJ_w4W_za0r_PHch5qxtCXlBCUiDRd0iOvooyZrXZZLTRxy0pmtxp5L1pxvtScVqY1HqUFIV0finhk=w1138-h711-no">
              <div class="caption center-align">
                <h4>Alloy Design System</h4>
                <h6>ReactJS Component Library Homepage</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/L9g79ahgv0g-z_5ySqCHJKN09jYCfns5IPjL4IBEWuiNs76fGxqWnheax5G3CbhRdlihJUqMH63eYA0Ws9OVx-fQhMgK13vZf7WEgBRjS4iequUEJOpGoRWHlQYNrXtdZYaN5Ibo28wpqowuedjNDSEsZgV3_qseLkiHs4icp-8ndyV1ZK6utQVMJHCyCMTbreY2otNWzZuLV5sh2MdGlqjmsLlqVZDUV0ityFCy4aOUWC-nHhFL6RmT7YZav9L17zPBGDJa9QICUequ9L890ECwWgoEmOaA4ZVgO3DZJjvie4J3VYSyAxRwuRZlUeqQy1YIeJpZXLF3_8cXLwYdi9mQHfQnPi7E8KpBPJ7Nk8teuavHWxCzBTRBXT9HXSO83YQxvn-xMTSAwPrsl1Thh3vZ37AFLS1-6AlX1njmLg_RKzrPc2_R-Q1iexXTmJpCBeZxYOuVGhs3pmYNlW88xXdDGy-0w7Y1zYBfTGPNGKVprb6xN1IvZX4M1qjT0deQh50HsAm2MZerDvXA0Y1-4NqJO8moaFyJ3BfB0hvh7xoir5saF6NWg6eWFSY5LK37KA_3cuNzlLfu4ZvolnDJOTL7XnGcabiAycDe9JbCyKDih_6i2pdc5drn19j9UiYBzaxy6ucC4R-EcrRDCxrKh_Y1iJyjKDw=w1024-h641-no">
              <div class="caption center-align">
                <h4>Date Range Picker Component</h4>
                <h6>Example component page layout</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/OZ9OEFaUwV2qcUy10ZBXy3Z7rjqqUSFAyxUJgUhK2yTsU8MznroNUg2lbmxvqoEGOxjLezMHMSXJfQhKQZSjYTbv5wlwYyqGPRQE7Wv9m89rFMkBwlicuQhfBB6g1NRaiPjkfdH1hIUBvMCPvhiGLcrrNzd7I5R702-FS-jGTC1DOMTsMbC_Pa1Sn0EwoJtpi3P5raYq4IZUjrUb8KL3s4c_mIrhoHZT5NLxiV2GifO70orQN0tK1c3G_KNWExiEG-aUH4YHIe84Ig0P_CQ9v6LMC6JOOCFck08i0ztGdxTMzYMEAaN_HFpzlh5Gn2X19bCAUrlgSNZJ4bRxCec2-lWKzHb37Dfcq65FkR-LpJBWeZW0tDiS8a9h1SpOli2KEwEExCvbFEXo92NynqrvSxiXkWyVJv5grWtv8AjX3uRw6wM0xAeMfeYBWuk7yhawU0NRY1KVIyFYy7a7W_i9k7oMN9w1dVFww4AKq-NvziGR7knSzsssJ6NEFgrk-yLMxydi9sFohnvfdjs8nNtvpAbibGU6glGzGUgT6iwWHF7rCtgyIN7O2GZvIfvbY0mV00iMb7yZja2U4knjI60Sal7njiSNxu8Z3io42Vl0IpKUvsGYIaChR98DqfW8IYrLriyuzgTZC5L2Xc6rbmsl_GH1dK9HYeQ=w1024-h641-no">
              <div class="caption center-align">
                <h4>Design Tokens</h4>
                <h6>SCSS Variables within the design system</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/MxD54bJe6ZJdlDLX1XbsNc6zYqyc5QFvoQLbgDXaYvvqhkcxLdo1Le_fg9pNO7Ah23ay_Adfccxbq7GrLi_T0SUhBDMXjA0WWqlT-7B_ibjzTAqTUlZwQZ71f0McboIEm7Q6K97EVQitf_hhk-7aq70_B9YU5-DlRsw2ZUbsL6nsQweRd6nrYgVk65YNrCGScr8b8CYidDGOYChAewq8iipVt9OQb-U3m9CqiauqNzGdSXtUFnQ_Y3bUCMSvKPfHMonXaI-LnwhsLLkMPOxhisf6nsRmlwvlpepMWqtqxCTcL2aMyaEhil0uiiVO3Q84IQwbqgqrNulLw92NP4Da9j4hvwlsxRqzNsXKPFpBvd3D8_0sq370zjMyRRt7jb_HrS5uuWN-BCOa4YxR7XHTGK9ki4cV_VHMYrg5QpCM80VZVnRCqRW2ANJ5yX0VtfYigPxrm1_h4KTDg1LGmMDdwKG5Rn2NTKwRzQk3lrnRtcAWs4khp0A_2fxDAr79f7Qv4RvMtn-xevJQrGjslcKeJQ2o7HpaS80fYyyQBgdqX3Qo-QJt3WB6iYsePBc_PgVDlkJPlohvdL_ZsFs8XJpgAAjSUHhx6HXjQAqNKfP-YpZSSmeGYe3S_tXLB-1NhpNUTm4sFGfbctthC5goeE6-fp_w1xYcrfM=w1024-h641-no">
              <div class="caption center-align">
                <h4>Accessibility</h4>
                <h6>Design System page detailing accessibility standards</h6>
              </div>
            </li>
          </ul>
        </div>
        <div class="center slider-btn-group">
          <a class="btn projects-slider-prev">
            <i class="fa fa-angle-left"></i>
            Prev
          </a>
          <a class="btn projects-slider-next">
            Next
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
    <!-- END PROJECT ALLOY -->

    <!-- PROJECT SPOILERS -->
    <li>
      <div class="collapsible-header"><i class="fas fa-podcast"></i>Spoilers! Podcast</div>
      <div class="collapsible-body">
        <div class="project-description">
          <p>
            Spoilers! is a movie podcast that reviews new and old film.
          </p>
          <p>
            Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!
          <p>
            Built using <code>JavaScript</code>, <code>JQuery</code>, <code>AngularJS</code>, <code>Node.js</code>, <code>HightCharts.js</code> Librar, and <code>MaterializeCSS</code> (Google Material Design practices).
          </p>
        </div>
        <div class="slider z-depth-3">
          <ul class="slides">
            <li>
              <img src="https://lh3.googleusercontent.com/gU_GfvJe7rpHtDgKIS0u-QmDVhek1blo8NHhp0oFvRjOi9CHDPduWlbz6veq1VjXUnViwNfegYvsH9wbptZUdMDK4joh8kHanzcqVmdUAu_HaIUyx_QuHHrYjGrEdHFiXqmGyoRbe4AED7zfv7apwqKk8cu_BgAMaOP2LPgB1UU7RLPfhpB_aQJ7YGX5dJLduMRNm1MRpkduhJXmoluab3R2p2lyfEhuyoaNBIPjZ5MZXRDCJslma3ZaXhtajiJraDdbgvKOnDAwaZ4GNrnUJxVNzjOdp5JnAEgMn3aSXYTNLzTOL1KzcCsCXtriZwbrjrFOb5tt3h7yuvsFIrdjv0D0crkl2VLHtCXmIBVLvDHtipmF4R977JlGfDyuTvlYjRkhGUwLVykG5yhgDwQd8q8tO8TWjd5a2pSFbY7C8GpaXT_LYGk8TabPCrBZXxerxE4KeDC7C1Z_sbrN3Aqc73-4aFky6fWWt8SpiI9Y1mfOgZ-A4Joho5GAHCfV91q1kKaeYv849vwF1zPMr_Bg0lJwww-Kv6HpKOvRER0z1QSZlC6bPBd4LtCpvpxG4c7O5oBEIZ1fUBUiXAhyBzzcy3Ys-Xnq4cOrwLGRGoOfDoHlvJ30FQCahC95-JuBxwd03NsTDAN4DWqWwe8235_IIGxJmE-xrHE=w1024-h562-no">
              <div class="caption spoilers-slider-caption center-align">
                <h4>Podcast Spoilers</h4>
                <h6>Homepage for Spoilers Podcast</h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/gYvPtc8MF5BeT3q-wcyYtzx2YxudouHJcz3gRPtJB3v6yYjnL8aWHCIumNx3tCfOx90FhzjNbOs0jn1YZArz-_xGcJYUmlbjqA4yWabd0pc-j0BIIeL0-uP4ujwyGrScLch-Zt9Vs6n6b7gNMkUn0giTx3szK04CMIXBEftqGWCbZ9tKhoww-8ptfTsuH2k8gbL96ZEakQiGJ44l4vY2eRFEg2Xd0tOxPQeILEAe5PJd59QwNFh_BzQCnQWFwsVuUoOxfs2_2rRYWDTLsYCBBzF-dU40auR7fHozAmVG1R__tK_zcyUBrXSTc4fSOzPsR719P0kwJgKhbxNV0as17TTRdixyEIjWwVUM4NiGWiWUXuQ00imtND6j8RVvWLxhbl_zItRsWwvVcA0CCHF2NWDYnMeFkMgihAHeUe6tKWwHXBL1CgHNXQ4MhVOIdp03qbWwp5go3Uy-fvGLKhuCzo5MdikiwDFUJajASPq7X1lYAq3J5_xr4yvc4OUSXByRUkBOxTvTaOWT65xwrA2Gqne0HU0kdnSQev0x4iJxzxs6OxFtBi3nuDe7G1zUtJXct5A_bkS4R_m6epHpoeBk9iayl_ctMUZJNAIXGYNo65p3ERKRzZPUk5jEzmkQbvL0BtzGMEozx2fIJeGdQxKREBfgv1SG-cw=w1024-h562-no">
              <div class="caption spoilers-slider-caption center-align">
                <h4>Spoilers Stats</h4>
                <h6>Stats page for Podcast Spoilers on-air content<h6>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/cZVo0fslz_SPEmvAJ9wg2bGXcG3ZKsoN4fFhCGlhnPh0fusSi7Fh_ZgPjJp9qdDDIOxZjnR9sorwKbUNVevCWwUaxoX_zhouufj73yGdw3KCl6raGHzlB8-C0dXrcKlWk7hIXLw6rA2I94aqe5wyJ780lG6Ws0RR47Js1IDKigcNFqAAKHxV15t9ZpqOgjmP_kZizdVfavpKa8_xgcSNJd5WEbWyz4cZY9_HQnvi8o1wb2LOtn6B5Udk4qHAcIsiLA0EzFlkGjlIHkalM1nYVF7ok2yEgPtxBhmqGGbNeh-U1P4IyBPtoSDMB1yzWnZrELWLJ_7vM0oObM8DtYdJYq8WWI6nCL-KGr7lbvkoYTHmSoQ3vZYm6Zaqd2dyUDGh9SCdkzU6sl7sjCPGnPF3jsSfVFrRWVtsIDL4P9ImidVwg5YTb3DsBfJtB_DQiLyJfID2KgdMsaOfwhED9KdmYxJOA5zPunQ8mne_CV-4gCUVJTiFbIP1bXDQrTd7fDzeI5EIH3kaqBLl_CUaDwqusdX9AXGiqCdfhCcY9g3zWzD_l8sccRhYEcohGY-qu8aH0Eiiq6IL624rh_ELZcttd4GnajTvLFqpOup6JM7OPxG2oxIido0NUnrKlUtERmIiLHFlZW266UsiF2-3ytLBVp_qX7v75a4=w214-h437-no">
              <div class="caption spoilers-slider-caption center-align">
                <h4>Mobile View</h4>
                <h6>Podcast Spoilers Mobile View of the Collections page</h6>
              </div>
            </li>
          </ul>
        </div>
        <div class="center slider-btn-group">
          <a class="btn projects-slider-prev">
            <i class="fa fa-angle-left"></i>
            Prev
          </a>
          <a class="btn projects-slider-next">
            Next
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
    <!-- END PROJECT SPOILERS -->
  </ul>

  <br />
  <h6>The Older Stuff</h6>
  <ul class="collapsible popout" data-collapsible="accordion">
    <!-- PROJECT BETA CLIMBR -->
    <li>
      <div class="collapsible-header"><i class="fas fa-gamepad"></i>Beta Climbr</div>
      <div class="collapsible-body">
        <p>Beta... climbing jargon that designates information about a climb. In rock climbing this may include information about a climb's difficulty, crux, style, length, quality of rock, ease to protect, required equipment, and specific information about hand or foot holds.
        <br /><br />
        Beta Climbr is an infinite-scroller game where the main character, "Cliff C. Hanger", dodges falling rocks, eats Cliff Bars, collects ice axes and rope powerups, all while in pursuits of that once in a lifetime climb.
        <br /><br />
        Built using Unity3D Engine with C# Scripting; this game has 17 different C# scripts interacting simultaneously to get Cliff C. Hanger to the summit he's always dreamed of.</p>
        <br />
        <p class='center'>"Mountains are not fair or unfair, they are just dangerous." <br />--Reinhold Messner, Italian mountaineer, adventurer, explorer.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger btn" id='projects-view-btn' href="#projects-BetaClimbr-modal">View App Photos</a>
          <a class="modal btn hide-on-med-and-down" id='projects-view-btn' href="https://beta-climbr.firebaseapp.com/" target="_blank">Play!</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-BetaClimbr-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Beta Climbr ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Menu' src="https://lh3.googleusercontent.com/X1O_PH9MpEsvySd2-30iZ5vwiaBMknf1eKq5_2UHvQzwuVK_zAw3oZqw65xUjnoU0aqTN5O5a2a0MLBXUW74czhHUPabP6rctJ-LYSRjvrEHjMKE24vrigc4MOgDjjCrssGdQV4SOaKvvKgXlGfGpA6aGT5uxcuCP3PuMiNol21a-7fucDb1JmEyj2m6dZUzcMK53QaQQFS0sc-651ZnHUl27maqw3vCFvN-aC9NCqIQtzHsxnAJst9LcsceXakXqEcQpQfO_fnsy_obH2fpKRtOu3190HRv8htXibcYUBaP8O3Sm9dOWmeXhYkMlWEZPOa5VbTfGEvmmvDgtz539JKn9KBdkQpZerJw-Advp9BcWPacPm8FbXIIjBWI7HEsQj_4tbLLTDe-AenSHHCY3TSVuZWzCsMwRhuRFXHLqyE73QRNh9zoHfzNgVXUBSspsJ5J3l5JLmcKTTiOkrUSLVqThT5nQnKpbog_TQOg0rFL6k-8fBDgCKwtIx62rRvKQomqiLRV9YliL3eJYIP7s0dNkbSIFxaN1Gj9tJX5bKs-Y9qteS8v8PLCjp9p-jd1FxUeItGbZBK-_ifhMiIezP0Hqr5EgdSCAsnKtQ3_8A=w960-h600-no">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Menu</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Gameplay' src="https://lh3.googleusercontent.com/EPqKlBWI588xradQ44QpeLiYPjrpPQYQObneB8KuXl5K_ej4DVWDNQSyzpVnJMy8oX2VX2kqMEaYpGdaA36MHhHOb3ITKSWD5rzoD0RwwzdxMRScXLS6qnyF3nsTUqv_HPb_8Sg-KDgFEqX6_6MQvznUgDis5NFdACF8PIow8pFI4WrfmYZ0CnDJGPkEfdwulG1Dj7-VuDXv-Abu_bP9tX7Uacsorf18t0rQvp1QlgWpqqbk6rh0pU_rLNex6aJXV0zOl8AoGol36KukzAJJaNKKXIY5ad7VWPnzmU9ajUsuBqNWb17xhRVg1WmiuGqMbKvmcUb_7Wybp95H-wXWvyswUgSx3sdGrnerE57dF0jZOUfaF64L0yy66BzWn6Qyjkj9mtPHMYumscuT0sxdP0MB_yeZSH9WaeSMeBqgEREu1d-9XH0D_FN1dyCoVixumLLF5vF7Nz5q4okLK1BQE7lvXHNbTBPRa_xa8Xaa1bae4v-Oxn_MFlpEXFfKXOo1zCFKbW6eyWcYkyC8jn22I7lREI7Ir_oX2CiIb3SJOJFQg0RmhV_-OVHVVUeBvPE6q4-Q6xbANT6rg9r67pDZ9KfyWoO79nsacno9-VnlxA=w959-h599-no">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Gameplay</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr GameOver' src="https://lh3.googleusercontent.com/A1ia4q309mSnm7uSHbuz6Tv1RJVVvOjg-vbgY7xGtBUrEH8es5zEK2Wy-rIvJR6LKVl5sXOxGQWQXg9ZskPYSX1pcjKyfnV5Ke5RG3zlRO-SFWiD-8kknYOiHA-GT0XI39PxK_XvmN9TcGTOqMfQlZeYWdCmUljBm-oIc7uFU6_hjcfGF0lXfP1ROu65XG1PJMCfub6Agoxm3XQpk0pTLZLL39ljV1IKTBmOvhP0-3HXw4NuyPYKKlqNFH3EmZB7_i1Kwk1xqlMJ9P3aQf9ICZUGJDwv01jos0R99unOwNroiWPYqY7qbjw-BVsh6WAuHkesOVjawBqyT-1qdKYWV9l0V6E14LX2ujoAFSfVV3hMZK4mLAR_7I5dpcyeXqq8MtSVq2fdM6__mPS2NHAKGVLqNxDBlh9qKNVqdALuQ8kjJDANKxSuECX3yJmuIVAUUA9qF9IXD4nPxt9J1H5Gqry4CNgfS0dAAuxXvtADEXHwT2hCXd1kUAXX__R6zt3II7SU8T68z5gkgChF6EpnnK3qZm1xU3kkIr41nCiMnQ6Na1KG83FzXaenlpTf8dcMDvGJitptWQAdN3pDOsew3A758dzRBkXiD-pb2M7kYA=w960-h600-no">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr GameOver</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Settings' src="https://lh3.googleusercontent.com/wwR-IOLvX2ZsO3-Uc3CIlFRU70SgMd09YrBXVQBr-YoBJLwi3snLD7lB2ULEqr5-9vsx0XKyJpBnSUvJfSHPxfFFNoaDd2XkJvOznGNXWdU6AjIEJeD7X9GW2-6r-hD-K7EKAdAPwOOVNJhRLMzZsdSZCBMeLVNDw_JJpm01L89V6ApqzBmPlIn5d-jGtseKsH9RDKzZaavYyRSvuebomYZbmeXCzoUL8mISWOmg99KEOXINHVtZFfKeBZbVM2By3GkWPlIhl2UUvrAebY1HeqAbQcIVbJgYkLJ0IN3LwE9aausqvQ7yibg5Yp4e7VCKSmBLxG-qjp8VcjOZjl74ExEuzKT2EQ-fuuecT4kcz11A8aFmjluWXiITUSNdlLE0_o3pBjJKEzmZEIFyPyoPSqul8Nhr4LaYq14epU4zNlej4mcFbqpUTN4xXGJQTQzAfhWzGOCqzYU2u0TE4AxRKlDCuYigXuvVx9FZnkVVNb7A-fdMDw4P4DfT7ZWD7lxKgDLMk2ThIMkv6mBD1PdpUIMkXk0xv_3M1sMaXLLOcxLTOS472EbTV4Zsy-B1G9LnpMgIfbcXBKPxKR0t2I7GJjPAE0AkFpNyz5HluytJSw=w960-h600-no">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Settings</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Beta Climbr Credits' src="https://lh3.googleusercontent.com/Vu5TvWMSx1xBc3HwHlAt7k-FDQzn1vpzkadeKwiB0D71Ms6coLvv22rmDtDb1ISpPV3S4yVP2bYpHhchu2wl4rmiRKapJaODF7c6VzEIz6QPNp6lL4xmrkhl9Ta-I_NTZfA_FHDZ6Sn-QwsUC7etVdyuKwfNLT722UdHB4IA_gj5VzTt1AgJq2iD1MLopF6Gpiz3y_nuB1pyG4efhKaZsimmlxGeC6oimVDV2qe-q0lU6dpswijcj5OQkIZ6ZvFLMr66ic75qxaYroezCRE9bqNGasr27JthoU3qmdoYOX3D0gepFLCxwLGd67GJMGsG8b1l82ZfEmXAUQIXzfOX9PebFoIfrOXsa4QRGDs_5c0Q7qKJ8zzwUu3f9GJSKwR_F-usCEIFXgaiqq6VS-rpE725ucDyNZkc4RAR9Hjo4RGW3SL-JUe6djEUvXu5pSKn6XkUpQ5obYofBMcLtHOifbvlPYF8QrYwS2Uyg1wgjTLfZQLhyO-iDbh5wI3gv7MvcOqQKE854gzCUJQgqAtlGOwbeIfMt7lIX08JWWv7AUENU3_gxtta8qfIoacBg9TPO-xEUCa2mXKhdbx_VHKsye7uFv9GMjmqWoqCaOJJ-A=w960-h600-no">
                  </div>
                </div>
                <p id='projects-card-title'>Beta Climbr Credits</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://beta-climbr.firebaseapp.com/" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat hide-on-med-and-down">Play Beta Climbr!</a>
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT BETA CLIMBR -->

    <!-- PROJECT Vahala Foam -->
    <li>
      <div class="collapsible-header"><i class="fas fa-city"></i>Vahala Foam, Inc.</div>
      <div class="collapsible-body">
        <p>Informational website for Vahala Foam Inc. A manufacturing / foam fabrication company in Elkhart, IN.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger btn" id='projects-view-btn' href="#projects-VF-modal">View App Photos</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-VF-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Vahala Foam ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Vahala Foam Homepage' src="https://lh3.googleusercontent.com/reFHaK5yP6mT6GwASn68JD_JiflvGhOZRTNWIulHm2aCH3-ZyIrcvC9W4DS6nJd0kneOtDfIniQglr1Iu-AwNTTbKPlwGIRA-AxXcZdsIPCGq7EnCvF7GSsotIo1O0EO3nR7HFpYBFEFxqj0VjGibw8imA744_3Px2jdfXvWqXRRAg8JHKi_jbtzgULlnq6gWQ6uneziAOWRdMi1mfccC3m7WLo3aXlVaD1cH5LnBUK-G3eKRx8cKaudSwYhmQauHg_MI-svjUxJtCWxOPKlVWsysU2hI2vNrXE-9C-7H2Qls6W97cC2ukhw2Cu6DAzMaQ9_qbDeZCT3zm3IqSmZANRB0q_pF68fap3qULWafpJTsy2Qe7UVJhGnBYYXJ-_beGD3hVg2-WbfqnaecrJkjH4HAbHd9qWHIimwCG2AwckSqTTF_ZVbAjwBQR4IdcIXLM0BYbAcaU1HM2dLZKM4xkUPiN2-I3ZJW2pbPGSO2K-9d0pA-EaIOlcDEkjwgVqbNmXeIz524FAH9JruFTpd4KJuQfCoioIimRUzcs45NdqF4-xiV2lARB2GeSVNhBbrs5oMGYHCaycuFzeOHvg1fiFYpgnr3qLqqWLVme4hyQ=w1295-h725-no">
                  </div>
                </div>
                <p id='projects-card-title'>Vahala Foam Homepage</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT Vahala Foam -->

    <!-- PROJECT SNIPPETTO -->
    <li>
      <div class="collapsible-header"><i class="fas fa-info"></i>Snippetto</div>
      <div class="collapsible-body">
        <p>Snippetto is your daily dosage of news, entertainment, and planning.
        <br>
        <br>
        Built using JavaScript, AngularJS, Node.js, Express, Knex.js, PostgreSQL, and Bootstrap within a team of me and 3 other classmates for our 2nd Quarter team project at Galvanize Web Development Program.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger btn" id='projects-view-btn' href="#projects-snippetto-modal">View App Photos</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-snippetto-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>Snippetto ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Login Page' src="https://lh3.googleusercontent.com/JhR4ryX1uEdLNt91dZCqtSJ1Vvm_Z81gxjiacCQ6o6kI40p53bNvuAVY8ygEf927WfagSNCVz2bF66o8cwYqTcodZZ35AGG2J5THPyIHA00QqpitFKKTylqNv2l6sqKfYT0RoJLdmlYQiT-xgeDEN6vzXKSb3_B0Sm0V-lO0128enYaoSS5JJciSksCZJ3Ecum83Al2ekMISpReAihWJYutjlDIhDxbfNW241ZlNtiMfEGwu7jgyEive0o8lqudb28JdFyrGbfslMwzyko5kSToZSLAck-zCSZaBCkGXS0FBxT2ks_ZHFUhcVPxZ8qiucj9FqX7oKfVsOZhscbOR4CjgHD7RDPL5PcxVmVE8CP5Vq2ED3JLRzu345WDNS-YY60FnuaxJM0xCwLDneEcK3LwJ-4CndVqNAgXe_UAS4hNR-cksbd9YXDfEI2Le-qNoLrYTMGIl-nRBPYTGVIS7I0JzxZXtPy3pT_xIbxMZJYSGWESJQZXfFuB9CB1d0iMls0lX6BIiUDfGE9D82r8Rk3gsBMyAjvh0LirFJ6d4yc2DqjlovoKavMmYJhrUwYa_MKTE2z5vQTsDMNEkrYPJIYL0q_fWWALyMnFtwINLmA=w1440-h705-no">
                  </div>
                </div>
                <p id='projects-card-title'>Snippetto Login Page</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Home Page' src="https://lh3.googleusercontent.com/KWaYnSJFj95F0FTF3Nj1zoLBAyUUMaP4l-vrAa7Wzl5H4bvmMWMG9lq8ZQIWGJo-v4VHwvWWtHjZ_ywiEGJKkuSWrT_t5hpJW23Rkwuw15dK5YulWCyA9yY6eTnxTds7bOkfnPU8TUgWWuhdBhEcdt9EgDoPI4QDWtK5yNFeV1Z4cD7gwpPveL4Vr6xyXI2LWYV0Mgq84xGZPskglFu-k70yv63OBGGK7vURAGlmtqu9gOszuyPJIKm7dda_U96J6vexHYNOaXfq6mv5Rcfc8czmCDJY2KnKb4SF4RvehPbhQxARQj40TPeDx7gDTaRdsIq-3MZ4S79_wtzmkh5fL5B_SlYUHaM2rc_brEmK1YJoQodKqwipRoTKXGEoaG93njp1ipsicZBLwgP3nlwSLsl0i73gpQ5BqyZhf7-DEsuiTGezN3TRolELU4oBpSGr9n3bY0B5O0prjBh_XPrg-D1Z6OEI1KWUYYlfGf3p6WqgSyPucb8DWHEC-bkEGQEN9DKWBUjBwGv_Cp9jHTQg2T6Vz_PJ33ppjn2Dpgb6klG8FZdwz7pt5QLxIHExZ14NR6amLuN29zisdIuvSCh6AqZBtkPbMK7dPZzN8Cq7ng=w1440-h703-no">
                  </div>
                </div>
                <p id='projects-card-title'>Snipetto Home Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="https://lh3.googleusercontent.com/y_qGYyOyp4abprKR06PEBZltMib9ehr5TDdnMChuPlUBOUmDSijJhPKrZWN4frkxxJlmBkqRewidvh0VB6cRU6t7XX8cpVmuYudllwJvi5yvWnUMrx8VQAoXVnkuIjE6cY1fybimqGocGDpCAzSe3exO2tZHmV5G20SsbRT7RAutlDUN4XYneDixOLsyOabWXU0Kv3HNYx2BgdKbuqWZzRm84hGgduw811OqL_MYEM3vC9UdSqjQtWbnaSKLYDye67LXdFSk9zfJgUJefn9w4O7vVqSsxF1mhI6ggaXD_aBMDA-vJPi8-ay0tSRweFQOmGvwBI3UB0BPF1lXZH2UuAvgYE2pPAlgQ4pSnRcCUkWl-BxIFIv5nvataV-yHiCYh7lZ87dykY2TblHlQKyivMR0ExsqXfivZpJvAcSkQuyHbYJvi9x9vB4YrKehY_m_z27qKeV5P1z2I0IVl5sLoz28mZ77zDGfYNn1RxEvwPZQfgCfU60sXQZwSgzrFjpOgkSSWCE2JVl7CQvoDD29Ysgh81Xj3H08UFxWDayFKrUKhEL4r3T39ep9KE2ZkVIdDHpT67ydq_kDYwafcpe6EKiPq_P8tNPFsIyrDOgIPg=w357-h615-no">
                  </div>
                </div>
                <p id='projects-card-title'>Snippetto Mobile Home Page</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat ">Done</a>
          </div>
        </div>
      </div>
    </li>
    <!-- END PROJECT SNIPPETTO -->

    <!-- PROJECT STL -->
    <li>
      <div class="collapsible-header"><i class="fas fa-sign"></i>STL Real Estate</div>
      <div class="collapsible-body">
        <p>Informational site for Home Buyers. Modeled for a group member's family business.
        <br>
        <br>
        Built using JavaScript, AngularJS, Node.js, and Google Material Design practices as a group porject at Galvanize Web Development Program.</p>
        <!-- Modal Trigger -->
        <div class='center projects-modal-btn'>
          <a class="modal-trigger btn" id='projects-view-btn' href="#projects-STL-modal">View App Photos</a>
        </div>
        <!-- Modal Structure -->
        <div id="projects-STL-modal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class='section-header'>STL Real Estate ScreenShots</h4>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='STL Home Page' src="https://lh3.googleusercontent.com/lqok91iMJ2TkHZEDsVKjExm8m95EYwM-YKB304jF2qoDDAF2JJNjuxnxOjK5uBBsjy2KGcOKzEBtyhv30Z9IBtuI-Yx4Bril6xuOe-uU4ag7T04kTmFZdCxRnK-HiXRGtICxRJU1Og7sMEbmQP0dqYqlCHjmjAvNuRg-oKOAu9HH3sdv3xNpNlDJ7JGJV-I0wol7Z3qQiTpM3YBfxv3DNCDYR5RADMnCE1NY7QFRBfCsAZPPMoAXkTnzJusCV8YdhO5Dds8dJ9c9nIFBSeAzZfDnpozUzFk0l208a3nygoJMmKEF_8VVHzTv8DbMMqtaeLHpzzby52X2pxm4S3nI8U70ODVSxEwoMjofucLvlqDXa1gUkHnp17dIJsq-yZsZCGIseGTGB4evB3DmDLT0-2wgaoyVeq0CONBHXwGBwXyZ52mdBwL1lFBXo986MTPkGeZvq32UENaFc3uAkBesjEebA38-1-6QG_LDtLL0bv8ggiFEZwA6_3p1ElFxq4Wb4anjEYqRUaxGU6cKAOqPnoYGePPQCARB_6A_t0Ml-PafIl3M74V0yKMlYbb9Xsgm5VTsUWmCjMyCcbQOn6oaNdL-htNzSFqtDho9PgDMTQ=w1428-h708-no">
                  </div>
                </div>
                <p id='projects-card-title'>STL Home Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='STL Home Page Mobile' src="https://lh3.googleusercontent.com/Qoliu6dTdmOOSycVi5W7Zlqj-uiRHCrrH6u1fJzFBDoWUPWSl5UOZqh0bi4eqw7EI5T0FCwkhpnd-t5xSUmk_2cNYftpbh4fLS2wAUy80ta1DtBLwhldb6BEJOdNXFE5jB9KKHVeX-AujJi665q1lvgFa5YeBugu3Mi_hiNhkbuGL54Rm7bYX1siYQSMfdxXaepXCML6b_ZZ4_u7WZDUgWvjF2ln-eUFBdcjjJH6piUdxP0APZxYrqniT7Mzal8DwJEMtmkBzqyF_pa9JEc3xnU_hmXOFxi4j-WJ2mME82U6bNixrdCp__fG9QHUuxQfs0kbzjYkUCNpRqxixf-An30SHt0FAb4EYif7jU4O21c9HVe9g84UoeofSk8Cldb-OoqpgOcvg0jwRgewI8neTeQG_cBF3_ypH4XReZVwH9Pir3R2mHcff8AGrI94iyp72S99o_9rEOXOt4lootImy2mfA8_0jVX2pe6cCRI0GmQEZyJZazqPkLsoKflxEx63ACjvLdLqFZ8ahPNURUgFIJnbQVQAtYebxF05b8GUDPR2pB-yE9eSaaEA3dSYtdRfC2YwVBa_xFkyWPhtbCw4FXKnXc4CEd_i040dRSc6Cg=w356-h609-no">
                  </div>
                </div>
                <p id='projects-card-title'>STL Home Page Mobile</p>
              </div>
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='STL About Page' src="https://lh3.googleusercontent.com/dE8ac7sB1CZZTVcPSG7XVean9TomDGTcAyYaZGmQ0r9BzB8_M-noeGNMRxi8U4_YBK3WY4G7VQjvN7cmJZWLoJwcI1YmFrFr6dYPBnZu5cfTWC2vw1ttDljB1Iv6f_8riRsz7gk4Xy0FCLuhttj9_v1tz0WTGsYaopgNGAF6Fu0zDWlqwGsuk4augyLEwat4V8HHLBSglopDMmUbqFKpYpXBBSDj6iliz2nuxMmsSNq1tjH4gK60iYEy6aejDPs4xu6cDjEvWMjHM7MtP5Bx-ev-gxLOC8PtG6edHS93zOZAAl15vZ7jyazkZ9-anbfFqd1OgYcRjw6S3lM6RdwQAu7H1YgbvyuCt5tELHE1N9Mllrzsl5E03haEBF1jopKptOQyReBpAawaZccyS7DAEB8WjoC7uyXwutydqBpRtlzXMykEaqiJ_onwR9F3RUMxrt59Yy06jVYT1WFsQkIJRtL_PJIELivP35CUfcoX7ZSQVCbdK0cm6YRbAc-CaUnDW64blVO5sOzApuTEuAUt9Q375_eLJp5BAZRkvPHda3t_YT6sM3jkXcSxgMk7EnJOPAj6agcFqBRGJRAuqtyDhBuM4an88iYp9IuvXNcE4Q=w1414-h708-no">
                  </div>
                </div>
                <p id='projects-card-title'>STL About Page</p>
              </div>
              <div class="col s12 m12 l12 hide-on-med-and-up">
                <div class="card">
                  <div class="card-image">
                    <img class='materialboxed' data-caption='STL About Page Mobile' src="https://lh3.googleusercontent.com/Es6L_flAnRoxNqdgnUXE_5XdzMoUvihfatEE4n6KaKiwEUAc99bk1m1tTA65xGGL66fBoHyXL1nH9YtdZ6S0pO-Ix4hm7Izu8Zc-YASvSWgPIjcGfGUkgWi3uVr2k9B5MjbbZZitLcXxz_BZO15Rr4-6JPMbcjfsCMi1OFZn_21TJaiqkNz95RNZwWrty9eB9YiyWjo6M-w794NIf3tJCU4fWAFgufhBErezKxgQNrI-kUsbCbNZkyuY1Ph380ce87eRDyV_ApkhQYb1Igdv90aceEYpuv22TlXJ60m4QTGTjO25swesW_KQHNwFKdnLSRTd-E2kfG5EsSC3Ok5q5B6VMsXSYxHv3lOj6nZtqCzX9myHzQLiNY1hkWLAqUzKQQQc2e2x-2p1t6vBuDHAaajAdwSRAQVQeuPCfhvxR6XLhV1_7q0sqPgmtaK94Z0q5b5LV61Q9IB0Z84OjnxGLBfF1H2Q6JK6zW1ZFNiUUcu_UYZABU2lZETY-gGDCasTD-Y4NFEsXGpsxXbMgAKqoyyTysj31fZgsUHg3-y4YN3AMiFuLyu3KCIsSYH9UXhUXRov-zzoqfiqzQ3Ki-5nyXZU4NsRN6B_3hNWxHH1rQ=w353-h617-no">
                  </div>
                </div>
                <p id='projects-card-title'>STL About Page Mobile</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>
      </div>
    </li>
  <!-- END PROJECT STL -->
  </ul>
</div>
<br/><br/>
