<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel light-blue">
      <span class="white-text">
        <h3>Project Showcase</h3>
      </span>
    </div>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <!-- PROJECT SPOILERS -->
  <li>
    <div class="collapsible-header active"><i class="material-icons">whatshot</i>Spoilers! Podcast<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
    <div class="collapsible-body">
      <p>Spoilers! is a movie podcast that reviews new and old film.
      <br><br>
      Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!
      <br><br>
      Built using JavaScript, AngularJS, Node.js, and Google Material Design practices all as an individual project.</p>

      <!-- <div class="slider">
          <ul class="slides">
            <li class='projects-slider-img'>
              <img src="images/Spoilers/Home-Page1.png">
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li class='projects-slider-img'>
              <img src="images/Spoilers/Movies-Page1.png">
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div> -->

        <div class="carousel">
          <a class="carousel-item" href=""><img src="images/Spoilers/Home-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Movies-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Movie-Page2.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Bio-Page1.png"></a>
          <a class="carousel-item" href=""><img src="images/Spoilers/Bio-Page2.png"></a>
        </div>

      <!-- Modal Trigger -->
      <!-- <a class="modal-trigger waves-effect waves-light btn" href="#projects-spoilers-modal">App Pictures</a> -->
      <!-- Modal Structure -->
      <div id="projects-spoilers-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Spoilers! Podcast</h4>

          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Spoilers Home Page' src="images/Spoilers/Home-Page1.png">
                </div>
              </div>
              <p id='projects-card-title'>Spoilers Home Page</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Spoilers Movies Page 1' src="images/Spoilers/Movies-Page1.png">
                </div>
              </div>
              <p id='projects-card-title'>Spoilers Movies Page 1</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Spoilers Movies Page 2' src="images/Spoilers/Movie-Page2.png">
                </div>
              </div>
              <p id='projects-card-title'>Spoilers Movies Page 2</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Spoilers Bio Page 1' src="images/Spoilers/Bio-Page1.png">
                </div>
              </div>
              <p id='projects-card-title'>Spoilers Bio Page 1</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Spoilers Bio Page 2' src="images/Spoilers/Bio-Page2.png">
                </div>
              </div>
              <p id='projects-card-title'>Spoilers Bio Page 2</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://podcastspoilers-dd5b5.firebaseapp.com/#/home" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat">Visit Spoilers!</a>
          <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
    </div>
  </li>
  <!-- END PROJECT SPOILERS -->

  <!-- PROJECT SNIPPETTO -->
  <li>
    <div class="collapsible-header"><i class="material-icons">trending_up</i>Snippetto<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
    <div class="collapsible-body">
      <p>Snippetto is your daily dosage of news, entertainment, and planning.
      <br>
      <br>
      Built using JavaScript, AngularJS, Node.js, Express, Knex.js, PostgreSQL, and Bootstrap within a team of me and 3 other classmates for our 2nd Quarter team project at Galvanize Web Development Program.</p>

      <!-- Modal Trigger -->
      <a class="modal-trigger waves-effect waves-light btn" href="#projects-modal1">App Pictures</a>
      <!-- Modal Structure -->
      <div id="projects-modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Snippetto ScreenShots</h4>

          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Login Page' src="images/Snippetto/Snippetto-Login-Screenshot.png">
                </div>
              </div>
              <p id='projects-card-title'>Snippetto Login Page</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Home Page' src="images/Snippetto/Snippetto-Home-Screenshot.png">
                </div>
              </div>
              <p id='projects-card-title'>Snipetto Home Page</p>
            </div>
            <div class="col s12 m12 l12 hide-on-med-and-up">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/Snippetto/Snippetto-MobileHome-Screenshot.png">
                </div>
              </div>
              <p id='projects-card-title'>Snippetto Mobile Home Page</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://snippetto-34aee.firebaseapp.com/#/login" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat ">Visit Snippetto</a>
          <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat ">Done</a>
        </div>
      </div>
    </div>
  </li>
  <!-- END PROJECT SNIPPETTO -->


  <!-- PROJECT STL -->
  <li>
    <div class="collapsible-header"><i class="material-icons">home</i>STL Real Estate<span id='projects-badge' class="badge"><i id='projects-badge-icon' class="material-icons">code</i>See App</span></div>
    <div class="collapsible-body">
      <p>Informational site for Home Buyers. Modeled for a group member's family business.
      <br>
      <br>
      Built using JavaScript, AngularJS, Node.js, and Google Material Design practices as a group porject at Galvanize Web Development Program.</p>
      <!-- Modal Trigger -->
      <a class="modal-trigger waves-effect waves-light btn" href="#projects-modal2">App Pictures</a>
      <!-- Modal Structure -->
      <div id="projects-modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>STL Real Estate ScreenShots</h4>

          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Login Page' src="images/STL/STL-Home-Page.png">
                </div>
              </div>
              <p id='projects-card-title'>STL Home Page</p>
            </div>
            <div class="col s12 m12 l12 hide-on-med-and-up">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Home Page' src="images/STL/STL-Real-Estate-Home-Mobile.png">
                </div>
              </div>
              <p id='projects-card-title'>STL Home Page Mobile</p>
            </div>
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/STL/STL-Real-Estate-About.png">
                </div>
              </div>
              <p id='projects-card-title'>STL About Page</p>
            </div>
            <div class="col s12 m12 l12 hide-on-med-and-up">
              <div class="card">
                <div class="card-image">
                  <img class='materialboxed' data-caption='Snippetto Mobile Home Page' src="images/STL/STL-Real-Estate-About-Mobile.png">
                </div>
              </div>
              <p id='projects-card-title'>STL About Page Mobile</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://stl-real-estate.firebaseapp.com/#/home" target='_blank' class="modal-action modal-close waves-effect waves-green btn-flat">Visit STL</a>
          <a ui-sref="projects" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
    </div>
  </li>
<!-- END PROJECT STL -->

</ul>
