<div class="resume-skills-container">
  <div id="resume-banner">
    <div class="section no-pad-bot">
      <h1 class="header center hide-on-med-and-down page-header">Vince Vahala Resume</h1>
      <h3 class="header center green-text text-accent-4 hide-on-large-only">Vince Vahala Resume</h3>
      <div class="row center">
        <h5 class="header col s12 light">UX Designer | UI Developer</h5>
      </div>
      <!-- Downloadoable PDF Modal -->
      <!-- <div class="container">
        <div class="row center">
          <a id='resume-modal-btn' class="modal-trigger waves-effect waves-light btn" href="#resume-modal1">View PDF Resume</a>
          <div id="resume-modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 id='resume-modal-header'>Vince Vahala Resume</h4>
              <img id='resume' src='https://lh3.googleusercontent.com/3ehVadTgbcKfuh__WBfiJNOr_Jf4lRi5NH-QjOnKi2kpsbQYO0ig9YMnkAa1rYqFolLuRcnWrICBxfnhYdg1EXdBjFAHYnVYqCMOPfGsRxBn9ZV_ofSZWR9rK-RJ-ppKt5efFkLT0qNff3fj9T0JYxxKu5EIwyo1X_rtIZhHoYri_dYOQHgS4i11UYHGTMc3Fxi4hOWcrcNeZFDOPwzUSdOvkfadcT-I0cqG9dYWipZ8d6AdRXoEBbZknL6niVM666fxfrtXaTgsGy5q40TLdUbzRA9nYvBGjwA_Fh3kv81Ji0FiL3yR3C314Y3znxodfXV-ldXB34n1mfoLLZ2bU1lYPHt6Co5LR_NvX656_ddC5MzrhP_VqSrZmd6zpeBJFxHae9674WNVc-W0TYxCnmMOqFoWtV5nSEkV2IEskzY-by4P0W340vbju9-A1eSKfVB2m4lW5D8BqFIvu0bMc1SdMjjEto6PGkJcQM2QEsYA3f4yGBAH4PYOnjCipVVapNz-UzVFuCRh_4Eh42VXu7yc3UloEmvEX7XJQBHb3lmKqyoS8BtCtiwOR9fZV6wgVzp_vnE4Qtx37B1xMHYIBOvBFTADAwTDETdG2UeRtQ=w561-h725-no' alt='Resume Coming Soon'>
            </div>
            <div class="modal-footer">
              <a ui-sref="resume" class="modal-action modal-close btn-flat">Done</a>
              <form method="get" class="modal-action modal-close btn-flat" id='resume-download-pdf' action="https://lh3.googleusercontent.com/3ehVadTgbcKfuh__WBfiJNOr_Jf4lRi5NH-QjOnKi2kpsbQYO0ig9YMnkAa1rYqFolLuRcnWrICBxfnhYdg1EXdBjFAHYnVYqCMOPfGsRxBn9ZV_ofSZWR9rK-RJ-ppKt5efFkLT0qNff3fj9T0JYxxKu5EIwyo1X_rtIZhHoYri_dYOQHgS4i11UYHGTMc3Fxi4hOWcrcNeZFDOPwzUSdOvkfadcT-I0cqG9dYWipZ8d6AdRXoEBbZknL6niVM666fxfrtXaTgsGy5q40TLdUbzRA9nYvBGjwA_Fh3kv81Ji0FiL3yR3C314Y3znxodfXV-ldXB34n1mfoLLZ2bU1lYPHt6Co5LR_NvX656_ddC5MzrhP_VqSrZmd6zpeBJFxHae9674WNVc-W0TYxCnmMOqFoWtV5nSEkV2IEskzY-by4P0W340vbju9-A1eSKfVB2m4lW5D8BqFIvu0bMc1SdMjjEto6PGkJcQM2QEsYA3f4yGBAH4PYOnjCipVVapNz-UzVFuCRh_4Eh42VXu7yc3UloEmvEX7XJQBHb3lmKqyoS8BtCtiwOR9fZV6wgVzp_vnE4Qtx37B1xMHYIBOvBFTADAwTDETdG2UeRtQ=w561-h725-no" target="_blank">
                <button type="submit"><div class='valign-wrapper'><i class="fas fa-download valign"></i>Download PDF</div></button>
              </form>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="container">
    <div class="section resume-thumbnails">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center resume-icons"><i class="fas fa-briefcase"></i></h3>
            <h5 class="center">Mission</h5>
            <p class="center">Providing Responsive Web Design solutions to small businesses and serving as a passionate collaborator on enterprise teams.</p>
            <br />
            <p class="center">Designer. Developer. Team-Player.<br /> Mountain-Lover. Beer Drinker.
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center resume-icons"><i class="fas fa-university"></i></h3>
            <h5 class="center">Education</h5>
            <p class="resume-education-header center">
              <span>Indiana University</span>: Bachelor of Science in Public Affairs - Management Concentration
              <br />
              <span>Galvanize</span>: Web Development Program rooted in the NEAP stack (Node / Express / Angular / PostgreSQL)
              <br >
              <span>Universitat Pompeu Fabra</span>: Study Abroad Program
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center resume-icons"><i class="fas fa-code"></i></h3>
            <h5 class="center">Tech Skills</h5>
            <p class="light center">JavaScript <i class="fas fa-code"></i> HTML5 <i class="fas fa-code"></i> CSS3 <i class="fas fa-code"></i> ReactJS <i class="fas fa-code"></i> AngularJS <i class="fas fa-code"></i> Drupal 7 <i class="fas fa-code"></i> Sass/SCSS <i class="fas fa-code"></i> jQuery <i class="fas fa-code"></i> Node.js <i class="fas fa-code"></i> Material Design <i class="fas fa-code"></i> Bootstrap 4 <i class="fas fa-code"></i> Photoshop <i class="fas fa-code"></i> Sketch <i class="fas fa-code"></i> Illustrator <i class="fas fa-code"></i> InVision <i class="fas fa-code"></i> Webpack <i class="fas fa-code"></i> R <i class="fas fa-code"></i> D3.js <i class="fas fa-code"></i> Shiny.js <i class="fas fa-code"></i> C# <i class="fas fa-code"></i> Google Firebase <i class="fas fa-code"></i> Unity3D</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 center">
        <a class="hide-on-med-and-down" id="resume-icon-overlay">
          <img class="icon-overlay" src="https://lh3.googleusercontent.com/ienoNN2bLQoU1m7pJ1OKLrV7EKQy36GH__D6uHpueH16ZUstvKtd95fZSX1b109mxV7rsaHF41w7WKSYRHI_BZSGFgCvCdfCpavIwjqg6CXnMoDCqJgdvRJc88JdlATZ05JC0mDeyLVkcgdCFvcNJ-Ow0kkCPx7ROl2AoiqtcD36NL8FqTlNVa1tlhOBTjpC6fa-XsKjH0EvgrhBsXJnypbJkrnnaq_EbcRMV1MXqzjt7XyrvbfWV_8IAIwx5Vqejn_o91PJvdITMk5-puJOr_-ZBrBbjfBOcWN4m6fow9bSr_1PmTbWCof5_SliTrgPDPvyALeMzSZBh0tesxDUBNyJregGpVuSpgP7oq2Pzak1t7whMYlk0_GxIqvYo3wlNmBLrIaYYJw6O81aL06KygnPXBLdjF5KpuiHNRY55zF-u61ecgQ2mKMM7Uv2KA-Xx2Gr6IZP0422RvUmVb9TjrQYhGpBFAUMLTAQUWx2ZmqQFmNlg1dFd8Pd4wGpyiWr1izC5qmQ0Hld8z5JTrHrzWWo_UajIVn1pR6_cAd93h6gh5fra8Ay8tnkJ-IIOk3nnHzotDOtjmMCuodPMV4BWoH0hXDfCF2TX_oW-HWTMw=s512-no" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- PARALLAX 1 -->
<div class="hide-on-med-and-down resume-parallax1">
  <p class="parallax-text-overlay">
    N. Maroon Peak Summit
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send"></i></h3>
      <h4 class='section-header'>Work Experience</h4>
    </div>
    <div class="col s12 m12 l12">
      <div class="card" id='resume-current-job-card'>
        <div class="card-content white-text">
          <span class="card-title">Vertafore</span>
          <p class='resume-job-title'>Lead User Experience Developer, UX Designer | Current Position</p><br />
          <p>Vertafore is the leader in creating modern insurance technology. Every day thousands of insurance agencies, carriers and states use a breadth of Vertafore solutions to grow their businesses, process claims for their customers and much more.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card" id='resume-exp-card'>
        <div class="card-content white-text">
          <span class="card-title">E Source</span>
          <p class='resume-job-title'>Frontend Developer & UI/UX Designer</p><br />
          <p>E Source provides independent research, advisory, and information services to utilities, major energy users, and other key players in the retail energy marketplace. Our mission is to increase the effectiveness of our members'​ operations, programs, and customer relationships, while supporting the efficient and environmentally sound use of energy.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card" id='resume-exp-card'>
        <div class="card-content white-text">
          <span class="card-title">Spoilers! Podcast</span>
          <p class='resume-job-title'>Prodcer & Co-Host | Current Project</p><br />
          <p>Welcome to Spoilers! ruining cinema one movie at a time. Developed Front-end responsive website with HTML5, CSS, AngularJS, and Bootstrap. Produce weekly episodes reviewing current Box Office Hits as well as cinematic classics with 3 other Film Enthusiasts. Publish tracks to iTunes and Soundcloud. Maintain Twitter, Gmail, and Reddit accounts. Engage outside podcast hosts of other shows and set up episodes with guests.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card" id='resume-exp-card'>
        <div class="card-content white-text">
          <span class="card-title">Colorado Insurance</span>
          <p class='resume-job-title'>Assistant Marketing Director</p><br />
          <p>Focused on business development through generating home and auto insurance leads for a team of 25+ insurance agents. Managed the marketing team’s email account, being the direct point of contact for all referral and insurance requests, referral partner relationship management, and general marketing inquiries. Produced monthly newsletters containing updates in the mortgage and real estate industries. Emphasized being a valuable resource for professionals in the mortgage, real estate, and financial industry through organizing and conducting continual education courses as a value added benefit of working with Colorado Insurance.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card" id='resume-exp-card'>
        <div class="card-content white-text">
          <span class="card-title">Brooksoure IT Staffing</span>
          <p class='resume-job-title'>Technical Recruiter</p><br />
          <p>Executed the full recruiting lifecycle for Technical Positions ranging from IT Helpdesk, Front-end Developers, Network Architects, and more.
          Worked directly with hiring managers to gather and qualify requirements. Researched and networked with IT professionals to source the highest quality of resources. Screened candidates over the phone, video interviews, and in-person interviews to best represent the top candidates to the hiring manages. Built relationships with contractors and clients to ensure the utmost service and satisfaction.</p>
        </div>
      </div>
    </div>
   </div>
</div>

<!-- PARALLAX 2 -->
<div class="hide-on-med-and-down resume-parallax2">
  <p class="parallax-text-overlay">
    Mount Yale Summit
  </p>
</div>
