<div id="resume-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center teal-text text-lighten-2">Vince Vahala Resume</h1>
      <div class="row center">
        <h5 class="header col s12 light">Frontend UI/UX Developer</h5>
      </div>
      <div class="row center">

        <!-- Modal Trigger -->
        <a id='resume-modal-btn' class="modal-trigger waves-effect waves-light btn" href="#resume-modal1">View PDF Resume</a>

        <!-- Modal Structure -->
        <div id="resume-modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 id='resume-modal-header'>Vince Vahala Resume</h4>
            <img id='resume' src='images/Vince-Vahala-Resume.png' alt='Resume Coming Soon'>
          </div>
          <div class="modal-footer">
            <a ui-sref="resume" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat" href="/images/Vince-Vahala-Resume.pdf" id='resume-download-pdf'  download><div class='valign-wrapper'><i class="material-icons valign">play_for_work</i>Download PDF</div></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="section resume-thumbnails">

    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text text-lighten-2"><i class="material-icons">work</i></h2>
          <h5 class="center">Work Experience</h5>
          <p class="light center">With a background in business, marketing, public policy, sales, and marketing, I look to provide Responsive Web Design solutions to small businesses.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text text-lighten-2"><i class="material-icons">spellcheck</i></h2>
          <h5 class="center">Education</h5>
          <p class="light center">
            <strong>Indiana University</strong>: Bachelor of Science in Public Affairs - Management Concentration
            <br>
            <strong>Galvanize</strong>: Web Development Program rooted in the NEAP stack (Node / Express / Angular / PostgreSQL)
            <br>
            <strong>Universitat Pompeu Fabra</strong>: Study Abroad Program
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text text-lighten-2"><i class="material-icons">code</i></h2>
          <h5 class="center">Tech Skills</h5>
          <p class="light center">Javascript | HTML5 | CSS
          <br>
          Bootstrap | Material Design | AngularJS <br>jQuery | Node.js | Express | PostgreSQL</p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12">A front-end responsive web disigner...</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/Chimney-Gulch.jpg"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send"></i></h3>
        <h4>Work Experience</h4>
      </div>
      <div class="col s12 m4 l4">
        <div class="card teal">
          <div class="card-content white-text">
            <span class="card-title">Spoilers! Podcast</span>
            <p class='resume-job-title'>Prodcer & Co-Host | NOV 2015 - PRESENT</p><br>
            <p>Welcome to Spoilers! ruining cinema one movie at a time. Developed Front-end responsive website with HTML5, CSS, AngularJS, and Bootstrap. Produce weekly episodes reviewing current Box Office Hits as well as cinematic classics with 3 other Film Enthusiasts. Publish tracks to iTunes and Soundcloud. Maintain Twitter, Gmail, and Reddit accounts. Engage outside podcast hosts of other shows and set up episodes with guests.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card teal">
          <div class="card-content white-text">
            <span class="card-title">Colorado Insurance</span>
            <p class='resume-job-title'>Assistant Marketing Director | JUNE - NOV 2015</p><br>
            <p>Focused on business development through generating home and auto insurance leads for a team of 25+ insurance agents. Managed the marketing team’s email account, being the direct point of contact for all referral and insurance requests, referral partner relationship management, and general marketing inquiries. Produced monthly newsletters containing updates in the mortgage and real estate industries. Emphasized being a valuable resource for professionals in the mortgage, real estate, and financial industry through organizing and conducting continual education courses as a value added benefit of working with Colorado Insurance.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card teal">
          <div class="card-content white-text">
            <span class="card-title">Brooksoure IT Staffing</span>
            <p class='resume-job-title'>Technical Recruiter | SEP 2014 - MARCH 2015</p><br>
            <p>Executed the full recruiting lifecycle for Technical Positions ranging from IT Helpdesk, Front-end Developers, Network Architects, and more.
            Worked directly with hiring managers to gather and qualify requirements. Researched and networked with IT professionals to source the highest quality of resources. Screened candidates over the phone, video interviews, and in-person interviews to best represent the top candidates to the hiring manages. Built relationships with contractors and clients to ensure the utmost service and satisfaction.</p>
          </div>
        </div>
      </div>

     </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12">...who loves the great outdoors.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/Vince-Quandary.jpg"></div>
</div>
