<h2>Resume Coming Soon</h2>
<!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Peep The Resume</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Vince Vahala Resume</h4>
      <!-- <img src='images/Vince-Vahala-Resume.pdf' alt='Resume Coming Soon'> -->
    </div>
    <div class="modal-footer">
      <a ui-sref="resume" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
