*{
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
}
.nav-wrapper{
  background-color: #00c853;
}
#small-nav-icon{
  margin-left: 2%;
}
.brand-logo{
  margin-left: 1%;
}
.mountain{
  width: 50px;
  height: 50px;
}
.brand-logo{
  margin-top: -3px;
}
.page-header{
  font-family: 'Julius Sans One';
  letter-spacing: 6px;
  /*WAS THE OLD COLOR teal-text text-lighten-2*/
  color: #00c853;
}
.section-header{
  font-family: 'Julius Sans One';
  /*color: #00c853;*/
}




/*START HOME PAGE*/
#home-welcome-text{
  font-family: 'Julius Sans One';
  letter-spacing: 6px;
}
.home-icons-container{
  /*text-align: center;*/
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    .home-screen-parallax-container{
      display: none;
    }
}

.home-screen-parallax{
  background-image: url(/images/Home-Mountain-Para.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 40vh;
}
#homeHeaderIcons{
  /*padding-left: 1%;*/
  /*color: #2196f3;*/
}
#homeHeaderIcons:hover{
  color: #00c853;
}
#home_row2{
  width: auto;
}
/*END HOME PAGE*/


/*BIO PAGE START*/
#bioHr{
  margin: 5px 0 5px 0;
}
#bioSubParagraph{
  text-align: center;
}
#spoilers-sub-paragraph{
  height: 100px;
  width: auto;
  overflow: scroll;
}
#bio_pic{

}
#card-title{
  /*color: black;*/
  /*font-weight: bold;*/
}
/*BIO PAGE END*/


/*CONTACT PAGE START*/
.contact-container{
  padding: 0 2% 0 2%;
}
#contact-list{
  background-color: #FAFAFA;
  border-style: none;
}
#contact-list-items{
  background-color: #FAFAFA;
  /*font-size: 18px;*/
}
@media screen and (max-width: 400px) {
  #contact-icon{
    margin-top: 2%;
  }
}
#contact-icon{

}
#contact-send-btn{
  margin: 0 5% 0 0;
  background-color: #0882B7;
}
#contact-form-icons{
  color: #0882B7;
}
/* label input focus color */
.input-field input:focus + label {
  color: #FF8700 !important;
 }
/* label input underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #FF8700 !important;
  box-shadow: 0 1px 0 0 #FF8700 !important
}
/* label textarea focus color */
.input-field textarea:focus + label {
  color: #FF8700 !important;
 }
/* label textarea underline focus color */
.row .input-field textarea:focus {
  border-bottom: 1px solid #FF8700 !important;
  box-shadow: 0 1px 0 0 #FF8700 !important
}
/*CONTACT PAGE END*/


/*RESUME PAGE START*/
#resume-modal-btn{
  background-color: #0882B7;
  /*background-color: #FF8700;*/
}
.resume-thumbnails{
  margin: 0;
}
#resume-modal-header{
  color: black;
  font-family: 'Julius Sans One';
}
#resume-modal1{
  width: 75%;
}
#resume{
  width: 100%;
  height: auto;
}
#resume-download-pdf{
  padding: 0 1% 0 1%;
  float: left;
}
#resume-skills-pipe{
  color: #0882B7;
}
.resume-icons{
  color: #FF8700;
  /*color: #0882B7;*/
}
#resume-current-job-card{
  background-color: #FF8700;
}
#resume-exp-card{
  background-color: #0882B7;
}
.resume-job-title{
  font-size: 12px;
}
/*RESUME PAGE END*/


/*PROJECTS PAGE START*/
#projects-card-title{
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}
#projects-badge{
  width: 150px;
  height: auto;
  margin: 0;
  margin-right: 3%;
  padding: 0;
  right: 10;
}
#projects-badge-icon{
  margin: 0;
  margin-left: 10%;
  padding: 0;
}
.projects-modal-btn-spoilers{
  margin: -10% 0 6% 0;
  padding: 0 3% 0 3%;
}
.projects-modal-btn{
  margin: 0 0 5% 0;
  padding: 0 3% 0 3%;
}
.carousel {
  width: 100% !important;
  height: 500px !important;

}
.carousel-item {
  width: 500px !important;
  height: 500px !important;
}
#projects-view-btn{
  background-color: #0882B7;
}
/*PROJECTS PAGE END*/


/*MOUNTAINEERING PAGE START*/
.mountaineering-container{
  background-color:rgba(0, 0, 0, 0);
}
#mountaineering-top-parallax{
  z-index: 1;
  background-color:rgba(0, 0, 0, 0);
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#mountaineering-la-plata{
  width: 100%;
  height: auto;
}
#mountaineering-grand-teton{
  width: 100%;
  height: auto;
}
/*MOUNTAINEERING PAGE END*/


/*FOOTER*/
#footer{
  margin: 0;
  background-color: #0882B7;
  background-color: #00C851;
  /*background-color: #FF8700;*/
}
/*END FOOTER*/










/*RESUME PARALLAX TESTING*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #resume-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #resume-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



/*TEST NEW BIO PAGE*/
.bio-container{
  height: auto;
}
#bio-card-header{
  color: #0882B7;
}
.bio-intro-card{
  width: auto;
  height: auto;
}
.bio-card-content{
  font-size: 16px;
}
hr.bio-intro-paragraph-card-hr {
  padding: 0;
  border: none;
  border-top: medium double #0882B7;
  text-align: center;
  color: #FF8700;
}
hr.bio-intro-paragraph-card-hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #FAFAFA;
}
.bio-mountain-para-container {
  background-image: url(/images/Sneffels.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 40vh;
}
@media screen and (max-width: 400px) {
  .bio-mountain-para-container {
    background-image: url(/images/Sneffels.jpg);
    background-attachment: fixed;
    background-size: 850px 427px;
    background-position: center center;
    height: 250px;
  }
}
.bio-mountain-parallax-text{
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: bolder;
  color: #FF8700;
}
.bio-mountain-ScrollFire{
  opacity: 1;
}
.bio-mountains-para-content{
  height: 25vh;
  margin: 0;
}
/*END TEST NEW BIO PAGE*/
