*{
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  margin: 0;
}
body{
  width: 100%;
  height: 100vh;
}
.nav-wrapper{
  background-color: #00c853;
}
.mountain{
  width: 50px;
  height: 50px;
}

/*START HOME PAGE*/
#home_row2{
  width: auto;
}
#homeHeaderIcons:hover{
  color: white;
}
/*END HOME PAGE*/


/*BIO PAGE START*/
#bioHr{
  margin: 5px 0 5px 0;
}
#bioSubParagraph{
  text-align: center;
}
#spoilers-sub-paragraph{
  height: 100px;
  width: auto;
  overflow: scroll;
}
#bio_pic{

}
#card-title{
  /*color: black;*/
  /*font-weight: bold;*/
}
/*BIO PAGE END*/
