/*SITE WIDE CSS*/
*{
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
}
.nav-wrapper{
  background-color: #00c853;
}
#small-nav-icon{
  margin-left: 2%;
}
.brand-logo{
  margin-left: 1%;
}
.mountain{
  width: 50px;
  height: 50px;
}
.brand-logo{
  margin-top: -3px;
}
.page-header{
  font-family: 'Julius Sans One';
  letter-spacing: 6px;
  /*WAS THE OLD COLOR teal-text text-lighten-2*/
  color: #00c853;
}
.section-header{
  font-family: 'Julius Sans One';
  /*color: #00c853;*/
}
.img-hover-container {
  position: relative;
}
.img-hover {
  display: block;
  width: 100%;
  height: auto;
}
.img-overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(3,155,229,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.img-overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: rgba(3,155,229,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.img-hover-container:hover .img-overlay-right {
  width: 100%;
  left: 0;
}
.img-hover-container:hover .img-overlay-left {
  width: 100%;
  right: 0;
}
.img-hover-text {
  white-space: nowrap;
  color: white;
  font-size: 36px;
  font-weight: 200;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 667px) {
  .img-hover-text{
    white-space: pre-wrap;
  }
}
.img-hover-text:hover{
  border-bottom: 1px solid white;
}
.absolute-center{
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*END SITE WIDE CSS*/

/*OVERRIDES !important*/
.drag-target{
  width: 0 !important;
}
/*END OVERRIDES !important*/


/*START HOME PAGE*/
#home-welcome-text{
  font-family: 'Julius Sans One';
  letter-spacing: 6px;
}
.home-icons-container{
  /*text-align: center;*/
}
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    .home-screen-parallax-container{
      display: none;
    }
}
.home-screen-parallax{
  background-image: url(/images/SkyPond.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  position: relative;
}
.home-screen-parallax ul{
  float:left;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 24px;
  color: white;
}
.home-screen-parallax2{
  background-image: url(/images/Grand-Teton.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  position: relative;
}
.home-screen-parallax2 ul{
  float:left;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 24px;
  color: white;
}
#homeHeaderIcons{
  color: #2196f3;
}
#homeHeaderIcons:hover{
  color: #00c853;
}
#home_row2{
  width: auto;
}
.home-technology-section{
  margin:1em 0 3em 0;
}
.home-technology-section img{
  height: 150px;
  width: 150px;
  padding:1em;
  transition: all .2s ease-in-out;
}
.home-technology-section img:hover{
  transform: scale(1.5);
}
/*END HOME PAGE*/


/*BIO PAGE START*/
.bio-container{
  height: auto;
}
#bio-card-header{
  color: #0882B7;
}
.bio-intro-card{
  width: auto;
  height: auto;
}
.bio-card-content{
  font-size: 16px;
}
hr.bio-intro-paragraph-card-hr {
  padding: 0;
  border: none;
  border-top: medium double #0882B7;
  text-align: center;
  color: #FF8700;
}
hr.bio-intro-paragraph-card-hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #FAFAFA;
}
.bio-mountain-para-container {
  background-image: url(/images/Sneffels.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 45vh;
}
@media screen and (max-width: 667px) {
  .bio-mountain-para-container {
    background-image: url(/images/Sneffels.jpg);
    background-attachment: fixed;
    background-size: 850px 427px;
    background-position: center center;
    height: 305px;
  }
}
.bio-mountain-parallax-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 44px;
  font-weight: 300;
  color: white;
  text-shadow: #FF8700 2px 2px;
}
.bio-mountain-ScrollFire{
  opacity: 1;
}
.bio-mountains-para-content{
  height: 25vh;
  margin: 0;
}
/*BIO PAGE END*/


/*CONTACT PAGE START*/
.contact-container{
  padding: 0 2% 0 2%;
}
#contact-list{
  background-color: #FAFAFA;
  border-style: none;
}
#contact-list-items{
  background-color: #FAFAFA;
  /*font-size: 18px;*/
}
@media screen and (max-width: 400px) {
  #contact-icon{
    margin-top: 2%;
  }
}
#contact-icon{

}
#contact-send-btn{
  margin: 0 5% 0 0;
  background-color: #0882B7;
}
#contact-form-icons{
  color: #0882B7;
}
/* label input focus color */
.input-field input:focus + label {
  color: #FF8700 !important;
 }
/* label input underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #FF8700 !important;
  box-shadow: 0 1px 0 0 #FF8700 !important
}
/* label textarea focus color */
.input-field textarea:focus + label {
  color: #FF8700 !important;
 }
/* label textarea underline focus color */
.row .input-field textarea:focus {
  border-bottom: 1px solid #FF8700 !important;
  box-shadow: 0 1px 0 0 #FF8700 !important
}
/*CONTACT PAGE END*/


/*RESUME PAGE START*/
.resume-skills-container{
  min-height: 92vh;
  height: auto;
}
#resume-modal-btn{
  background-color: #0882B7;
}
.resume-thumbnails{
  margin: 0;
}
#resume-modal-header{
  color: black;
  font-family: 'Julius Sans One';
}
#resume-modal1{
  width: 75%;
}
#resume{
  width: 100%;
  height: auto;
}
#resume-download-pdf{
  padding: 0 1% 0 1%;
  float: left;
}
#resume-skills-pipe{
  color: #0882B7;
}
.resume-icons{
  color: #FF8700;
}
#resume-current-job-card{
  background-color: #FF8700;
}
#resume-exp-card{
  background-color: #0882B7;
}
.resume-job-title{
  font-size: 12px;
}
/*Res para test 5/28/17*/
.resume-parallax1{
  background-image: url(/images/Teton2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  position: relative;
}
.resume-parallax2{
  background-image: url(/images/Vince-Quandary.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 65vh;
  position: relative;
}
/*RESUME PAGE END*/


/*PROJECTS PAGE START*/
#projects-card-title{
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}
#projects-badge{
  width: 150px;
  height: auto;
  margin: 0;
  margin-right: 15%;
  padding: 0;
  right: 10;
}
@media screen and (max-width: 668px) {
  #projects-badge{
    margin-right: 8%;
  }
}
@media screen and (max-width: 376px) {
  #projects-badge{
    margin-right: 3%;
  }
}
#projects-badge:hover{
  color: #0882B7;
}
.collapsible-header:active{
  color: black;
}
#projects-badge-icon{
  margin: 0;
  margin-left: 10%;
  padding: 0;
}
.projects-modal-btn-spoilers{
  margin: -10% 0 6% 0;
  padding: 0 3% 0 3%;
}
.projects-modal-btn{
  margin: 0 0 5% 0;
  padding: 0 3% 0 3%;
}
.carousel {
  width: 100% !important;
  height: 500px !important;

}
.carousel-item {
  width: 500px !important;
  height: 500px !important;
}
#projects-view-btn{
  background-color: #0882B7;
}
/*PROJECTS PAGE END*/


/*MOUNTAINEERING PAGE START*/
.mountaineering-container{
  background-color:rgba(0, 0, 0, 0);
}
#mountaineering-top-parallax{
  z-index: 1;
  background-color:rgba(0, 0, 0, 0);
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#mountaineering-la-plata{
  width: 100%;
  height: auto;
}
#mountaineering-grand-teton{
  width: 100%;
  height: auto;
}
.card-reveal-opaque{
  background-color: rgba(232,232,232,0.75) !important;
}
.mountaineering-parallax1{
  background-image: url(/images/La-Plata-Peak.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 92vh;
  position: relative;
  filter: opacity(.7);
}
.mountaineering-para-text-overlay{
  position: absolute;
  color:#ffffff;
  top:50%;
  left:50%;
  text-align:center;
  transform: translateX(-50%) translateY(-50%);
  font-size: 78px;
  font-weight: 200;
}
.mountaineering-para-icon-overlay{
  position: absolute;
  top:94%;
  left:50%;
  transform: translateX(-50%) translateY(-90%);
  height: 125px;
  width: auto;
  transition: all .5s ease;
}
.mountaineering-para-icon-overlay:hover{
  position: absolute;
  top:97%;
  left:50%;
  height: 150px;
  width: auto;
}
@media screen and (max-width: 667px) {
  .mountaineering-parallax1{
    background-image: url(/images/travel/Redcloud.jpeg);
    background-attachment: fixed;
    background-size: 375px 725px;
    background-position: center center;
    position: relative;
    height: 92vh;
    filter: opacity(.7);
  }
}
#travel-card-current-img{
  width: 100%;
  height: auto;
}
.travel-card-container .card-content > .halfway-fab {
  margin-top: -2%;
}
.travel-card-container .card-content > .halfway-fab i{
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.travel-card-container .card-content > .halfway-fab:hover i {
  transform: rotate(360deg);
}
.travel-card-link ~ span{
  float: right;
}
.travel-card-link:hover{
  color: #00c853
}
.travel-card-content-container{
  font-size: 24px;
  text-align: center;
  position: absolute;
  overflow: scroll;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
}
.mobile-travel-card-content-container > .travel-card-button{
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  margin-top: 2em;
  background-color: #FF8700;
}
.travel-card-content-container > .travel-card-button {
  height: 51px;
  margin-top: 1em;
  font-size: 16px;
  background-color: #FF8700;
  transition: all .2s ease-in-out;
}
.travel-card-content-container > .travel-card-button:hover{
  margin-top: 2em;
  background-color: #0882B7;
  color: white;
  transform: scale(1.1);
}
.travel-card-text{
  color: #0882B7;
  text-align: center;
  width: 100%;
}
/*MOUNTAINEERING PAGE END*/

/*FOOTER*/
#footer{
  margin: 0;
  background-color: #0882B7;
  background-color: #00C851;
}
/*END FOOTER*/
