<div class="mountaineering-parallax1">
  <div class="mountaineering-para-text-overlay">TRAVEL</div>
  <div class="strava-iframe-large hide-on-med-and-down">
    <iframe class="z-depth-3 tabindex-hidden-link" frameborder="0" allowtransparency="true" scrolling="yes" src="https://www.strava.com/athletes/19835017/latest-rides/e7692096308fc2ed6d91e1608b19638ae8f0602e"></iframe>
  </div>
  <div class="strava-iframe-small hide-on-med-and-up center">
    <iframe class="z-depth-3 tabindex-hidden-link" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/athletes/19835017/activity-summary/e7692096308fc2ed6d91e1608b19638ae8f0602e"></iframe>
  </div>
  <div class="center travel-header-btn-group center">
    <button class="btn btn-large btn-draw-border" ui-sref="photos">
      <span>Photo </span>
      <i class="fas fa-images"></i>
    </button>
    <button class="btn btn-large btn-draw-border" ui-sref="videos">
      <span>Film </span>
      <i class="fas fa-video"></i>
    </button>
    <button class="btn btn-large btn-draw-border" ui-sref="stats">
      <span>Stats </span>
      <i class="fas fa-poll"></i>
    </button>
  </div>
</div>
