<div class="container photos-container">
  <div class="row">
    <h3 class="center page-header" id="photo-collections">Photo Collections</h3>
    <!-- Current Trip Card -->
    <div class="col s12 m12 l12">
      <div class="travel-card-current-container">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" id="travel-card-current-img" ng-src="{{travelPhotoDataCurrent.trip.meta.mainImgSrc}}">
          </div>
          <a class="btn-floating activator halfway-fab right" href=""><i class="fa fa-image"></i></a>
          <div class="card-content">
            <span class="card-title activator">{{travelPhotoDataCurrent.trip.cardTitle}}</span>
            <p>
              <a class="travel-card-link tabindex-hidden-link" href="{{travelPhotoDataCurrent.trip.meta.cardLocationSrc}}" target="_blank">{{travelPhotoDataCurrent.trip.meta.cardLocation}}</a>
              <span> {{travelPhotoDataCurrent.trip.meta.cardDate}}</span>
            </p>
          </div>
          <div class="card-reveal card-reveal-opaque fullscreen-card-reveal travel-card-scrollbar mobile-momentum-scroll z-depth-2">
            <a class="z-depth-2 btn-floating card-title travel-card-close" href="">
              <i class="fa fa-times"></i>
            </a>
            <div class="card-reveal-info-container z-depth-2">
              <span class="card-title travel-card-title">{{travelPhotoDataCurrent.trip.meta.cardSubTitle}}</span>
              <p class="travel-card-text">{{travelPhotoDataCurrent.trip.meta.cardTagline}}</p>
            </div>
            <div ng-repeat="x in travelPhotoDataCurrent.trip.img" class="travel-card-content-container">
              <img class="travel-card-image" ng-src="{{x.src}}">
                <span class="travel-card-image-description" ng-bind-html="x.description | HtmlBind"></span>
            </div>
            <button class="btn btn-large btn-draw-border right btn-scroll-to-top" type="button" scrollable ng-click="backToTop()">
              <span>Top </span>
              <i class="fas fa-level-up-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Photo Card Collection -->
    <div class="col s12 m6 l6" ng-repeat="x in travelPhotoData">
      <div class="card hoverable travel-card">
        <div class="card-image travel-card-main-img-container">
          <img class="activator" ng-src="{{x.trip.meta.mainImgSrc}}">
        </div>
        <a class="btn-floating activator halfway-fab right" href=""><i class="far fa-2x fa-image"></i></a>
        <div class="card-content">
          <span class="card-title activator">{{x.trip.cardTitle}}</span>
          <p>
            <a class="travel-card-link" href="{{x.trip.meta.cardLocationSrc}}" target="_blank" tabindex="-1">{{x.trip.meta.cardLocation}}</a>
            <span> {{x.trip.meta.cardDate}}</span>
          </p>
        </div>
        <div class="card-reveal card-reveal-opaque fullscreen-card-reveal travel-card-scrollbar mobile-momentum-scroll">
          <a class="z-depth-2 btn-floating card-title travel-card-close" href="">
            <i class="fa fa-times"></i>
          </a>
          <div class="card-reveal-info-container z-depth-2">
            <span class="card-title travel-card-title">{{x.trip.meta.cardSubTitle}}</span>
            <p class="travel-card-text">{{x.trip.meta.cardTagline}}</p>
          </div>
          <div ng-repeat="y in x.trip.img" class="travel-card-content-container">
            <img class="travel-card-image" ng-src="{{y.src}}">
              <span class="travel-card-image-description" ng-bind-html="y.description | HtmlBind"></span>
          </div>
          <button class="btn btn-large btn-draw-border right btn-scroll-to-top" type="button" scrollable ng-click="backToTop()">
            <span>Top </span>
            <i class="fas fa-level-up-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
